.section_mod_b > .list > .item.def .key::after
{
  content: ' (default)';
  opacity: .5;
}


.b_upload
{
  display: grid;
  grid-gap: var(--pad);
  min-width: 60vw;
}

.b_upload .butt
{
  font-size: var(--font-size-s);
}

.b_upload header
{
  display: grid;
  grid-template-columns: 1fr auto;;
}

.b_upload .drop
{
  cursor: pointer;
  line-height: var(--line);
  padding: var(--pad);
  text-align: center;
  white-space: pre;
}

.b_upload .butts
{
  display: grid;
  
  grid-template-columns: 1fr auto;
  justify-items: start;
}

.b_upload .butts.hidden
{
  display: none;
}

.b_preview
{
  border-top: 1px solid rgba(var(--color-c),.5);
  display: grid;
  grid-gap: var(--pad);
  grid-template-areas: "img info" "img butts";
  justify-items: start;
  grid-template-columns: auto 1fr;
  font-size: var(--font-size-s);
  margin-top: var(--pad);
  padding-top: var(--pad);
  /* width: 100%; */
  overflow-x: scroll;
}

.b_preview img
{
  grid-area: img;
}

.b_preview .file_info
{
  display: grid;
  grid-area: info;
  margin-bottom: 0;
}

.b_preview .hash,
.b_preview a
{
  white-space: pre;
  overflow-x: scroll;
}

.b_results
{
  display: grid;
  font-size: var(--font-size-s);
  grid-gap: var(--pad);
  grid-template-columns: 1fr 1fr;
  
}

.b_results .butt
{
  text-align: center;
  cursor: pointer;
}

.b_list
{
  /* width: 60vw; */
  /* max-width: 100%; */
}

.b_list .list
{
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr)); */
}

.b_list .item 
{
  align-items: center;
  grid-gap: var(--pad);
  grid-template-columns: auto 1fr auto;
  margin-bottom: var(--pad);
  
}

/* .b_list .item > img
{
  width: var(--line);
  height: var(--line);
  margin-right: var(--pad);
} */

.b_list .item details
{
  font-size: var(--font-size-s);
}