.section_p
{
  grid-area: p;
}

.authors
{
  padding-left: var(--pad-l);
  pointer-events: none;
  z-index: 1;
}

.expanded > .authors
{
  margin-bottom: var(--line);
}

.profile 
{
  align-items: end;
  background: 
    linear-gradient(to left, 
      rgb(var(--color-a)) 0%, 
      rgb(var(--c))       100%);
  border-bottom: var(--pad) solid rgb(var(--color-b));
  display: grid;
  grid-template-areas: "pub actions";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  padding: 1px;
  pointer-events: auto;
  z-index: 10000000;
}

.profile.in_view 
{
  grid-template-areas: 
    "pub pub"
    "metadata metadata"
    "extradata extradata"
    "actions actions";
  margin-bottom: calc(var(--line) + calc(var(--pad)*2));
  padding-bottom: var(--line);
}

.view_p .authors
{
  padding-left: 0;
}

.view_p .profile:not(.in_view),
.view_e .authors,
.section_p:not(.expanded) .profile:not(.in_view)
{
  display: none;
}

/* .section_p.expanded .profile:last-child
{
  margin-bottom: var(--line);
} */


/* @group profile data */

.profile details > .butt
{
  display: inline;
  font-size: var(--font-size-s);
  line-height: 1.5rem;
}

.profile details > .butt::before
{
  content: "=> ";
}

.profile details > .butt::after
{
  content: " (" attr(data-last)")";
  opacity: .5;
}

.profile details p,
.profile details a
{
  overflow-x: scroll;
}

.profile details > .list:not(.metadata)
{
  padding: var(--pad-l) 0;
}

.profile_data
{
  display: none;
  font-size: var(--font-size-s);
  grid-area: extradata;
  line-height: 1.5;
}

.profile_data > .item 
{
  background: rgb(var(--color-b));
  /*border-bottom: none;*/
  border-top: 1px solid rgba(var(--color-b),0);
  box-sizing: border-box;
  display: block;
  line-height: 1.5rem;
  margin: 0;
  overflow-x: unset;
  padding: 0;
}

.profile_data .item .item
{
  border-bottom: 1px solid rgba(var(--color-b),1);
  border-top: 1px solid rgba(var(--color-b),1);
}

.profile_data > .item > details
{
  overflow: unset;
  box-sizing: border-box;
}

.profile_data > .item > details:not([open])
{
  justify-self: start;
}

.profile_data > .item > details[open]
{
  background: rgb(var(--color-b));
  border: var(--padm) solid rgba(var(--c));
  border: var(--padm) solid rgba(var(--c));
  border-width: 1px 1px var(--padm) var(--padm);
}

.profile_data > .item > details > summary
{
  padding: 0 var(--padm);
  background: rgb(var(--color-b));
  border-bottom: 1px dotted rgba(var(--color-d),1);
  position: sticky;
  top: var(--line);
  z-index: 2;
}

.profile_data > .item > details[open] > summary
{
  border-bottom: 1px dotted rgba(var(--color-c),1);
}

.profile_data > .item > .key,
.profile_data > .item > .val
{
  background: rgb(var(--color-b));
  display: inline-grid;
  margin: 0;
  padding: 0 var(--padm);
}

.list.list_grid.author_list
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem,1fr));
}

.item.author_list_item
{
  border: none;
  display: inline-grid;
  grid-template-areas: unset;
  grid-template-columns: unset;
  margin: var(--padm);
  overflow-x: scroll;
  padding: 0;
}

.item.author_list_item .author
{
  border: 1px solid rgba(var(--c),.8);
}

.item.author_list_item .name
{
  overflow-x: scroll;
}

.item.author_list_item a 
{
  justify-self: stretch;
}

.profile .server[data-sets]::before 
{
  color: rgb(var(--color-f));
  content: attr(data-sets);
  grid-area: aft;
  margin-right: var(--pad);
}

.profile_data .a
{
  color: rgb(var(--color-d));
}

[data-theme="dark"] .profile .server::after
{
  color: rgb(var(--color-light));
}

[data-theme="light"] .profile .server::after
{
  color: rgb(var(--color-dark));
}

.in_view > .profile_data
{
  display: grid;
}

/* @end */


/* @group p pubkey */

.profile > .pubkey
{
  align-items: center;
  color: rgb(var(--c));
  display: grid;
  grid-area: pub;
  grid-template-areas: "author pub created_at";
  grid-template-columns: 2fr 1fr auto;
  justify-items: end;
  justify-self: stretch;
  line-height: 1;
  margin: 0;
  position: relative;
  padding-left: 1px;
}

.p_link
{
  align-items: center;
  display: grid;
  font-size: var(--font-size-s);
  grid-template-areas: "author actions";
  grid-template-columns: 1fr auto;
  grid-area: author;
}

.profile > .pubkey > .p_link
{
  font-size: var(--font-size);
  justify-self: stretch;
  z-index: 1;
}

.profile > .pubkey .author::before
{
  height: var(--size-s);
  width: var(--size-s);
}

.profile > .pubkey .author::after
{
  background: rgb(var(--color-a));
  padding: var(--padm);
}

.profile .author .name
{
  background: rgb(var(--color-b));
}

.profile > .pubkey .author .name
{
  justify-self: start;
  padding: var(--padm);
}

.profile > .pubkey .author.has-picture img
{
  height: var(--size-s);
  pointer-events: none;
  width: var(--size-s);
}

.profile > .pubkey .pub
{
  font-size: var(--font-size-s);
  grid-area: pub;
  justify-self: stretch;
  overflow-x: scroll;
  padding: 0 var(--pad);
  text-align: right;
}

.profile > .pubkey .created_at
{
  color: rgb(var(--color-d));
  font-size: 0;
  grid-area: created_at;
}

.profile > .pubkey .created_at::after
{
  content: "~" attr(data-elapsed);
  font-size: var(--font-size-s);
  padding: 0 var(--pad);
}

.in_view > .pubkey
{
  background: rgb(var(--color-b));
  color: rgb(var(--color-d));
  font-size: var(--font-size-s);
  grid-template-areas: "author actions pub created_at";
  grid-template-columns: auto auto 1fr auto;
  width: unset;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 3;
}

.in_view > .pubkey .pub 
{
  display: unset;
  margin-right: var(--pad);
  max-width: unset;
}

/* @end */


/* @group p metadata */

.profile_data > .item.item_metadata,
.profile_data > .item.item_metadata > details[open]
{
  background: none;
}

.metadata
{
  align-items: start;
  align-self: start;
  display: grid;
  grid-template-areas: 
    "picture"
    "name"
    "about"
    "nip05"
    "luds"
    "website";
  /*justify-items: stretch;*/
}

.metadata > *
{
  background: rgb(var(--color-b));
  box-sizing: border-box;
  color: rgb(var(--color-f));
  display: none;
  font-size: var(--font-size-s);
  justify-self: start;
  line-height: 1.5rem;
  margin: 0;
  max-width: 100vw;
  padding: 0 var(--pad);
  white-space: nowrap;
}

.metadata .empty 
{
  background: rgb(var(--color-b));
  color: rgb(var(--color-d));
  font-size: var(--font-size-s);
  grid-area: unset;
  justify-self: start;
  line-height: 1;
  margin: 0;
  margin-bottom: 1px;
  padding-bottom: var(--padm);
  padding-top: var(--padm);
}

[data-meta]::before, 
.metadata .empty::before 
{
  content: attr(data-meta) ": ";
}

.metadata .empty::before 
{
  text-decoration: line-through;
}

.in_view .metadata > *
{
  display: block;
}

.metadata a
{
  text-decoration: none;
}

[data-meta]:focus
{
  z-index: 2;
}

[data-meta="name"]
{
  font-size: var(--font-size);
  grid-area: name;
}

[data-meta="nip05"]
{
  cursor: pointer;
  font-size: var(--font-size-s);
  grid-area: nip05;
}

[data-meta="nip05"]:not(.empty)::after 
{
  color: rgb(var(--color-c));
  content: " never verified";
}

[data-meta="nip05"][data-verified]::after 
{
  color: rgb(var(--color-c));
  content: " " attr(data-verified) " on " attr(data-verified_on);
}

[data-meta="picture"], 
[data-meta="banner"]
{
  grid-area: picture;
}

[data-meta="picture"] 
{
  align-self: end;
}

img[data-meta="banner"]
{
  background: none;
  cursor: pointer;
  height: var(--media-max-height);
  margin: 0;
  object-fit: cover;
  object-position: 50% 50%;
  padding: 0;
  user-select: none;
  width: 100%;
}

img[data-meta="picture"] 
{
  align-self: end;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  max-height: var(--media-height);
  max-width: 30vw;
  object-fit: contain;
  object-position: 0% 0%;
  padding: var(--pad);
  user-select: none;
  z-index: 1;
}

img[data-meta="banner"].expanded,
img[data-meta="picture"].expanded
{
  align-self: center;
  justify-self: center;
  max-height: var(--media-max-height);
  max-width: unset;
  object-fit: contain;
  z-index: 2;
}

img[data-meta="picture"].expanded
{
  justify-self: left;
}

p[data-meta="banner"]
{
  margin-bottom: 1.5rem;
}

[data-meta="about"]  
{
  color: rgb(var(--color-d));
  font-size: var(--font-size);
  grid-area: about;
  hyphens: auto;
  padding: var(--pad);
  padding-top: 0;
  white-space: pre-wrap;
  word-break: break-word;
  justify-self: stretch;
}

[data-meta="about"]::before 
{
  content: "\\";
  display: block;
}

[data-meta="lud06"], 
[data-meta="lud16"] 
{
  grid-area: luds;
}

[data-meta="lud06"]:not(.empty)::before, 
[data-meta="lud16"]:not(.empty)::before 
{
  content: "\020BF"  "⚡️ ";
  font-family: var(--font-emoji),var(--font-main);
  font-variant-emoji: emoji;
}

[data-meta="lud16"] 
{
  z-index: 1;
}

[data-meta="display_name"]:not(.empty),
[data-meta="displayName"]:not(.empty)
{
  background: rgb(var(--c));
  font-size: var(--font-size-l);
  grid-area: picture;
  justify-self: end;
  margin: var(--pad);
  padding: var(--pad);
  z-index: 2;
}

[data-meta="display_name"]
{
  align-self: start;
}

[data-meta="displayName"]
{
  align-self: end;
}

[data-luma="light"] [data-meta="display_name"]:not(.empty),
[data-luma="light"] [data-meta="displayName"]:not(.empty)
{
  color: rgb(var(--color-dark));
}

[data-luma="dark"] [data-meta="display_name"]:not(.empty),
[data-luma="dark"] [data-meta="displayName"]:not(.empty)
{
  color: rgb(var(--color-light));
}

[data-meta="website"] 
{
  grid-area: website;
}

[data-meta="display_name"]::before,
[data-meta="displayName"]::before,
[data-meta="name"]:not(.empty)::before, 
[data-meta="nip05"]:not(.empty)::before
{
  content: none;
}

/* @end */


@media screen and (min-width: 1025px) 
{
  .profile_data > .item > details > summary:hover
  {
    background: rgb(var(--color-a));
    color: rgb(var(--color-main));
  }
  
  .profile_data .item .item:not(.author_list_item):hover
  {
    border-bottom: 1px dotted rgba(var(--color-d),.5);
    border-top: 1px dotted rgba(var(--color-d),.5);
  }
}

@media screen and (max-width: 768px) 
{
  .profile:not(.in_view) > .pubkey
  {
    grid-template-columns: 2fr 4rem auto;
  }

  .profile > .pubkey .created_at
  {
    grid-gap: 0
  }
}