#cli
{
  background: rgba(var(--color-b),.9);
  bottom: 0;
  box-shadow: 0px -1rem 2rem 0 rgb(var(--color-b));
  display: grid;
  grid-template-areas: 
  "butts"
  "l"
  "oto"
  "cli_t";
  grid-template-rows: auto auto 1fr auto;
  left: 0;
  max-height: 4rem;
  position: fixed;
  top: auto;
  width: 100vw;
  z-index: 9;
}

.cli_expanded #cli.expanded
{
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-height: 100vh;
}

#cli_t > strong
{
  color: red;
}

#cli > .butts
{
  grid-area: butts;
  display: none;
  grid-template-areas: "collapse expand";
  grid-template-columns: 1fr var(--line);
  margin: 0;
}

#cli > .butts button
{
  text-align: center;
}

.cli_collapse
{
  align-self: stretch;
  background: rgb(var(--color-d));
  border-radius: 0;
  border: none;
  color: rgb(var(--color-a));
  cursor: pointer;
  font-family: inherit;
  font-size: var(--font-size);
  grid-area: collapse;
  justify-self: stretch;
  line-height: 1.5rem;
  padding: 0;
  text-align: center;
  transition: var(--trans-quart);
}

.cli_expanded body
{
  padding-bottom: 80vh;
}

.cli_expanded #cli
{
  max-height: calc(100vh - var(--size));
  z-index: 11;
}

.cli_expanded #cli > .butts
{
  display: grid;
}

#cli_t
{
  align-self: stretch;
  background: none;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  color: rgb(var(--color-c));
  font-family: inherit;
  font-size: 16px;
  grid-area: cli_t;
  -webkit-line-break: normal;
  line-height: 1.5rem;
  margin: 0;
  max-height: 40vh;
  overflow-y: scroll;
  outline: none;
  padding: var(--pad-l);
  position: relative;
  resize: none;
  white-space: pre-wrap;
  position: sticky;
  bottom: 0;
}

#cli_t:focus
{
  font-size: 16px;
}

.cli_expanded #cli_t
{
  background: rgb(var(--color-b));
  color: rgb(var(--color-f));
  padding: var(--line);
}

.cli_expanded #cli.expanded #cli_t
{
  max-height: unset;
}


@media screen and (min-width: 1025px) 
{
  .cli_collapse:hover 
  {
    background: rgb(var(--color-no));
  }
}

@media screen and (max-width: 769px)
{
  .cli_expanded #cli_t
  {
    padding: var(--pad-l);
  }
}