.actions 
{
  color: rgb(var(--color-e));
  font-size: var(--font-size-s);
  grid-area: actions;
  line-height: 1.5;
  margin: 0;
  overflow-x: scroll;
  padding: 0 var(--pad);
  position: relative;
  user-select: none;
  /* white-space: pre; */
  width: auto;
}

.actions:not(.expanded)
{
  font-size: 0;
}

.actions:not(.expanded) > .butt
{
  display: none;
}

.actions:not(.expanded) > .butt.action_butt
{
  display: block;
  font-size: var(--font-size-s);
}

.actions > .butt
{
  padding: 0 var(--padm);
}

/* .actions:not(.expanded) > *:not(.action_butt)
{
  display: none;
} */

/* .actions.expanded > .action_butt
{
  margin-right: var(--pad);
} */

.note .actions.expanded
{
  background: rgba(var(--color-a));
}

/* .note .actions.expanded .butt
{
  font-size: var(--font-size-s);
} */

.note.root > .by .actions,
.in_view > .replies > .note > .by .actions 
{
  z-index: 3;
}

@media screen and (min-width: 1025px) 
{
  .note .by .actions .butt:hover
  {
    color: rgb(var(--color-e));
    opacity: 1;
  }
  
}

/* @media screen and (max-width: 768px) 
{ 

} */