.by
{
  align-content: center;
  align-items: center;
  align-self: end;
  background: rgb(var(--color-b));
  display: grid;
  font-size: var(--font-size-s);
  grid-area: by;
  grid-template-areas: 
    "author id actions created_at x clas";
  grid-template-columns: auto 1fr auto auto auto;
  line-height: 1;
  position: sticky;
  top: 0;
  z-index: 1;
}

.note.draft .by::after,
.note.not_sent .by::after
{
  color: rgb(var(--color-main));
  grid-area: clas;
  padding: 0 var(--padm);
}

.note.draft .by::after
{
  content: 'draft';
}

.note.not_sent .by::after
{
  content: 'not_sent';
}

.in_view > .by,

/* .haz_solo .root.in_path:not(.in_view) > .by, */
.root:not(.in_path) > .by,
.root.sifted_in > .by
{
  position: sticky;
  top: 0;
  z-index: 10;
}

.in_view > .by
{
  z-index: 101;
}

.in_view .replies .note > .by
{
  position: sticky;
  top: calc(calc(var(--line)*2) + calc(var(--pad) - 2px));
}

.in_view > .replies > .note > .by
{
  position: sticky;
  top: calc(1rem + 14px);
  z-index: 5!important;
}

.replies > .note:not(.in_path) > .by
{
  position: sticky;
  top: calc(2.5rem);
  z-index: 2;
}

.in_view > .replies .replies > .note:not(.in_path) > .by
{
  position: sticky;
  top: calc(5rem);
  z-index: 2;
}

.by .created_at
{
  color: rgb(var(--color-d));
  font-size: 0;
  grid-area: created_at;
  grid-gap: 0;
  grid-template-areas: "elapsed";
  justify-self: end;
  line-height: 1;
  padding: 0 var(--padm);
}

.in_view > .by .created_at
{
  align-content: center;
  font-size: var(--font-size-s);
  grid-gap: 0 var(--pad);
  grid-template-areas: "timestamp title elapsed";
}

.in_view > .by .created_at::before
{
  content: attr(title);
  grid-area: title;
}

.by > .p_link
{
  justify-items: start;
  justify-content: start;
}

.by .author
{
  grid-area: author;
}

.in_view > .by .author
{
  color: rgb(var(--color-d));
}

.in_view > .by .author .name
{
  align-self: start;
  display: grid;
}

.by .id
{
  background-color: rgba(var(--c),.21);
  box-sizing: border-box;
  display: grid;
  grid-area: id;
  grid-template-areas: "nid xid";
  grid-template-columns: 
    2fr minmax(var(--size),max-content);
  hyphens: none;
  line-height: 1rem;
  margin: 0;
  overflow-x: scroll;
  word-break: keep-all;
}

.by .nid
{
  align-items: center;
  grid-area: nid;
  line-height: 1;
  text-decoration: none;
  user-select: none;
  white-space: pre;
  word-break: keep-all;
}

.by .nid span::before
{
  content: "k" attr(data-kind) " ";
  font-size: var(--font-size-s);
}

.by .a.nid span
{
  background: rgba(var(--color-b),0);
  color: rgba(var(--color-f),0);
  justify-self: start;
  display: grid;
  align-self: stretch;
  align-items: center;
  padding: 0 var(--padm);
}

.draft[data-luma="light"] > .by .id *,
.in_view[data-luma="light"] > .by .id *
{
  color: rgb(var(--color-dark));
}

.draft[data-luma="dark"] > .by .xid,
.in_view[data-luma="dark"] > .by .xid
{
  color: rgb(var(--color-light));
}

.by .xid
{
  color: rgba(var(--color-f),0);
  align-self: center;
  grid-area: xid;
  padding: 0 var(--padm);
}

.draft > .by .id,
.in_view > .by .id
{
  background-color: rgba(var(--c),1);
}

.in_view > .by .xid
{
  display: block;
}

.by .butt.tiny
{
  font-size: 0;
  grid-area: x;
  padding: 0 var(--pad);
  text-align: right;
}

.by .butt.tiny::before
{
  font-size: var(--font-size-s);
  content: 'x';
}

.tiny > .by > .butt.tiny::before
{
  content: 'o';
}


@media screen and (min-width: 1025px)
{
  .note.root:not(.in_path):hover > .by,
  .in_view > .replies .replies .note:hover > .by
  {
    top: 0;
    z-index: 13;
  }
  
  .root:not(.in_path) > .replies .note:hover > .by
  {
    top: 1rem
  }

  .by:hover,
  a.clicker:hover + .by
  {
    z-index: 999!important;
  }

  .in_view > .by:hover
  {
    z-index: 1000;
  }

  .by:hover .id
  {
    background-color: rgba(var(--c),1);
  }
  
  .by .id .nid span:not([data-kind="1"]),
  .by:hover .id .nid span
  {
    background-color: rgba(var(--color-b),1)!important;
    color: rgba(var(--color-d),1);
  }
  
  [data-luma="light"] > .by:hover .xid,
  .in_view[data-luma="light"] > .by .xid
  {
    color: rgb(var(--color-dark));
  }
  
  [data-luma="dark"] > .by:hover .xid,
  .in_view[data-luma="dark"] > .by .xid
  {
    color: rgb(var(--color-light));
  }

  .in_view > .replies .replies .note:hover > .by
  {
    top: 5rem;
    z-index: 3;
  }
}

@media screen and (max-width: 768px) 
{
  .by
  {
    align-content: center;
    align-items: center;
    align-self: end;
    background: rgb(var(--color-b));
    display: grid;
    font-size: var(--font-size-s);
    grid-area: by;
    grid-template-areas:
      "author x . clas"
      "id actions created_at ."
      ;
    grid-template-columns: 1fr auto;
    line-height: 1;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .by .id .nid span:not([data-kind="1"])
  {
    background-color: rgba(var(--color-b),1)!important;
    color: rgba(var(--color-d),1);
  }

  .replies > .note:not(.in_path) > .by
  {
    position: sticky;
    top: 1rem;
  }
}