.section_e
{
  grid-area: e;
}

.notes
{
  background: rgb(var(--color-b));
  z-index: 0;
}

.note
{
  --who: attr(data-who);
  align-self: stretch;
  background: rgb(var(--color-b));
  box-sizing: border-box;
  /* contain:paint; */
  display: grid;
  grid-template-areas: 
    "after    after"
    "by       by"
    "content  content"
    "tags     tags"
    "versions versions"
    "replies  replies";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding-top: var(--pad);
  pointer-events: auto;
  position: relative;
}

.note.root.solo,
.note.root:not(.in_path),
.note.in_view > .replies > .note,
.versions > .note,
.haz_solo .note.root.in_path:not(.in_view):not(.tiny),
.notes > .note:not(.root):not(.in_path)
{
  grid-template-columns: auto 1fr 61.8vw;
  grid-template-areas: 
    "after    after    after"
    "by       by       by"
    "content  content  replies"
    "tags     tags     tags"
    "versions versions versions";
}

.note.in_path.in_view
{
  border-color: rgb(var(--color-e));
  grid-template-areas: 
    "by      by"
    "content content"
    "tags    tags"
    "after   after"
    "replies replies"
    "versions versions";
  grid-template-columns: 1fr 61.8vw;
  margin: 0!important;
}

.note.draft > .clicker
{
  border-left: 1px dashed rgba(var(--color-main),1);
  border-top: 1px dashed rgba(var(--color-main),1);
}

.note.root:not(.in_path) > .clicker
{
  border-left: 1px solid rgba(var(--c),.5);
}

.view_p .note.root.in_path,
.note.root:not(.tiny) + .note.tiny,
.note.root:not(.in_path):not(:first-child)
{
  margin-top: var(--size);
}

.note.in_view > .replies > .note
{
  margin-top: var(--pad);
}

.note::after
{
  align-self: end;
  background: rgb(var(--c));
  background: rgb(var(--color-a));
  border: 1px dotted rgb(var(--color-b));
  color: rgb(var(--color-d));
  content: "" attr(data-subs) " " attr(data-seen);
  font-size: var(--font-size-s);
  grid-area: after;
  line-height: 1.5;
  opacity: 0;
  padding: 0 var(--padm);
  pointer-events: none;
  position: absolute;
  transform: translateY(100%);
  right: 0;
  white-space: pre-wrap;
  z-index: -1;
}

.note.in_view::after
{
  /*background: rgba(var(--color-b),.4);*/
  /*color: rgb(var(--color-d))!important;*/
  content: "subs: " attr(data-subs) "\Aseen: " attr(data-seen);
  margin: 0 var(--padm);
  opacity: 1;
  padding: 0;
  pointer-events: auto;
  position: relative;
  transform: translateY(0);
  z-index: unset;
}

.note.orphan
{
  border-top: dashed;
  border-left: dashed;
  padding-top: var(--line);
  padding-left: var(--pad);
}

.note.orphan::before
{
  content: "context still missing";
  font-size: var(--font-size-s);
  padding: var(--padm);
  position: absolute;
}

.root.not_yet > .replies > .note,
.note:not(.in_view) > .sig,

.in_view .replies:not(.expanded) .note:not(.is_new):not(.haz_new_reply) > *:not(.replies),

.view_p .root:not(.in_path),

.view_e .note.root:not(.in_path),
.view_e .note:not(.in_path),

.section_e:not(.expanded) .note:not(.in_path)
{
  display: none;
}

.view_e .note.in_view .note,
.section_e:not(.expanded) .note.in_view .note
{
  display: grid;
}

.section_e.expanded .notes > .note:last-child
{
  margin-bottom: var(--line);
}

/* #region clicker */

.clicker
{
  align-content: end;
  border-left: 1px dotted rgba(var(--color-c),1);
  border-top: 1px dotted rgba(var(--color-c),1);
  display: grid;
  font-size: 0;
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  left: -1px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-decoration: none;
  top: -1px;
  user-select: none;
  width: 100%;
}

.note.in_view > .replies > .note > .clicker,
.note.root > .clicker
{
  pointer-events: none;
}

/* #endregion clicker */

/* #region    tiny */

.note.root + .note.tiny
{
  margin-top: 0;
  padding-top: 4px;
}

.note.tiny:not(.in_view) .paragraph
{
  line-height: 1;
  margin: 0;
  padding: 0;
}

.note.tiny:not(.in_view) > .by .author .img,
.note.tiny:not(.in_view) > .by .author::before,
.note.tiny:not(.in_view) > .content > *,
.note.tiny:not(.in_path) > .replies,
.note.tiny:not(.in_view) > .tags_wrapper,
.note.root.tiny:not(.in_view) > .tags_wrapper
{
  display: none;
}



.haz_solo .note:not(.in_path).tiny:last-child
{
  margin-bottom: 0;
}

/* #endregion tiny */

/* #region    versions */

.versions
{
  grid-area: versions;
  overflow: hidden;
  background: rgb(var(--color-a));
  position: relative;
  z-index: 4;
}

.versions > summary
{
  padding-left: var(--pad);
  font-size: 0;
}

.in_view > .versions > summary
{
  font-size: var(--font-size-s);
}

.versions > .note:not(.in_view)
{
  grid-template-areas: "by replies";
  grid-template-columns: auto 61.8vw;
  margin: 0;
}

.versions > .note > .by
{
  align-self: start;
}

.versions > .note:not(.in_view) >*:not(.by):not(.replies),
.versions > .note:not(.in_view) > .by .author,
.versions > .note:not(.in_view)::after
{
  display: none;
}

/* #endregion versions */
/* #region pagination */

/* .pagination
{
  font-size: var(--font-size-l);
  margin: var(--line) 0;
  text-align: center;
} */

/* .section_e:not(.expanded) .pagination,
.viewing .pagination,
.aa:not(.needs_pagin) .pagination
{
  display: none;
} */


/* testing compact view */

/* .note > .content
{
  height: var(--line);
  padding-top: 0;
  margin-top: 0;
}

.note > .replies > .note > *:not(.replies):not(.by)
{
  display: none;
} */

/* #endregion pagination */

@media screen and (min-width: 1025px) 
{
  .aa:not(.view_e) .notes
  {
    margin-left: var(--pad-l);
    margin-right: var(--pad-l);
  }
  
  .note.root:not(.tiny):not(.in_path)::after
  {
    z-index: 2;
  }

  .note[data-seen]:hover::after,
  .note[data-subs]:hover::after
  {
    opacity: 1;
    transform: translateY(-1px);
    transition: all .3s var(--cb-io) 2s;
    z-index: 0;
  }
  
  .aa:not(.viewing) .note:hover
  {
    z-index: 12;
  }
  
  .aa:not(.viewing) .note:hover > .clicker
  {
    border-left: 1px solid rgba(var(--c),.5);
    border-top: 1px solid rgba(var(--c),.5);
  }


  
  .clicker:hover
  {
    background: rgba(var(--c),.5);
  }

  .clicker:hover
  {
    /* background: radial-gradient(
      circle at center, black 17%, white 20%,rgba(var(--c),.5) 21%,black
    ); */
    background: linear-gradient(
      to right, rgba(var(--c),.5),rgba(var(--color-b))
    );
  }
}

@media screen and (max-width: 768px) 
{
  .aa:not(.view_e) .notes
  {
    margin-left: var(--padm);
  }
  
  .note,
  .note.root:not(.in_path),
  .note.in_view > .replies > .note
  {
    grid-template-areas: 
      "by      by"
      "content content"
      "tags    tags"
      "replies replies";
    grid-template-columns: auto 1fr;
  }
}