#e
{
  grid-area: e;
}

.note
{
  --who: attr(data-who);
  align-self: stretch;
  background: rgb(var(--color-b));
  border-left: 1px dotted rgba(var(--color-c),1);
  border-top: 1px dotted rgba(var(--color-c),1);
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
  "by       by"
  "content  content"
  "opentags opentags"
  "tags     actions"
  "after    after"
  "replies  replies"
  ;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  margin: var(--pad) 0;
  position: relative;
  /*scroll-snap-align: start;*/
  z-index: 1;
}

.note.root.solo,
.note.root:not(.in_path),
.note.in_view > .replies > .note,
.haz_solo .note.root.in_path:not(.in_view):not(.tiny),
#notes > .note:not(.root):not(.in_path)
{
  grid-template-columns: auto 1fr 61.8vw;
  grid-template-areas: 
  "by       by       by"
  "content  content  replies"
  "opentags opentags replies"
  "tags     actions  replies"
  "sig      sig      sig"
  "after    after    after"
  ;
}

.note.in_path.in_view
{
  border-color: rgb(var(--color-e));
  grid-template-areas: 
  "by by"
  "content content"
  "tags tags"
  "opentags opentags"
  "sig sig"
  "after after"
  "actions actions"
  "replies replies"
  ;
  margin: 0;
}

.note.root:not(.in_path),
.haz_solo .note.root,
.note.in_view > .replies > .note,
#notes > .note:not(.root):not(.in_path)
{
  margin: var(--line) 0;
}

.note.root:not(.in_path):first-child,
.note.reply:nth-child(2),
.note.in_path.haz_new_reply,
.replies:not(.expanded) .note:not(.is_new).haz_new_reply
{
  margin-top: 0;
}

.note.reply:last-child
{
  margin-bottom: 0;
}

.haz_solo .note:not(.in_path),
.note.root:not(.in_path).out,
.note.out 
{
  border: none!important;
  margin: 0;
}

.replies:not(.expanded) .note:not(.is_new):not(.haz_new_reply)
{
  border-left: 1px dotted rgba(var(--c),1);
  border-top: 1px dotted rgba(var(--c),1);
  margin: 0;
}

.note::after
{
  color: rgb(var(--color-c));;
  background: rgb(var(--color-b));
  content: "kind-" attr(data-kind) " " attr(data-seen) " - " attr(data-subs);
  font-size: var(--font-size-xs);
  grid-area: after;
  padding: 1rem var(--padm);
  padding-bottom: 0;
  z-index: 2;
}

.note.in_view::after
{
  display: block;
  font-size: var(--font-size-s);
  padding: var(--padm);
  text-align: center;
  z-index: unset;
}

.root.not_yet > .replies > .note,

.note.out::after,
.note.out::before,
.note.out > *:not(.replies),

.note:not(.in_view) > .sig,
/*.note.in_path:not(.in_view)::after,
.note.in_path:not(.in_view) > .actions,
.note.in_path:not(.in_view) > .tags_wrapper,*/

.note[data-kind="1"]:not(.tiny):not(.in_view)::after,

.haz_solo .note:not(.in_path)::after,
.haz_solo .note:not(.in_path)::before,
.haz_solo .note:not(.in_path) > *:not(.replies),

.view_e .note:not(.in_path),
.view_e .note:not(.in_path),
.view_p .note:not(.in_path),
.view_e #notes > .note:not(.in_path),

#e:not(.expanded) .note:not(.in_path)
{
  display: none;
}

.view_e .note.in_view.in_path .note,
#e:not(.expanded) .note.in_view .note
{
  display: grid;
}

.note.mining > .content::after
{
  color: red!important;
  content: "mining in progress..."!important;
  animation: loading 1s ease-in-out 0s infinite alternate;
}

#e.expanded #notes > .note:last-child
{
  margin-bottom: var(--line);
}


/* @group by */

.by
{
  align-self: center;
  align-content: center;
  background: rgb(var(--color-b));
  color: rgb(var(--c));
  display: grid;
  font-size: var(--font-size-s);
  grid-area: by;
  grid-template-areas: "author id created_at clas";
  grid-template-columns: auto 1fr auto;
  line-height: 1rem;
  z-index: 1;
}

.in_view > .by
{
  grid-template-areas:
  "author id created_at clas"
  "author id created_at clas";
}

.note.draft .by::after,
.note.not_sent .by::after
{
  color: rgb(var(--color-main));
  grid-area: clas;
  padding: 0 var(--padm);
}

.note.draft .by::after
{
  content: 'draft';
}

.note.not_sent .by::after
{
  content: 'not_sent';
}

.in_view > .by,
.haz_solo .root.in_path:not(.in_view) > .by,
.root:not(.in_view):not(.in_path) > .by
{
  position: sticky;
  top: 0;
  z-index: 10;
}

.replies > .note:not(.in_path) > .by
{
  position: sticky;
  top: calc(var(--line) + var(--padm) + 1px);
}

.in_view .replies .note .by
{
  position: sticky;
  top: calc(var(--line) + var(--line) + var(--pad) - 1px);
  /*top: calc(3.6rem - 1px);*/
}

.in_view > .replies > .note > .by
{
  position: sticky;
  top: calc(var(--line) + var(--line) - var(--padm) - 1px);
  z-index: 3;
}

/* @end */


/* @group a.author */

a.author 
{
  color: rgb(var(--color-d));
  grid-template-areas: "img name nip5 flw";
  overflow-x: scroll;
  text-decoration: none;
  user-select: none;
}

.author:not(.has-picture)::before
{
  content: "";
}

.a.author.has-picture img,
.author:not(.has-picture)::before
{
  background: rgb(var(--c));
  display: block;
  grid-area: img;
  height: 1rem; 
  object-fit: cover;
  padding: 0;
  pointer-events: none;
  width: 1rem;
}

.by .author::after,
.pubkey .author::after,
.note_quote_by .author::after
{
  align-content: center;
  align-self: stretch;
  color: rgb(var(--color-d));
  content: attr(data-followers);
  display: block;
  grid-area: flw;
  padding: 0 var(--padm);
  word-break: keep-all;
  white-space: pre;
}

.by .author.is_mf::after,
.pubkey .author.is_mf::after,
.note_quote_by .author.is_mf::after
{
  color: rgb(var(--color-no));
}

.by .author.is_u::after,
.pubkey .author.is_u::after,
.note_quote_by .author.is_u::after
{
  color: rgb(var(--color-yes));
}

.author .name 
{
  background-color: rgb(var(--color-b));
  padding: 0 var(--padm);
  grid-area: name;
}

.author .name.empty::before
{
  content: attr(title)!important;
}

.author .name[data-petname]::after 
{
  align-self: center;
  color: rgb(var(--color-c));
  content: "(" attr(data-petname) ")";
  font-size: var(--font-size-s);
  margin-left: var(--pad);
}

.by .author
{
  grid-area: author;
}

.paragraph > a.author
{
  border-bottom: 1px solid rgb(var(--c));
  border-top: 1px solid transparent;
}

.paragraph > a.author .name
{
  padding: 0;
  margin: 0;
}

.paragraph > a.author .picture,
.paragraph > a.author:not(.has-picture)::before,
.paragraph > a.author .name:not(.empty)::after
{
  display: none;
}

.in_view > .by .author:not(.has-picture)::before
{
  height: 2rem;
  width: 2rem;
  grid-area: img;
}

.in_view > .by .author::after
{
  align-self: stretch;
  align-content: center;
  font-size: var(--font-size-m);
  grid-area: flw;
  padding: 0 var(--pad);
}

.in_view > .by .author
{
  color: rgb(var(--color-d));
  grid-template-areas: "img name flw" "img nip5 flw"
}

.in_view > .by .author .picture
{
  height: var(--size-s);
  width: var(--size-s);
}

.in_view > .by .author .name
{
  align-self: start;
  display: grid;
  grid-template-areas: "name petname" "nip5 nip5";
}

.in_view > .by .author .name[data-nip05]::before
{
  color: rgb(var(--color-d));
  content: attr(data-nip05);
  grid-area: nip5;
}

.in_view > .by .author .name::after
{
  display: block;
  grid-area: petname;
}

/* @end */


/* @group id */

.id 
{
  background-color: rgba(var(--c),1);
  box-sizing: border-box;
  display: grid;
  grid-area: id;
  grid-template-areas: "nid xid";
  grid-template-columns: 2fr 1fr;
  line-height: 1rem;
  margin: 0;
  opacity: .21;
  overflow-x: scroll;
  word-break: keep-all;
}

.nid
{
  align-items: center;
  grid-area: nid;
  line-height: 1;
  padding: 0 var(--padm);
  text-decoration: none;
  user-select: none;
  white-space: pre;
  word-break: keep-all;
}

.nid::before
{
  content: "-> ";
  font-size: var(--font-size-s);
}

[data-luma="light"] > .by .id *
{
  color: rgb(var(--color-dark));
}

[data-luma="dark"] > .by .id *
{
  color: rgb(var(--color-light));
}

.xid
{
  align-self: center;
  background: 
  rgba(var(--color-b),1),
  rgba(var(--color-c),1)
  ;
  grid-area: xid;
  padding: 0 var(--padm);
}

.in_view > .by .id
{
  opacity: 1;
  padding: 0 var(--padm);
}

.in_view > .by .nid
{
  font-size: 0;
  opacity: 1;
}

.in_view > .by .nid::before
{
  color: inherit;
  content: "<- ";
}

.in_view > .by .xid
{
  display: block;
}

/* @end */


/* @group created_at */

.by .created_at 
{
  color: rgb(var(--color-d));
  cursor: pointer;
  display: grid;
  font-size: 0;
  grid-area: created_at;
  grid-template-areas: "elapsed";
  justify-items: end;
  justify-self: end;
  line-height: 1.5;
  padding: 0 var(--padm);
  white-space: pre;
  word-break: keep-all;
}

.by .created_at::after 
{
  content: "~" attr(data-elapsed);
  font-size: var(--font-size-s);
  grid-area: elapsed;
}

.in_view > .by .created_at
{
  font-size: var(--font-size-s);
  grid-template-areas: 
  "timestamp elapsed" 
  "title title"
  ;
}

.in_view > .by .created_at::before
{
  content: attr(title);
  grid-area: title;
}

/* @end */


/* @group content */

.content 
{
  align-self: start;
  box-sizing: border-box;
  color: rgb(var(--color-e));
  grid-area: content;
  /*margin-bottom: var(--pad);*/
  max-height: calc(100vh - 8rem);  
  overflow: hidden;
  position: relative;
}

.root:not(.in_view):not(.in_path) > .content
{
  overflow-y:  scroll;
}

.in_view > .replies > .note > .content,
.root:not(.in_view):not(.in_path) > .content
{
  /*margin-bottom: 2rem;*/
  position: sticky;
  top: 1rem;
  z-index: 2;
}

.in_view > .replies > .note > .content
{
  top: calc(var(--line) + var(--line) + var(--padm));
}

.in_view > .content
{
  display: grid;
  justify-content: center;
  max-height: unset;
  padding-top: var(--line);
  padding-bottom: var(--line);
}

.draft > .content
{
  max-height: unset;
}

/* @end */


/* @group paragraph */

.paragraph
{ 
  margin-bottom: 0;
  padding: 0 var(--pad);
  padding-top: 0;
  white-space: pre-wrap;
  word-break: break-all;
}

.parsed > .paragraph
{
  hyphens: auto;
  word-break: break-word;
}

.paragraph.cypher,
.parsed > .paragraph,
.decrypted > .paragraph
{
  padding: var(--pad);
}

.paragraph.cypher
{
  color: rgb(var(--color-c));
  word-break: break-all;
}

.in_view > .content > .paragraph
{
  color: rgb(var(--color-e));
  font-size: var(--font-size-m);
  justify-self: stretch;
  line-height: calc(var(--font-size-m)*1.5);
  max-width: 80vw;
}

.view_e .in_path:not(.in_view) > .content .paragraph,
.replies:not(.expanded) .note:not(.is_new).haz_new_reply > .content .paragraph
{
  font-size: var(--font-size-s);
  line-height: 1rem;
  padding: var(--padm);
}

/* @end */


/* @group links */

.content .content_link
{
  color: rgba(var(--color-sad),.6);
  margin-right: var(--padm);
}

.content .nostr_link
{
  color: rgba(var(--color-alt),.6);
}

.content .nostr_link::before
{
  color: rgb(var(--color-c));
  content: "#";
}

.content .nostr_link::after
{
  color: rgb(var(--color-c));
  content: "…";
}

/* @end */


/* @group img / video */

.content-img,
.content-video
{
  display: block;
  height: auto;
  max-height: var(--media-height);
  max-width: 100%;
  padding: var(--pad) 0;
}

.in_view > .content .content-img
{
  margin: var(--line) auto;
  max-height: var(--media-max-height);
  justify-self: center;
}

.in_view > .content .content-video
{
  max-height: var(--media-max-height);
}

.in_view > .content .note_quote .content-img
{
  margin: 0 auto;
}

.view_e .note.in_path:not(.in_view) > .content .content-img,
.view_e .note.in_path:not(.in_view) > .content .content-video
{
  max-height: var(--size);
}

/* @end */

/* @group hashtags */

.hashtag
{
  color: rgb(var(--color-main));
  /*display: inline-block;*/
  /*font-size: 0;*/
}

/*.hashtag::before
{
  content: "#";
  font-size: var(--font-size);
}

.hashtag::after
{
  content: attr(data-label);
  font-size: var(--font-size);
}

.note_quote .hashtag::before,
.note_quote .hashtag::after
{
  font-size: var(--font-size-s);
}*/

/* @end */

/* @group tags */

.tags_wrapper
{
  background: rgba(var(--color-b),1);
  bottom: 4rem;
  grid-area: tags;
  overflow: hidden;
  position: sticky;
  
  /*justify-self: end;*/
}

.tags_wrapper[open]
{
  grid-area: opentags;
  max-height: 50vh;
  overflow-y:  scroll;
  padding-bottom: var(--line);
  padding-top: var(--line);
}

.tags_wrapper summary
{
  color: rgb(var(--color-d));
  /*display: inline;*/
  line-height: 1.5rem;
  padding: 0 var(--padm);
  text-align: right;
}

.tags_wrapper[open] summary
{
  text-align: center;
}

.tags_wrapper:not(.empty) summary::after
{
  content: "";
}

.tags_wrapper[open]:not(.empty) summary::before
{
  content: "tags: ";
}

.in_view > .tags_wrapper
{
  bottom: 0;
  position: relative;
  max-height: unset;
}

.in_view > .tags_wrapper > summary,
.in_view > .tags_wrapper[open] > summary
{
  text-align: center;
}

.in_view > .tags_wrapper .tags
{
  justify-content: center;
}

.view_e .in_path:not(.in_view) > .tags_wrapper,
.replies:not(.expanded) .note:not(.is_new).haz_new_reply > .tags_wrapper
{
  display: none;
}

#notes > .note > .tags_wrapper
{
  z-index: 3;
}


.tags 
{
  display: grid;
  font-size: var(--font-size-s);
  list-style: none;
  margin: 0;
  padding: var(--pad);
}

.tag
{
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--pad);
  grid-template-columns: auto 1fr auto;
  overflow-x: scroll;
  white-space: pre;
}

.tag button
{
  color: rgb(var(--color-d));
  font-size: var(--font-size-xs);
  justify-self:end;
  padding: 0;
}

.tag button::before
{
  color: rgb(var(--color-c));
  content: "[";
  font-size: var(--font-size-s);
}

.tag button::after
{
  color: rgb(var(--color-c));
  content: "]";
  font-size: var(--font-size-s);
}

/* @end */


/* @group note actions */

.note > .actions 
{
  align-self: center;
  background: rgba(var(--color-b),1);
  font-size: var(--font-size-s);
  grid-area: actions;
  overflow-x:  scroll;
  position: relative;
  white-space: pre;
  width: auto;
  
}

.note.root > .actions,
.in_view > .replies > .note > .actions 
{
  z-index: 3;
}

.note > .actions > summary
{
  line-height: 1.5rem;
  padding: 0 var(--padm);
}

.note > .actions[open] > summary
{
  display: inline-block;
  text-align: right;
}

.note > .actions .butt
{
  padding: 1px var(--padm);
}

.in_view > .actions
{
  align-self: center;
  justify-self: center;
  line-height: 1.5rem;
  position: sticky;
  top: var(--line);
  width: auto;
  z-index: 5;
}

.in_view > .actions > summary
{
  line-height: 1.5rem;
}

.in_view > .actions .butt
{
  color: rgb(var(--color-d));
}

.view_e .in_path:not(.in_view) > .actions,
.replies:not(.expanded) .note:not(.is_new).haz_new_reply > .actions
{
  display: none;
}

/* @end */


/* @group replies */

.replies
{
  grid-area: replies;
  padding-left: var(--padm);
}

.view_e .in_path:not(.in_view) > .replies,
.replies:not(.expanded) [data-level="11"]:not(.is_new):not(.haz_new_reply) .replies,
.replies:not(.expanded) .note:not(.is_new):not(.haz_new_reply) > .replies
{
  padding-left: 0;
}

html:not(.view_e) .replies:not(.expanded) .note:not(.is_new):not(.haz_new_reply) > *:not(.replies),
.replies:not(.expanded) .note:not(.is_new):not(.haz_new_reply)::before,
.replies:not(.expanded) .note:not(.is_new):not(.haz_new_reply)::after,
.note.out > .replies::after,
.haz_solo .note:not(.in_path) > .replies::after
{
  display: none;
}

/* @end */


/* @group replies summary */

.replies > summary
{
  background-color: rgb(var(--color-b));
  color: rgb(var(--color-d));
  display: none;
  grid-template-columns: 1fr auto;
  line-height: 1.5rem;
  z-index: 5; 
}

.haz_reply > .replies > summary,
.haz_new > .replies > summary
{
  display: grid;
}

.in_view > .replies > summary
{
  border-bottom: 1px dashed rgb(var(--color-d));
  position: sticky;
  top: var(--line);
}

.root:not(.in_view) > .replies > summary
{
  position: sticky;
  top: 1rem;
}

.replies > summary::after
{
  content: "+";
  margin: 0 var(--pad);
}

.replies[open] > summary::after
{
  content: "-";
}

.replies:not(.expanded) .note:not(.is_new):not(.haz_new_reply) > .replies > summary,
.view_e .in_path:not(.in_view) > .replies[open] > summary,
.note.out > .replies > summary,
.haz_solo .haz_reply:not(.in_path) > .replies[open] > summary,
.haz_solo .root:not(.in_view):not(.in_path) > .replies > summary
{
  display: none;
}

/* @end */


/* @group mark-read */

.mark_read
{
  color: rgb(var(--color-c));
  padding: 0;
}

.replies.expanded > summary .mark_read::before
{
  content: "// ";  
}

.replies:not(.expanded) > summary .mark_read
{
  color: rgb(var(--color-no));
  text-align: left
}

.replies:not(.expanded) > summary .mark_read::before
{
  content: "/* ";  
}

.replies:not(.expanded) > summary .mark_read::after
{
  content: " read */";  
}

.in_view > .replies > summary .mark_read
{
  color: rgb(var(--color-d));
}

.in_view > .replies > summary .mark_read
{
  text-align: left;
}

/* @end */


/* @group blank */

@keyframes blank 
{
  99%
  {
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
  }
  100% 
  {
    bottom: unset;
    opacity: 1;
    pointer-events: auto;
    position: relative!important;
    z-index: 1;
  }
}

.note.blank
{
  --c: var(--color-c);
}

.note.blank:not(.in_view)
{
  /*animation: blank 10s linear 0s 1 forwards;*/
/*  bottom: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute!important;
  z-index: -1;*/
}

.blank > .by::before
{
  content: "unknown";
  font-size: var(--font-size-s);
  grid-area: author;
  padding-left: var(--padm);
}

.blank > .by .created_at
{
  display: none;
}

.blank > .content
{
  font-size: var(--font-size-s);
}

.blank:not(.tiny)[data-nope]::before
{
  content: "trying: " attr(data-nope);
  font-size: var(--font-size-s);
  line-height: 1.5;
  padding: var(--pad);
  white-space: pre-wrap;
  word-break: break-word;
}

/* @end */


/* @group quote */

.note_quote
{
  border: 1px dashed rgba(var(--color-c),1);
  display: grid;
  margin: var(--pad);
  margin-bottom: var(--line);
  max-height: var(--media-height);
  max-width: 960px;
  overflow: hidden;
  position: relative;
}

.note_quote:last-child
{
  margin-bottom: var(--padm);
}

.note_quote_by
{
  background: rgb(var(--color-b));
  display: grid;
  font-size: var(--font-size-s);
  grid-area: unset;
  grid-template-areas: "author . id";
  grid-template-columns: auto 1fr auto;
  line-height: 1rem;
}

.note_quote_by .author .name
{
  background: none;
}

.note_quote_by .nostr_link
{
  justify-self: end;
  margin: 0;
}

.note_quote .paragraph
{
  font-size: var(--font-size-s);
  line-height: 1.5;
  padding: 0 var(--padm);
  padding: var(--padm);
}

.note_quote .content-img
{
  max-height: var(--size-l);
}

.in_view > .content .note_quote
{
  margin: var(--line);
  max-height: unset;
}

/* @end */


/* @group tiny */

.note.tiny
{
  margin: 0;
}

.note.tiny:last-child
{
  margin-bottom: 3px;
}

.note.root:not(.in_path).tiny 
{
  border-bottom: none;
  margin-bottom: 0;
  margin-top: 0;
}

.note.tiny:not(.in_view),
.note.in_view > .replies > .note.tiny
{
  grid-template-areas: "content by";
  grid-template-columns: auto 1fr;
}

.note.tiny:not(.in_view)::after
{
  align-self: center;
  color: rgb(var(--color-d));
  content: "k" attr(data-kind) !important;
  font-size: var(--font-size-s);
  grid-area: content;
  padding: 0 var(--padm);
}

.note.tiny:not(.in_view) > .by .author span
{
  margin-left: 0;
}

.note.in_view > .replies > .note.tiny > .content,
.note.tiny:not(.in_view) > .content
{
  align-self: center;
  border-top: none;
  border-bottom: none;
  font-size: var(--font-size-s);
  padding: 0;
  padding-left: 5px;
  margin: 0!important;
  min-width: calc(1rem + 1px);
}

.note.tiny:not(.in_view) .paragraph
{
  line-height: 1;
  margin-bottom: 0;
  padding: 0;
}

.note.tiny:not(.in_view) > .content > *,
.note.tiny:not(.in_view) > .actions,
.note.tiny:not(.in_view) > .tags_wrapper,
.note.tiny:not(.in_view) > .replies,
.note.tiny:not(.in_view) > .by .author .picture,
.note.tiny:not(.in_view) > .by .author::before
{
  display: none;
}

.note.tiny > .actions > .butt.tiny
{
  color: rgb(var(--color-no));
}

.note.tiny > .actions > .butt.tiny::before
{
  content: "un";
}

.note.tiny[data-kind="7"]
{
  border: none;
}

.note.tiny[data-kind="7"]:not(.in_view) > .content
{
  padding-left: 0;
  padding: 1px;
  font-family: Apple Color Emoji,"Segoe UI Emoji","Source Code Pro", monospace;
  font-variant-emoji: emoji;
  
}

.note.tiny[data-kind="7"]:not(.in_view) > .content > *
{
  display: block;
}

.note.tiny[data-kind="7"]:not(.in_view) > .content .content-img
{
  max-width: 1rem;
}

.note.tiny[data-kind="6"]:not(.in_view) > .content::before,
.note.tiny[data-kind="16"]:not(.in_view) > .content::before
{
  content: "reposted by ";
}

.note.tiny[data-kind="7"]:not(.in_view)::before,
.note.tiny[data-kind="6"]:not(.in_view)::before,
.note.tiny[data-kind="16"]:not(.in_view)::before,
.note.tiny[data-kind="7"]:not(.in_view)::after,
.note.tiny[data-kind="6"]:not(.in_view)::after,
.note.tiny[data-kind="16"]:not(.in_view)::after
{
  display: none;
}

.note.root.tiny:not(.in_view) > .tags_wrapper
{
  display: none;
}

.haz_solo .note:not(.in_path).tiny:last-child
{
  margin-bottom: 0;
}

/* @end */


/* @group pagination */

.pagination
{
  text-align: center;
  font-size: var(--font-size-l);
  margin: var(--line) 0;
}

#e:not(.expanded) .pagination,
.viewing .pagination,
html:not(.needs_pagin) .pagination
{
  display: none;
}

/* @end */


.sig 
{
  background: rgb(var(--color-b));
  color: rgb(var(--color-c));
  font-size: var(--font-size-xs);
  grid-area: sig;
  margin-bottom: 0;
  overflow-x: hidden;
  overflow-x: scroll;
  padding: var(--pad) var(--pad) 0 var(--pad);
  text-align: center;
}

@media screen and (min-width: 1025px) 
{
  html:not(.view_e) #notes
  {
    padding-left: var(--pad-l);
  }
  
/*  .created_at:hover::after,
  .created_at:hover 
  {
    color: rgb(var(--color-e));
  }
  
  .author:hover .name[data-petname]::after 
  {
    color: rgb(var(--color-d));
  }*/
  
  .note:not(.tiny):not(.in_path) > .content::after
  {
    display: block;
    color: rgb(var(--color-d));
    content: "<!--";
    font-size: var(--font-size-xs);
    line-height: 1.5rem;
    margin-left: var(--pad);
  }
  
/*  .content .nostr_link:hover
  {
    color: rgba(var(--color-alt),1);
  }*/
  
  .mark_read:hover
  {
    background-color: rgba(var(--color-a),1);
    text-align: left;
  }
  
  .replies:not(.expanded) > summary .mark_read:hover::after,
  .mark_read:hover::after
  {
    content: " mark read";
  }
  
  .note > .actions
  {
    position: sticky;
    bottom: 4rem;
  }
  
  .note > .actions[open]
  {
    justify-content: end;
    text-align: right;
    width: auto;
  }
  
  .note > .actions:not([open]) > summary
  {
    text-align: right;
  }
  
  .in_view > .replies > .note > .actions,
  .root:not(.in_path) > .actions
  {
    position: sticky;
    top: 1rem;
  }

}

@media screen and (max-width: 768px) 
{
  :root {
    --font-size: 14px;
  }
  
  html:not(.view_e) #notes
  {
    /*background: rgb(var(--color-e));*/
    /*padding-left: var(--padm);*/
  }
  
  .note,
  .note.root:not(.in_path),
  .note.in_view > .replies > .note,
  #notes > .note:not(.root):not(.in_path)
  {
    grid-template-areas: 
    "by       by"
    "content  content"
    "opentags opentags"
    "tags     actions"
    "after    after"
    "replies  replies"
    ;
    grid-template-columns: auto 1fr;
  }
  
  .note.root:not(.in_path)
  {
    border-bottom: 1px solid rgb(var(--color-c));
  }
  
  .root:not(.in_view):not(.in_path) > .content
  {
    overflow-y:  hidden;
    position: relative;
    top: 0;
  }
  
  .note summary
  {
    line-height: 3rem;
  }
  
  .note:not(.in_view) .tags_wrapper
  {
    display: none;
  }
  
  .note .actions
  {
    justify-self: end;
  }
  
  .note .actions:not([open]) summary
  {
    text-align: right;
  }
  
}