.highlight
{
  border: 1px dotted rgba(var(--color-main),.6);
  display: block;
  max-width: 80vw;
  margin: var(--pad);
  margin-bottom: 0;
  padding: var(--pad);
}

.highlight > .paragraph
{
  background: linear-gradient(to bottom, 
    rgba(var(--color-b),1) 6%, 
    rgba(var(--color-main),.21) 6%, 
    rgba(var(--color-main),.21) 94%, 
    rgba(var(--color-b),1) 94%);
  color: rgba(var(--color-e),1);
  display: inline;
  hyphens: auto;
  margin: 0;
  margin-right: var(--line);
  padding: 0;
  word-break: break-word;
}

.source
{
  border: 1px dotted rgba(var(--color-main),.6);
  border-top: none;
  display: block;
  font-size: var(--font-size-s);
  margin: 0 var(--pad);
  margin-bottom: var(--pad);
  padding: var(--padm);
  word-break: break-all;
  white-space: pre-wrap;
}