.replies
{
  grid-area: replies;
}

.replies.expanded
{
  margin-bottom: var(--padm);
}

.note:not(.in_path) > .replies.expanded,
.note.root:not(.in_path) > .replies,
.note.in_view > .replies,
.note.in_view .replies.expanded,
.note.haz_new_reply > .replies,
.note.haz_reply > .replies,
.note.is_new > .replies
{
  padding-left: var(--padm);
}

.replies:not(.expanded) .note:not(.haz_new_reply):not(.is_new) > .replies,
.note.in_view .replies:not(.expanded) .note:not(.haz_new_reply) > .replies,
.haz_new:not(.haz_new_reply):not(.haz_new_reply)[data-level="11"] .replies,
.view_e .in_path:not(.in_view) > .replies
{
  padding-left: 0;
  margin-bottom: 0;
}

html:not(.view_e) .replies:not(.expanded) .note:not(.is_new):not(.haz_new_reply) > *:not(.replies),
html:not(.view_e) .replies:not(.expanded) .note:not(.is_new):not(.haz_new_reply)::before,
html:not(.view_e) .replies:not(.expanded) .note:not(.is_new):not(.haz_new_reply)::after
{
  display: none;
}

.replies > header
{
  background-color: rgb(var(--color-b));
  color: rgb(var(--color-d));
  display: none;
  font-size: var(--font-size-s);
  grid-template-areas: "mark_read filter collapse";
  grid-template-columns: 1fr auto auto;
  line-height: 1.5rem;
  position: relative;
}

.haz_reply > .replies > header,
.root.haz_reply > .replies > header,
.in_view.haz_reply > .replies > header,
.haz_new_reply > .replies > header
{
  display: grid;
}

.replies:not(.expanded) .note:not(.haz_new_reply) > .replies > header
{
  display: none;
}

.in_view > .replies > header
{
  position: sticky;
  top: 1rem;
  z-index: 100;
}

.in_view > .replies > .note > .replies > header
{
  position: sticky;
  top: 3.5rem;
  z-index: 4;
}

.root:not(.in_view) > .replies > header,
.in_view > .replies .replies > header
{
  position: sticky;
  top: 1rem;
  transform: translateX(-1px);
}

.root:not(.in_view) > .replies > header
{
  z-index: 6;
}

.in_view > .replies .replies > header
{
  position: sticky;
  top: 3.5rem;
}


.replies:not(.expanded) > .note:not(.is_new):not(.haz_new_reply) > .replies > header,
.view_e .in_path:not(.in_view) > .replies > header,
.haz_solo .haz_reply:not(.in_path) > .replies > header,
.haz_solo .root:not(.in_view):not(.in_path) > .replies > header
{
  display: none;
}

.replies > header .mark_read
{
  grid-area: mark_read;
}

.replies.expanded > header .mark_read::before
{
  content: "// ";  
}

.replies:not(.expanded) > header .mark_read
{
  color: rgb(var(--color-no));
  text-align: left
}

.replies:not(.expanded) > header .mark_read::before
{
  content: "/* ";  
}

.replies:not(.expanded) > header .mark_read::after
{
  content: " read */";  
}

.replies.collapsed > header .mark_read::before
{
  content: "!<-- ";  
}

.replies.collapsed > header .mark_read::after
{
  content: " hidden -->";  
}

.replies.collapsed > header .mark_read
{
  pointer-events: none;
}

.in_view > .replies > header .mark_read
{
  text-align: left;
}

.replies > header > .collapse
{
  grid-area: collapse;
  padding: 0 var(--pad);
}

.replies > header > .list_filter
{
  font-size: var(--font-size-s);
  grid-area: filter;
  margin: 0;
  text-align: right;
}

.replies.collapsed > .note,
.replies.collapsed > header > .list_filter
{
  display: none;
}

.replies.collapsed > header > .collapse
{
  grid-area: unset;
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: right;
}

@media screen and (min-width: 1025px) 
{
  .mark_read:hover
  {
    background-color: rgba(var(--color-a),1);
    text-align: left;
  }

  .replies:not(.expanded) > header .mark_read:hover::after,
  .mark_read:hover::after
  {
    content: " mark read";
  }
}

@media screen and (max-width: 768px) 
{
  .note > .replies > header
  {
    line-height: 3rem;
    opacity: 1;
  }
}