@font-face 
{
  font-family: "Source Code Pro";
  font-display: swap;
  src: 
    url('/stuff/font.otf.woff2') format("woff2"),
    url('/stuff/font.otf') format("opentype");
}

:root 
{
  --cb: cubic-bezier(0.25, 1, 0.5, 1);
  --cb-io: cubic-bezier(0.76, 0, 0.24, 1);
  --trans: all .3s ease-in-out 0s;
  --trans-fast: all .2s ease-out 0s;
  --trans-quart: all .4s var(--cb) 0s;
  --trans-slow: all .6s var(--cb) 0s;
  --trans-quart-io: all .3s var(--cb-io) 0s;
  --font-main:
      "Source Code Pro",
      monospace;
  --font-emoji:
      Apple Color Emoji,
      "Segoe UI Emoji";
  --font-size: 16px;
  --font-size-s: .69420rem;
  --font-size-xs: .5236rem;
  --font-size-m: 1.5rem;
  --font-size-l: 2.1rem;
  --font-size-xl: 3.6rem;
  --line: 2rem;
  --pad: .6rem;
  --padm: .42rem;
  --pad-l: calc(calc(var(--size) - 1.5rem)/2);
  --size: calc(4 * var(--font-size));
  --size-s: 2rem;
  --size-l: 20vh;
  --media-height: 50vh;
  --media-max-height: calc(100vh - 8rem - var(--line) + var(--pad));
  --top: 0;
  --logo-light: url(/stuff/aa_alphaama_logo_light.svg);
  --logo-dark: url(/stuff/aa_alphaama_logo_dark.svg);
  --shadow: var(--pad) 0px var(--pad) rgb(var(--color-b));
  color-scheme: light dark;
}


/* #region themes */

html[data-theme="dark"] 
{ 
  --color-a: 0,0,0;
  --color-b: 23,23,23;
  --color-c: 82,82,82;
  --color-d: 136,136,136;
  --color-e: 199,199,199;
  --color-f: 233,233,233;
  --color-main: 222,147, 95;
  --color-alt: 178,148,187;
  --color-no: 204,102,102;
  --color-yes: 100,200,100;
  --color-maybe: 240,198,116;
  --color-undefined: 138,190,183;
  --color-sad: 129,162,190;
  --color-dark: var(--color-a);
  --color-light: var(--color-f);
  --logo: url(/stuff/aa_alphaama_logo_dark.svg);
  color-scheme: dark;
}

html[data-theme="light"] 
{
  --color-a: 255,255,255;
  --color-b: 233,233,233;
  --color-c: 199,199,199;
  --color-d: 136,136,136;
  --color-e: 82,82,82;
  --color-f: 23,23,23;
  --color-main: 222,147, 95;
  --color-alt: 178,148,187;
  --color-no: 204,102,102;
  --color-yes: 181,189,104;
  --color-maybe: 240,198,116;
  --color-undefined: 138,190,183;
  --color-sad: 129,162,190;
  --color-dark: var(--color-f);
  --color-light: var(--color-a);
  --logo: url(/stuff/aa_alphaama_logo_light.svg);
  color-scheme: light;
}

/* #endregion themes */
/* #region    animations */

@keyframes opa
{
  0% { opacity: 1 }
  100% { opacity: 0 }
}

/* #endregion animations */
/* #region    defaults */

::-webkit-scrollbar 
{
  height: 0px;
  width: 0px;
}

::selection
{
  background: rgba(var(--color-f), .6);
  color: rgba(var(--color-a), .99);
}

::placeholder
{
  color:  rgb(var(--color-c));
  font-family: inherit;
}

html
{
  background-color: rgb(var(--color-b));
  color: rgb(var(--color-d));
  font-family: var(--font-main);
  font-size: var(--font-size);
  margin: 0;
  scrollbar-width: none;
}

body
{
  --c: var(--color-f);
  background-attachment: fixed;
  background-image: var(--logo);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 2.3rem;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  line-height: 1;
  margin: 0;
  min-height: 100vh;
  padding-bottom: calc(var(--size) + var(--line));
  -webkit-text-size-adjust: 100%;
  width: 100%;
}

.framed body
{
  background-image: unset;
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl
{
  line-height: 1.5;
  margin: 0;
  margin-bottom: var(--pad);
}

h1, h2, h3, h4, h5, h6
{
  font-size: inherit;
  font-weight: normal;
}

ul, ol, dl
{
  padding-left: 0;
}

dl
{
  display: grid;
  grid-gap: 0 var(--pad);
  grid-template-columns: auto 1fr;
}

details 
{
  box-sizing: border-box;
  margin-bottom: 0;
  padding-left: 0;
}

summary
{
  cursor: pointer;
  list-style-type: none;
  transition: var(--trans-fast);
  z-index: 1;
}

summary::before
{
  content: "+ ";
}

[open] > summary::before
{
  content: "- ";
}

summary::-webkit-details-marker
{
  display: none;
}

iframe
{
  aspect-ratio: 16/9;
  background: red;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  height: 100%;
  padding: var(--pad);
  width: 100%;
}

code
{
  background: rgb(var(--color-a));
  font-family: var(--font);
  padding: 0 var(--padm);
  white-space: pre-wrap;
}

a
{
  color: inherit;
}

a.empty,
a:not([href])
{
  pointer-events: none;
}

.a
{
  display: inline-grid;
  font-size: inherit;
  grid-template-areas: "before and after";
  grid-template-columns: auto 1fr auto;
}

.a > span
{
  grid-area: and;
  display: grid;
  grid-auto-flow: column;
  white-space: pre;
  word-break: keep-all;
}

button 
{
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

button:focus
{
  outline: none;
  /* color: rgb(var(--color-f)); */
}

/* button:hover
{
  color: rgb(var(--color-f));
} */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
{
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

select
{
  appearance: none;
  -webkit-appearance: none;
  background: none;
  background: rgb(var(--color-a));
  border: none;
  /* border-bottom: 1px dotted ; */
  color:  rgb(var(--color-d));
  font-family: inherit;
  padding: var(--padm);
  /* font-size: var(--font-size-s); */
}

input[type=text],
input[type=number],
input[type=file],
textarea
{
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 2px;
  color:  rgb(var(--color-e));
  font-family: inherit;
  font-size: var(--font-size);
  margin: var(--pad) 0;
  min-width: 2rem;
}

select:focus,
input[type=text]:focus,
input[type=number]:focus,
textarea:focus
{
  background: rgb(var(--color-c));
  outline: none;
}

select:focus
{
  background: rgb(var(--color-a));
  color: rgb(var(--color-f));
}

select option::selection
{

}

[data-alt]::after
{
  content: "(" attr(data-alt) ")";
  color: rgb(var(--color-c));
  font-size: var(--font-size-s);
}

.hidden
{
  display: none;
}

.loading
{
  animation: opa 1s ease-in-out 0s infinite alternate;
}

.qr
{
  background: white;
  margin: var(--padm) 0;
  max-height: 256px;
  padding: var(--font-size);
}

.qr::selection
{
  background: none;
}


img:not([src]) {
  min-height: 2rem;
  min-width: 2rem;
  background-position: 50%;
  background-size: .82rem;
  background-image: var(--logo);
  background-repeat: no-repeat;
}

.img
{
  display: block;
  height: var(--size);
  object-fit: cover;
  object-position: 50% 61.8%;
  width: var(--size);
}

.img_thumb
{
  display: inline-block;
  background-image: conic-gradient(
    rgb(var(--color-c)) 90deg,
    rgb(var(--color-d)) 90deg 180deg,
    rgb(var(--color-c)) 180deg 270deg,
    rgb(var(--color-d)) 270deg
  );
  background-size: 10px 10px;
  /* background-image: 
    linear-gradient(45deg, rgb(var(--color-c)) 25%, transparent 25%),
    linear-gradient(-45deg, rgb(var(--color-c)) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgb(var(--color-c)) 75%),
    linear-gradient(-45deg, transparent 75%, rgb(var(--color-c)) 75%);
  background-size: 10px 10px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0px; */
}

/* #endregion defaults */
/* #region    butts */


.butt.plug,
.butt.exe
{
  align-self: center;
  background: rgb(var(--color-c));
  border-radius: 2px;
  border: 1px solid rgba(var(--color-a),0);
  color: rgb(var(--color-e));
  padding: 0 var(--padm);
  line-height: 1rem;
}

.butt.exe
{
  background: rgb(var(--color-main));
  color: rgb(var(--color-b));
}

.butt.plug.done
{
  text-decoration: line-through;
}

.butt.decrypt,
.butt.confirm,
.butt.yes
{
  color: rgb(var(--color-yes));
}

.butt.cancel
{
  color: rgb(var(--color-no));
}

.butt.del,
.butt.no 
{
  
  background-color: rgb(var(--color-no));
}

.butt.maybe
{
  color: rgb(var(--color-sad));
}

.butt.disabled
{
  color: rgb(var(--color-c));
  pointer-events: none;
  cursor: not-allowed;
}

@keyframes clk
{
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.clkd
{
  animation: opa .4s var(--cb) 0s 1 reverse!important;
}

/* #endregion butts */

/* #region    header */

.aa_header
{
  align-items: center;
  display: grid;
  grid-area: header;
  grid-template-areas: "caralho state";
  grid-template-columns: auto 1fr;
  line-height: var(--line);
}

#caralho
{
  grid-area: caralho;
  padding: 0 var(--pad);
  text-decoration: none;
  user-select: none;
}

.aa_state
{
  display: grid;
  font-size: 1rem;
  grid-area: state;
  grid-gap: var(--pad);
  grid-template-areas: "before title after";
  grid-template-columns: auto auto 1fr;
  margin: 0;
  overflow: scroll;
}

.aa_state::before
{
  content: attr(data-pathname);
  opacity: .5;
}

/* #endregion header */

/* #region created_at */

.created_at 
{
  cursor: pointer;
  display: inline-grid;
  grid-gap: 0 var(--pad);
  grid-template-areas: "timestamp title elapsed";
  justify-items: end;
  white-space: pre;
  word-break: keep-all;
}

.created_at::before
{
  content: attr(title);
  grid-area: title;
}

.created_at::after 
{
  content: "~" attr(data-elapsed);
  font-size: var(--font-size-s);
  grid-area: elapsed;
}

.created_at > *
{
  grid-area: elapsed;
}

/* #endregion created_at */

.drop 
{
  align-content: center;
  box-sizing: border-box;
  border: 1px rgb(var(--color-d)) dashed;
  display: grid;
  justify-content: center;
  margin: var(--pad) 0;
  /* position: absolute; */
  min-height: 120px;
  width: calc(100%);
}

.sifted > .sifted_out
{
  display: none;
}

@media screen and (min-width: 1025px) 
{
  #caralho:hover::before 
  {
    background: rgb(var(--color-b));
    content: "!<=";
    position: absolute;
  }

  details > summary:hover
  {
    opacity: 1;
  }
  

  .butt.plug:hover
  {
    background: rgb(var(--color-e));
    color: rgb(var(--color-a));
  }
}

/* @media screen and (max-width: 768px) 
{
  :root 
  {
    --pad: .68rem;
  }
} */
