@font-face 
{
  font-family: "Source Code Pro";
  src: 
  url('/stuff/font.otf.woff2') format("woff2"),
  url('/stuff/font.otf') format("opentype");
}

:root 
{
  --cb: cubic-bezier(0.25, 1, 0.5, 1);
  --cb-io: cubic-bezier(0.76, 0, 0.24, 1);
  --trans: all .3s ease-in-out 0s;
  --trans-fast: all .2s ease-out 0s;
  --trans-quart: all .4s var(--cb) 0s;
  --trans-slow: all .6s var(--cb) 0s;
  --trans-quart-io: all .3s var(--cb-io) 0s;
  --font-main: "Source Code Pro", monospace;
  --font-emoji:  
      Apple Color Emoji,
      "Segoe UI Emoji";
  --font-size: 16px;
  --font-size-s: .69420rem;
  --font-size-xs: .5236rem;
  --font-size-m: 1.5rem;
  --font-size-l: 2.1rem;
  --font-size-xl: 3.6rem;
  --line: 2rem;
  --pad: .6rem;
  --padm: .42rem;
  --pad-l: calc(calc(var(--size) - 1.5rem)/2);
  --size: calc(4 * var(--font-size));
  --size-s: 2rem;
  --size-l: 20vh;
  --media-height: 50vh; /* calc(1rem * 4); */
  --media-max-height: calc(100vh - 8rem - var(--line) + var(--pad));
  --top: 0;
  --logo-light: url(/stuff/aa_alphaama_logo_light.svg);
  --logo-dark: url(/stuff/aa_alphaama_logo_dark.svg);
  --shadow: var(--pad) 0px var(--pad) rgb(var(--color-b));
}


/* @group themes */

html[data-theme="dark"] 
{ 
  --color-a: 0,0,0;
  --color-b: 23,23,23;
  --color-c: 82,82,82;
  --color-d: 136,136,136;
  --color-e: 199,199,199;
  --color-f: 233,233,233;
  --color-main: 222,147, 95;
  --color-alt: 178,148,187;
  --color-no: 204,102,102;
  --color-yes: 100,200,100;
  --color-maybe: 240,198,116;
  --color-undefined: 138,190,183;
  --color-sad: 129,162,190;
  --color-dark: var(--color-a);
  --color-light: var(--color-f);
  --logo: url(/stuff/aa_alphaama_logo_dark.svg);
}

html[data-theme="light"] 
{
  --color-a: 255,255,255;
  --color-b: 233,233,233;
  --color-c: 199,199,199;
  --color-d: 136,136,136;
  --color-e: 82,82,82;
  --color-f: 23,23,23;
  --color-main: 222,147, 95;
  --color-alt: 178,148,187;
  --color-no: 204,102,102;
  --color-yes: 181,189,104;
  --color-maybe: 240,198,116;
  --color-undefined: 138,190,183;
  --color-sad: 129,162,190;
  --color-dark: var(--color-f);
  --color-light: var(--color-a);
  --logo: url(/stuff/aa_alphaama_logo_light.svg);
}

/* @end */


/* @group animations */

@keyframes opa
{
  0%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}

/* @end */


/* @group default */

::-webkit-scrollbar 
{
  height: 0px;
  width: 0px;
}

::selection
{
  background: rgba(var(--color-f), .6);
  color: rgba(var(--color-a), .99);
}

::placeholder
{
  color:  rgb(var(--color-c));
  font-family: inherit;
}

html
{
  background-color: rgb(var(--color-b));
  color: rgb(var(--color-d));
  font-family: var(--font-main);
  font-size: var(--font-size);
  margin: 0;
  scrollbar-width: none;
  /*scroll-snap-type: y mandatory;*/
}

body 
{
  --c: var(--color-f);
  background-attachment: fixed;
  background-image: var(--logo);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 2.3rem;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  line-height: 1;
  margin: 0;
  min-height: 100vh;
  padding-bottom: calc(var(--size) + var(--line));
  -webkit-text-size-adjust: 100%;  
  width: 100%;
}

.framed body 
{
  background-image: unset;
  padding-bottom: 0;
}


h1, h2, h3, h4, h5, h6, p, ul, ol, dl
{
  line-height: 1.5;
  margin: 0;
  margin-bottom: var(--pad);
}

h1, h2, h3, h4, h5, h6
{
  font-size: inherit;
  font-weight: normal;
}

ul, ol, dl
{
  padding-left: 0;
}

dl 
{
  display: grid;
  grid-gap: 0 var(--pad);
  grid-template-columns: auto 1fr;
}

details 
{
  box-sizing: border-box;
  margin-bottom: 0;
  padding-left: 0;
}

summary
{
  cursor: pointer;
  list-style-type: none;
  /*display: block;*/
  transition: var(--trans-fast);
  z-index: 1;
}

summary::before
{
  content: "+ ";
}

[open] > summary::before
{
  content: "- ";
}


/*details.base
{
  border-bottom: 0px dotted rgba(var(--color-main),0);
  border-top: 0px dotted rgba(var(--color-main),0);
  transition: var(--trans-fast);
}

details.base[open]
{
  border-bottom: 1px dotted rgba(var(--color-main),1);
  border-top: 1px dotted rgba(var(--color-main),1);
  /*margin: var(--padm) 0;*!/
  /*margin-top: .3rem;*!/
  /*padding: 0 var(--padm);*!/
  padding-bottom: var(--pad);
}

.base > summary
{
  color: rgb(var(--color-e));
  
  transition: var(--trans-fast);
}

.base[open] > summary
{
  /*background: rgb(var(--color-main));*!/
  color: rgb(var(--color-main));
  word-spacing: var(--padm);
  margin-bottom: var(--padm);
  /*transform: translateX(calc(var(--pad)* -1));*!/
}

.base > summary::before,
.base > summary::after
{
  color: inherit;
  opacity: .6;
}

.base > summary::before
{
  content: "[ ";
}

.base > summary::after
{
  content: " ]";
}*/

summary::-webkit-details-marker 
{
  display: none;
}

iframe 
{
  aspect-ratio: 16/9;
  background: red;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  height: 100%;
  padding: var(--pad);
  width: 100%;
  /*display: none;*/
}

code
{
  background: rgb(var(--color-a));
  font-family: var(--font);
  padding: 0 var(--padm);
  white-space: pre-wrap;
}

a 
{
  color: inherit;
}

a.empty,
a:not([href])
{
  pointer-events: none;
}

.a 
{
  display: inline-grid;
  font-size: inherit;
  grid-template-areas: "before and after";
  grid-template-columns: auto 1fr auto;
}

.a > span
{
  grid-area: and;
  display: grid;
  grid-auto-flow: column;
  /*pointer-events: none;*/
  white-space: pre;
  word-break: keep-all;
}

button 
{
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

button:focus
{
  outline: none;
  color: rgb(var(--color-f));
}

button:hover
{
  color: rgb(var(--color-f));
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button 
{
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] 
{
  -moz-appearance: textfield;
}

select
{
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  color:  rgb(var(--color-d));
  font-family: inherit;
  font-size: var(--font-size-s);
}

input[type=text],
input[type=number],
textarea
{
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 2px;
  color:  rgb(var(--color-e));
  font-family: inherit;
  font-size: var(--font-size);
  margin: var(--pad) 0;
  min-width: 2rem;
}

select:focus,
input[type=text]:focus,
input[type=number]:focus,
textarea:focus
{
  background: rgb(var(--color-c));
  outline: none;
}

[data-alt]::after
{
  content: "(" attr(data-alt) ")";
  color: rgb(var(--color-c));
  font-size: var(--font-size-s);
}

.hidden
{
  display: none;
}

.loading
{
  animation: opa 1s ease-in-out 0s infinite alternate;
}

.qr
{
  background: white;
  margin: var(--padm) 0;
  max-height: 256px;
  padding: var(--font-size);
}

.qr::selection
{
  background: none;
}


img:not([src]) {
  min-height: 2rem;
  min-width: 2rem;
  background-position: 50%;
  background-size: .82rem;
  background-image: var(--logo);
  background-repeat: no-repeat;
}

.img
{
  height: var(--size);
  object-fit: cover;
  object-position: 50% 61.8%;
  width: var(--size);
}

/* @end */


/* @group butts */

.butt
{

  
}

.butt.plug
{
  align-self: center;
  background: rgb(var(--color-c));
  border-radius: 2px;
  border: 1px solid rgba(var(--color-a),0);
  color: rgb(var(--color-e));
  padding: 0 var(--padm);
  line-height: 1rem;
}

.butt.decrypt,
.butt.confirm,
.butt.yes
{
  color: rgb(var(--color-yes));
}

.butt.cancel,
.butt.no 
{
  color: rgb(var(--color-no));
}

.butt.maybe
{
  color: rgb(var(--color-sad));
}

@keyframes clk 
{
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.clkd
{
  animation: opa .4s var(--cb) 0s 1 reverse!important;
}

/* @end */


/* @group list / item */

.list 
{  
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: var(--trans-quart);
}



.item 
{
  display: grid;
  grid-template-areas: "bef k v s aft";
  grid-template-columns: auto auto 1fr auto;
  /*justify-items: start;*/
  padding: 0 var(--pad);
  overflow-x:  scroll;
}

.item[data-before]::before 
{
  content: attr(data-before);
  grid-area: bef;
}

.item[data-after]::after 
{
  color: rgb(var(--color-c));
  content: attr(data-after);
  grid-area: aft;
}

.item > .key
{
  color: rgb(var(--color-e));
  grid-area: k;
}

.item > .val
{
  color: rgb(var(--color-d));
  margin: 0 var(--pad);
  grid-area: v;
}

.item .sets
{
  grid-area: s;
}

.item .del 
{
  color: rgb(var(--color-no));
  margin-left: var(--pad);
}

.server .url 
{
  grid-area: k;
  margin: 0 var(--pad);
  /*max-width: 12rem;*/
  overflow-x: scroll;
  word-break: keep-all;
  white-space: pre;
}

.url .protocol,
.url .pathname,
.url .hashsearch
{
  opacity: .6;
}

.item > details
{
  overflow: hidden;
}

.item > details > summary
{
  color: rgb(var(--color-e));
}

.item > details > summary[data-count]::after,
.item.ls_arr > details > summary[data-count]::after 
{
  content: " [" attr(data-count) "]";
}

.item.ls_arr > details,
.item.ls_obj > details
{
  grid-column: 1 / -1;
}

.item.ls_obj > details > summary[data-count]::after 
{
  content: " {" attr(data-count) "}";
}

.item.ls_obj > details[open] > summary::after 
{
  font-size: var(--font-size-s);
}

.item > details > summary::after
{
  opacity: .6;
}

.item > details.empty > summary::after 
{
  content: " empty";
}

.item.empty
{
  text-decoration: line-through;
  pointer-events: none;
}

.item.out
{
  display: none;
}


.item:not(.server)[data-sets]::after
{
  color: rgb(var(--color-f));
  content: attr(data-sets);
  grid-area: aft;
  margin-right: var(--pad);
}

.ls_arr > details > .list > .item > .key
{
  min-width: 2rem;
  text-align: right;
  user-select: none;
}

/* @end */

/* @group logs */

#l
{
  grid-area: l;
  max-height: 40vh;
  position: relative;
  scrollbar-width: none;
  transition: var(--trans-fast);
}

#cli.expanded #l
{
  max-height: unset;
}

#l > header
{
  display: none;
}

#l > header .butt
{
  background: rgba(var(--color-b));
  font-size: 0;
  padding: var(--pad);
  text-align: center;
}

#l > header .butt::before
{
  color: rgb(var(--color-f));
  content: "/* logs */";
  font-size: var(--font-size-s);
}

#logs
{
  position: relative;
  counter-reset: log -1;
}

.l
{
  /*background: red;*/
  border-top: 1px solid rgba(var(--color-b),1);
  border-bottom: 1px solid rgba(var(--color-b),0);
  font-size: var(--font-size-s);
  /*grid-gap: var(--pad);*/
  grid-template-areas: "bef k aft";
  grid-template-columns: auto 1fr auto;
  line-height: 1.2rem;
  overflow-x: unset;
  padding: 0;
}

.l::before
{
  align-content: start;
  content: counter(log) "·";
  counter-increment: log;
  display: grid;
  font-size: var(--font-size-s);
  line-height: 1.32rem;
  margin-left: var(--pad);
  margin-right: var(--padm);
  opacity: .6;
  overflow: hidden;
  text-align: right;
  width: calc(var(--padm)*4);/*calc(var(--padm)*4);*/
}

.l.is_new
{
  background-color: rgb(var(--color-a));
  box-shadow: var(--shadow);
}

.l.is_new::before
{
  content: "/*";
}

.l.is_new::after
{
  content: "*/";
}

.l .item
{
  overflow-x: unset;
}

.l p
{
  border-bottom: 1px solid rgba(var(--color-b),1);
  border-top: 1px solid rgba(var(--color-b),1);
}

.l a
{
  cursor: pointer;
  text-decoration: none;
}

.l > .butt.plug
{
  justify-self: start
}

.l .list
{
  position: relative;
}

.l .list .item
{
  box-sizing: border-box;
  /*overflow-y: scroll;*/
  white-space: pre;
  /*width: calc(100vw - calc(var(--pad-l)*2));*/
  word-break: keep-all;
}

.l details
{
  box-sizing: border-box;
  border-left: 1px solid rgba(var(--color-c));
  overflow: unset;
  position: relative;
  
  /*width: 100%;*/
}

.l details[open]
{
  background: rgb(var(--color-b));
  border-left: 1px solid rgba(var(--color-d));
/*  border: var(--padm) solid rgba(var(--color-d));
  border-width: 1px 1px var(--padm) var(--padm);*/
  /*padding: 1px 1px var(--padm) var(--padm);*/
  padding-left: var(--padm);
  padding-bottom: var(--padm);
}

/*.l details[open]::after
{
  content: "_";
}*/

.l details > summary
{
  padding: 0 var(--padm);
  background: rgb(var(--color-b));
  border-bottom: 1px dotted rgba(var(--color-d),1);
}

.l details[open] > summary
{
  border-bottom: 1px dotted rgba(var(--color-c),1);
  margin-bottom:  var(--pad);
  position: sticky;
  top: var(--line);
  z-index: 2;
}

.l > p,
.l > details p 
{
  margin: 0;
  white-space: pre-wrap;
  line-height: inherit;
}

.l details[open] > p,
.l details[open] > button
{
  margin: var(--padm);
}

.l > .list > li
{
  padding: 0;
}

.l .butt.clkd::after
{
  content: " …nope";
}

.l ul::before,
.l dl::before 
{
  display: block;
  grid-column: span 2;
  margin-right: var(--pad);
  white-space: pre;
}

.cli_expanded #l
{
  overflow: hidden;
  overflow-y: scroll;
}

.cli_expanded #l > header
{
  display: grid;
  position: sticky;
  top: 0;
  z-index: 1;
}

#l.expanded > header .butt::before
{
  color: rgb(var(--color-f));
  content: "//";
  font-size: var(--font-size-s);
}

/*.cli_expanded .l.is_new
{
  position: sticky;
  bottom: 0;
}*/

html:not(.cli_expanded) .l.is_new
{
  margin-left: 0;
  max-height: calc(var(--font-size)*1.5);
  overflow-y: scroll;
  padding-left: 0;
  position: absolute;
  transform: translateX(var(--pad-l)) translateY(calc(var(--line)*-1));
}

html:not(.cli_expanded) .l.is_new summary
{
  top: 0;
  position: relative;
}

html:not(.cli_expanded) .l.is_new::before
{
  /*padding-left: 0;*/
  width: auto;
}

html:not(.cli_expanded) .l:not(.is_new),
#l:not(.expanded) .l:not(.is_new)
{
  display: none;
}

/* @end */

/* @group mods */

#mods
{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--line);
  padding-left: 0;
  width: 100%;
}

.mod
{
  max-width: 100%;
  
  /*overflow-y: scroll;*/
  width: auto;
  
}

#mods .mod
{
  background: rgba(var(--color-b),.8);
  font-size: var(--font-size-s);
  
  text-align: center;
}

.mod .list
{
  text-align: left;
}

.mod[open]
{
  border-bottom: 1px dashed rgb(var(--color-b));
  border-top: 1px dashed rgb(var(--color-b));
  justify-stretch: end;
  padding-bottom: var(--line);
  width: 61.8vw;
}

#mods .mod:not([open])
{
  justify-self: end;
}

#mods .mod[open]
{
  background: rgb(var(--color-a));
  border-bottom: 1px dashed rgb(var(--color-b));
  border-top: 1px dashed rgb(var(--color-b));
  padding-bottom: var(--line);
}

#mods .mod > summary
{
  background: rgba(var(--color-a),.8);
  font-size: var(--font-size-m);
  padding: var(--pad);
}

#mods .mod[open] > summary
{
  color: rgb(var(--color-f));
  display: grid;
  justify-self: stretch;
  margin-bottom: var(--pad);
  position: sticky;
  top: 0;
}

.mod .item 
{
  border-bottom: 1px solid rgba(var(--color-c),0);
  border-top: 1px solid rgba(var(--color-c),0);
}

.mod .item > .butts
{
  grid-area: s;
}

.mod details
{
  text-align: left;
  grid-column: 1 / -1;
}

.mod[open] .list
{
  background-color: rgb(var(--color-a));
  margin-bottom: var(--padm);
  margin-top: var(--line);
}

.mod > .butt
{
  font-size: var(--font-size);
}

.mod .server::after
{
  content: "(" attr(data-state) ") " attr(data-subs);
  margin-right: var(--pad);
}

.mod .server[data-state="1"]::after
{
  color: rgb(var(--color-yes));
  opacity: .7;
}

.mod .server[data-state="3"]::after
{
  color: rgb(var(--color-no));
  opacity: .7;
}

.mod .server .add
{
  grid-area: bef;
}

.mod .server .del
{
  grid-area: aft;
}

.mod .toggles
{
  margin: var(--line) var(--pad);

}


.mod .toggles span
{
  justify-content: center;
  display: flex;
  }

.mod .toggles .active
{
  color: rgb(var(--color-main));
}

.mod .toggles .butt
{
  padding: 0 var(--pad)
}

.mod .toggles .butt:focus:not(.active)
{
  color: rgb(var(--color-d));
}

/* @end */


/* @group header */

#header
{
  align-items: center;
  display: grid;
  grid-area: header;
  grid-template-areas: "caralho state";
  grid-template-columns: auto 1fr;
  line-height: var(--line);
}

#caralho
{
  grid-area: caralho;
  padding: 0 var(--pad);
  text-decoration: none;
  user-select: none;
}

#state
{
  display: grid;
  font-size: 1rem;
  grid-area: state;
  grid-gap: var(--pad);
  grid-template-areas: "before title after";
  grid-template-columns: auto auto 1fr;
  margin: 0;
  overflow: scroll;
}

#state::before
{
  content: attr(data-pathname);
  opacity: .5;
}

/* @end */


/* @group main view */

#view 
{
  align-content: start;
  align-items: start;
  align-self: start;
  display: grid;  
  grid-area: main;
  grid-template-areas: "p" "e";
  position: relative;
  z-index: 1;
}

#view > section
{
  display: grid;
  z-index: 1;
}

#view > section > header 
{
  z-index: 0;
}

#view > section > header > .butt 
{
  background: rgb(var(--color-b));
  color: rgb(var(--color-alt));
  display: block;
  font-size: var(--font-size-s);
  line-height: 1rem;
  padding: var(--padm);
  padding-top: 0;
  text-align: left;  
  width: 100vw;
}

#view > section > header > .butt:not([data-count]),
#view > section > header > .butt[data-count="0"]
{
  display: none;
}

#view > section > header > .butt::before
{
  content: "[" ;
}

#view > section > header > .butt::after
{
  content: ":" attr(data-count) "]";
}

#view > section.expanded > header > .butt::before
{
  content: "";
}

#view > section.expanded > header > .butt::after
{
  content: ":" attr(data-count) "";
}

#view > section.expanded > header
{
  color: rgb(var(--color-c));
  justify-self: start;
}

#view > section.expanded > header > .butt
{
  padding-left: var(--padm);
}

.viewing #view > section
{
  margin-top: 0;
}

.viewing #aa_read_me
{
  display: none;
}

.viewing #view > section > header > .butt
{
  display: none;
}

/* @end */


/* @group dialog */

#dialog
{
  background: rgb(var(--color-b));
  border: none;
  color: rgb(var(--color-d));
  display: grid;
  max-height: 100vh; /*calc(var(--media-max-height) + var(--line));*/
  max-width: 100vw;
  padding: 0;
}

#dialog[open]::backdrop
{
  background: black;
  opacity: .618;
}

#dialog_options
{
  background: rgb(var(--color-b));
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--pad);
  justify-content: center;
  justify-items: center;
  margin: 0;
  padding: var(--pad);
  position: sticky;
  position: -webkit-sticky;
}

#dialog[title]::before
{
  color: rgb(var(--color-main));
  content: attr(title);
  display: block;
  margin: var(--pad) 0;
  text-align: center;
}

.removed_tags
{
  font-size: var(--font-size-s);
  margin: var(--line) auto;
  padding-left: var(--line);
}

.removed_tags .disabled
{
  text-decoration: line-through;
}

#dialog .img_modal
{
  cursor: zoom-out;
  justify-self: center;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

#dialog .img_modal.contained
{
  max-height: var(--media-max-height);
}

#dialog .img_modal.qr
{
  padding: var(--line);
  max-height: 100vh;
}

#dialog > button
{
  padding-bottom: var(--pad);
  padding-top: var(--padm);
  position: sticky;
  top: 0;
}

/* @end */


/* @group notice */

.notice
{
  align-items: center;
  display: grid;
  grid-gap: 0 var(--pad);
  grid-auto-flow: column;
  justify-content: start;
  padding: 0 var(--padm);
}

.notice .title
{
  grid-col: 1;
  grid-row: 1;
  margin: 0;
}

.notice .description
{
  grid-col: 1 / -1;
  grid-row: 2;
}

.notice .butt
{
  line-height: 1rem;
  padding: 0;
  margin: 0;
}

.notice .butt.slap
{
  color: rgb(var(--color-c));
  pointer-events: none;
}

/* @end */

/* @group read_me */

#aa_read_me
{
  margin-bottom: var(--pad);
  padding-left: var(--padm);
}

#aa_read_me > summary
{
  font-size: var(--font-size-s);
}

#aa_read_me > summary::before
{
  content: "[";
  font-size: var(--font-size-s);
}

#aa_read_me > summary::after
{
  content: "]";
  font-size: var(--font-size-s);
}

#aa_read_me[open] article
{
  padding: var(--line) 1rem;
}

#aa_read_me .content
{
  max-height: unset;
}

#aa_read_me[open] > summary
{
  font-size: 0;
}

#aa_read_me[open] > summary::before
{
  content: "[x";
}


/* @end */

@media screen and (min-width: 1025px) 
{
  #caralho:hover::before 
  {
    background: rgb(var(--color-b));
    content: "!<=";
    position: absolute;
  }

  details > summary:hover
  {
    opacity: 1;
  }
  
/*  .item:hover
  {
    background-color: rgba(var(--color-b),.6);
  }*/
  
  
  #view > section.expanded > header,
  #view > details[open] > summary
  {
    position: sticky;
    top: 0;
    line-height: 1.5rem;
  }

  #view > section.expanded > header:hover
  {
    z-index: 2;
  }
  
  #l > header .butt:hover
  {
    background: rgba(var(--color-a));
  }

  .mod .item:hover
  {
    border-bottom: 1px dotted rgb(var(--color-c));
    border-top: 1px dotted rgb(var(--color-c));
  }
  
  .l.is_new:hover
  {
    background: rgb(var(--color-c));
    z-index: 9;
  }
  
  .l details > summary:hover
  {
    background: rgb(var(--color-a));
    color: rgb(var(--color-main));
  }
  
  .l:hover
  {
    border-bottom: 1px dotted rgba(var(--color-d),.5);
    border-top: 1px dotted rgba(var(--color-d),.5);
  }
  
  .butt.plug:hover
  {
    background: rgb(var(--color-e));
    color: rgb(var(--color-a));
  }
}

@media screen and (max-width: 768px) 
{
  :root 
  {
    /*--pad: .68rem;*/
  }
  
  #mods
  {
    /*width: 100vw;*/
  }
  
  .mod[open]
  {
    width: calc(100vw - calc(var(--line)*2));
  }
}
