@font-face 
{
  font-family: "Source Code Pro";
  src: 
  url('/stuff/font.otf.woff2') format("woff2"),
  url('/stuff/font.otf') format("opentype");
}

:root 
{
  --cb: cubic-bezier(0.25, 1, 0.5, 1);
  --cb-io: cubic-bezier(0.76, 0, 0.24, 1);
  --trans: all .3s ease-in-out 0s;
  --trans-fast: all .2s ease-out 0s;
  --trans-quart: all .4s var(--cb) 0s;
  --trans-slow: all .6s var(--cb) 0s;
  --trans-quart-io: all .3s var(--cb-io) 0s;
  --font-main: "Source Code Pro", monospace;
  --font-size: 16px;
  --font-size-s: .69420rem;
  --font-size-xs: .5236rem;
  --font-size-m: 1.5rem;
  --font-size-l: 2.1rem;
  --font-size-xl: 3.6rem;
  --line: 2rem;
  --pad: .6rem;
  --padm: .4rem;
  --pad-l: calc(calc(var(--size) - 1.5rem)/2);
  --size: calc(4 * var(--font-size));
  --size-s: 2rem;
  --size-l: 20vh;
  --media-height: 50vh; /* calc(1rem * 4); */
  --media-max-height: calc(100vh - 8rem - var(--line) + var(--pad));
  --top: 0;
}

/* @group themes */

html[data-theme="dark"] 
{ 
  --color-a: 0,0,0;
  --color-b: 23,23,23;
  --color-c: 82,82,82;
  --color-d: 136,136,136;
  --color-e: 199,199,199;
  --color-f: 233,233,233;
  --color-main: 222,147, 95;
  --color-alt: 178,148,187;
  --color-no: 204,102,102;
  --color-yes: 100,200,100;
  --color-maybe: 240,198,116;
  --color-undefined: 138,190,183;
  --color-sad: 129,162,190;
  --color-dark: var(--color-a);
  --color-light: var(--color-f);
}

html[data-theme="light"] 
{
  --color-a: 255,255,255;
  --color-b: 233,233,233;
  --color-c: 199,199,199;
  --color-d: 136,136,136;
  --color-e: 82,82,82;
  --color-f: 23,23,23;
  --color-main: 222,147, 95;
  --color-alt: 178,148,187;
  --color-no: 204,102,102;
  --color-yes: 181,189,104;
  --color-maybe: 240,198,116;
  --color-undefined: 138,190,183;
  --color-sad: 129,162,190;
  --color-dark: var(--color-f);
  --color-light: var(--color-a);
}

/* @end */


/* @group animations */

@keyframes loading 
{
  0%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}

/* @end */


/* @group default */

::-webkit-scrollbar 
{
  height: 0px;
  width: 0px;
}

::selection
{
  background: rgba(var(--color-f), .99);
  color: rgba(var(--color-a), .99);
}

::placeholder
{
  color:  rgb(var(--color-c));
  font-family: inherit;
}

html
{
  background-color: rgb(var(--color-b));
  color: rgb(var(--color-d));
  font-family: var(--font-main);
  font-size: var(--font-size);
  margin: 0;
  scrollbar-width: none;
  /*scroll-snap-type: y mandatory;*/
}

body 
{
  --c: var(--color-f);
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: auto 1fr auto;
  line-height: 1;
  margin: 0;
  min-height: 100vh;
  padding-bottom: calc(var(--size) + var(--line));
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

.framed body 
{
  padding-bottom: 0;
}


h1, h2, h3, h4, h5, h6, p, ul, ol, dl
{
  line-height: 1.5;
  margin: 0;
  margin-bottom: var(--pad);
}

h1, h2, h3, h4, h5, h6
{
  font-size: inherit;
  font-weight: normal;
}

ul, ol, dl
{
  padding-left: 0;
}

dl 
{
  display: grid;
  grid-gap: 0 var(--pad);
  grid-template-columns: auto 1fr;
}

details 
{
  box-sizing: border-box;
  margin-bottom: var(--pad);
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
}

summary
{
  cursor: pointer;
  display: block;
  font-size: var(--font-size-s);
  line-height: 1.5;
  transition: var(--trans-fast);
  user-select: none;
  z-index: 1;
}

summary::-webkit-details-marker 
{
  display: none;
}

details.empty > summary
{
  /*pointer-events: none;*/
}

iframe 
{
  aspect-ratio: 16/9;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

code
{
  background: rgb(var(--color-a));
  font-family: var(--font);
  padding: 0 var(--padm);
  white-space: pre-wrap;
}

a 
{
  color: inherit;
}

a.empty,
a:not([href])
{
  pointer-events: none;
}

.a 
{
  display: inline-grid;
  font-size: inherit;
  grid-template-areas: "before and after";
  grid-template-columns: auto 1fr auto;
}

.a > span
{
  grid-area: and;
  display: grid;
  grid-auto-flow: column;
  pointer-events: none;
  white-space: pre;
  word-break: keep-all;
}

button 
{
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0 var(--padm);
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:focus
{
  outline: none;
  color: rgb(var(--color-f));
}

button:hover
{
  color: rgb(var(--color-f));
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] 
{
  -moz-appearance: textfield;
}

select
{
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  color:  rgb(var(--color-d));
  font-family: inherit;
  font-size: var(--font-size-s);
}

input[type=text],
input[type=number],
textarea
{
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 2px;
  color:  rgb(var(--color-e));
  font-family: inherit;
  font-size: var(--font-size);
  margin: var(--pad) 0;
  min-width: 2rem;
}

select:focus,
input[type=text]:focus,
input[type=number]:focus,
textarea:focus
{
  background: rgb(var(--color-c));
  outline: none;
}

[data-alt]::after
{
  content: "(" attr(data-alt) ")";
  color: rgb(var(--color-c));
  font-size: var(--font-size-s);
}

.hidden
{
  display: none;
}

.loading
{
  animation: loading 1s ease-in-out 0s infinite alternate;
}

.qr
{
  background: white;
  margin: var(--padm) 0;
  max-height: 256px;
  padding: var(--font-size);
}

.qr::selection
{
  background: none;
}

/* @end */


/* @group butts */

/*.butt.sign,*/
.butt.decrypt,
.butt.confirm,
.butt.yes
{
  color: rgb(var(--color-yes));
}

.butt.cancel,
.butt.no 
{
  color: rgb(var(--color-no));
}

.butt.maybe
{
  color: rgb(var(--color-sad));
}

.butt:focus
{
  color: rgb(var(--color-f));
}

.butt.yolo
{
  /*background-color: rgb(var(--color-f));*/
  /*color: rgb(var(--color-a));*/
}

/*.butt.pow
{
  color: rgb(var(--color-main));
}

.butt.edit
{
  color: rgb(var(--color-maybe));
}*/


@keyframes clk 
{
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.clkd
{
  animation: clk 1s var(--cb) 0s 1 normal!important;
}

/* @end */


/* @group list / item */

.list 
{  
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: var(--trans-quart);
}

.item 
{
  display: grid;
  grid-template-areas: "bef k v s aft";
  grid-template-columns: auto auto 1fr auto;
  justify-items: start;
  padding: 0 var(--pad);
  overflow-x:  scroll;
}

.item[data-before]::before 
{
  content: attr(data-before);
  grid-area: bef;
}

.item[data-after]::after 
{
  content: attr(data-after);
  grid-area: aft;
}

li.item > .key,
li.item > .val 
{
  margin: 0;
  padding: 0;
}

.item > .key::after 
{
  content: "";
  margin-right: var(--padm);
  /*white-space: pre;*/
}

.item .sets
{
  grid-area: s;
}

.item .del 
{
  color: rgb(var(--color-no));
}

.server .url 
{
  grid-area: k;
  margin: 0 var(--pad);
}

.url .protocol,
.url .pathname,
.url .hashsearch
{
  opacity: .6;
}

.item > details
{
  overflow: hidden;
}

.item > details > summary
{
  /*margin-left: 0;*/
}

.item > details[open] > summary
{
  /*color: rgb(var(--color-main));*/
  /*margin-left: var(--padm);*/
  /*font-size: var(--font-size);*/
}

.item > details > summary::before,
.item > details:not([open]) > summary::before
{
  content: "[";
}

.item > details > summary::before
{
  content: "[";
}

.item > details > summary::after 
{
  content: "]";
}

.item > details.empty > summary::before
{
  content: "";
}

.item > details.empty > summary::after 
{
  content: " empty";
}

#q .item 
{
  grid-template-areas: "bef s k v aft";
  grid-template-columns: auto auto auto 1fr auto;
}

/* @end */


/* @group mods */

#mods
{
  /*background: rgba(var(--c),.1);*/
  box-sizing: border-box;
  grid-template-columns: 1fr var(--line);
  
  width: 100%;
  padding: var(--line);
  padding-left: 0;
}

#u_u #mods
{
  pointer-events: none;
}

#mods > *
{
  pointer-events: auto;
}

.mod
{
  background: rgba(var(--color-b),.8);
  font-size: var(--font-size-s);
  justify-self: end;
/*  max-height: 50vh;
  max-width: 100vw;
  overflow-y: scroll;*/
  text-align: center;
  width: auto;
}

.mod[open]
{
  background: rgb(var(--color-a));
  border-bottom: 1px dashed rgb(var(--color-b));
  border-top: 1px dashed rgb(var(--color-b));
  padding-bottom: var(--line);
/*  position: sticky;
  top: 0;*/
}

.mod > summary
{
  background: rgb(var(--color-a));
  font-size: var(--font-size-m);
  padding: var(--pad);
}

.mod[open] > summary
{
  color: rgb(var(--color-f));
  display: grid;
  justify-self: stretch;
  margin-bottom: var(--pad);
  position: sticky;
  top: 0;
}

.mod .item 
{
  border-bottom: 1px solid rgba(var(--color-c),0);
  border-top: 1px solid rgba(var(--color-c),0);
}

.mod details
{
  text-align: left;
  grid-column: 1 / -1;
}

.mod[open] .list
{
  background-color: rgb(var(--color-a));
  margin-bottom: var(--padm);
}

.mod > .butt
{
  font-size: var(--font-size);
  padding: var(--padm);
}

.mod .server::after
{
  content: "(" attr(data-state) ") " attr(data-q);
  margin-right: var(--pad);
}

.mod .server[data-state="1"]::after
{
  color: rgb(var(--color-yes));
  opacity: .7;
}

.mod .server[data-state="3"]::after
{
  color: rgb(var(--color-no));
  opacity: .7;
}

.mod .server .add
{
  grid-area: bef;
}

.mod .server .del
{
  grid-area: aft;
}

/* @end */


/* @group header */

#header
{
  align-items: center;
  display: grid;
  grid-area: header;
  grid-template-areas: "caralho state";
  grid-template-columns: auto 1fr;
  line-height: var(--line);
}

#caralho
{
  grid-area: caralho;
  padding: 0 var(--pad);
  text-decoration: none;
  user-select: none;
}

#state
{
  display: grid;
  font-size: 1rem;
  grid-area: state;
  grid-gap: var(--pad);
  grid-template-areas: "before title after";
  grid-template-columns: auto auto 1fr;
  margin: 0;
  overflow: scroll;
}

#state::before
{
  content: attr(data-pathname);
  opacity: .5;
}

/* @end */


/* @group main view */

#view 
{
  align-content: start;
  align-items: start;
  align-self: start;
  display: grid;  
  grid-area: main;
  grid-template-areas: "p" "e";
  position: relative;
  z-index: 1;
}

#view > section
{
  display: grid;
  z-index: 1;
}

#view > section > header 
{
  z-index: 0;
}

#view > section > header > .butt 
{
  background: rgb(var(--color-b));
  color: rgb(var(--color-alt));
  display: block;
  font-size: var(--font-size-s);
  line-height: 1rem;
  padding: var(--padm);
  padding-top: 0;
  text-align: left;  
  width: 100vw;
}

#view > section > header > .butt:not([data-count]),
#view > section > header > .butt[data-count="0"]
{
  display: none;
}

#view > section > header > .butt::before
{
  content: "[" ;
}

#view > section > header > .butt::after
{
  content: ":" attr(data-count) "]";
}

#view > section.expanded > header > .butt::before
{
  content: "";
}

#view > section.expanded > header > .butt::after
{
  content: ":" attr(data-count) "";
}

#view > section.expanded > header
{
  color: rgb(var(--color-c));
  justify-self: start;
}

#view > section.expanded > header > .butt
{
  padding-left: var(--padm);
}

#view > details
{
  margin-bottom: var(--pad);
  padding-left: var(--padm);
}

#view > details > summary::before
{
  content: "[";
  font-size: var(--font-size-s);
}

#view > details > summary::after
{
  content: "]";
  font-size: var(--font-size-s);
}

#view > details[open] article
{
  padding: var(--line) 1rem;
}

#view > details .content
{
  max-height: unset;
}

#view > details[open] > summary
{
  font-size: 0;
}

#view > details[open] > summary::before
{
  content: "[x";
}

.viewing #view > section
{
  margin-top: 0;
}

.viewing #view > section > header > .butt,
.viewing #view > details
{
  display: none;
}

/* @end */


/* @group dialog */

#dialog
{
  background: rgb(var(--color-b));
  border: none;
  color: rgb(var(--color-d));
  display: grid;
  max-height: 100vh; /*calc(var(--media-max-height) + var(--line));*/
  max-width: 100vw;
  padding: 0;
}

#dialog[open]::backdrop
{
  background: black;
  opacity: .618;
}

#dialog_options
{
  background: rgb(var(--color-b));
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--pad);
  justify-content: center;
  justify-items: center;
  margin: 0;
  padding: var(--pad);
  position: sticky;
  position: -webkit-sticky;
}

#dialog[title]::before
{
  color: rgb(var(--color-main));
  content: attr(title);
  display: block;
  margin: var(--pad) 0;
  text-align: center;
}

.removed_tags
{
  font-size: var(--font-size-s);
  margin: var(--line) auto;
  padding-left: var(--line);
}

.removed_tags .disabled
{
  text-decoration: line-through;
}

#dialog .modal-img
{
  cursor: zoom-out;
  justify-self: center;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

#dialog .modal-img.contained
{
  max-height: var(--media-max-height);
}

#dialog .modal-img.qr
{
  padding: var(--line);
  max-height: 100vh;
}

#dialog > button
{
  padding-bottom: var(--pad);
  position: sticky;
  top: 0;
/*  position: absolute;
  transform: translateY(-50%);
  z-index: 2;*/
}

/* @end */


/* @group notice */

.notice
{
  align-items: start;
  display: grid;
  grid-gap: 0 var(--pad);
  grid-auto-flow: column;
}

.notice .title
{
  grid-col: 1;
  grid-row: 1;
  margin: 0;
}

.notice .description
{
  grid-col: 1 / -1;
  grid-row: 2;
}

.notice .butt.slap
{
  color: rgb(var(--color-c));
  pointer-events: none;
}

/* @end */

/* @group logs */

#l
{
  grid-area: l;
  position: relative;
  scrollbar-width: none;
  transition: max-height 1s cubic-bezier(0.87, 0, 0.13, 1);
  transition: var(--trans-fast);
}

#l > header
{
  display: none;
}

#l > header .butt
{
  background: rgba(var(--color-b));
  font-size: 0;
  padding: var(--pad);
  text-align: center;
}

#l > header .butt::before
{
  color: rgb(var(--color-f));
  content: "/* logs */";
  font-size: var(--font-size-s);
}

#logs
{
  position: relative;
}

.l
{
  font-size: var(--font-size-s);
  grid-gap: var(--pad);
  grid-template-areas: "bef k";
  grid-template-columns: auto 1fr;
  padding-left: 0;
}

.l a
{
  text-decoration: none;
  cursor: pointer;
}

.l .list
{
  position: relative;
}

.l .list .item
{
  box-sizing: border-box;
  overflow-y: scroll;
  white-space: pre;
  width: calc(100vw - calc(var(--pad-l)*2));
  word-break: keep-all;
}

.l::before
{
  content: "//";
  opacity: .5;
  padding-left: var(--pad);
}

.l.is_new
{
  background-color: rgb(var(--color-a));
  box-shadow: var(--pad) 0px var(--pad) rgb(var(--color-b));
}

.l > p,
.l > details p 
{
  margin: 0;
  line-height: 1.5;
}

.l > .list > li
{
  padding: 0;
}

.l > .butt,
.l > p > .butt
{
  color: rgb(var(--color-d));
  /*border-bottom: 1px dashed rgb(var(--color-d));*/
  /*font-size: var(--font-size-xs);*/
  padding: 0;
  text-decoration: underline;
}

.l .butt.clkd::after
{
  content: " …nope";
}

.l ul::before,
.l dl::before 
{
  display: block;
  grid-column: span 2;
  margin-right: var(--pad);
  white-space: pre;
}

.item:not(.server)[data-sets]::after
{
  color: rgb(var(--color-f));
  content: attr(data-sets);
  grid-area: aft;
  margin-right: var(--pad);
}



.cli_expanded #l
{
  overflow: hidden;
  overflow-y: scroll;
}

.cli_expanded #l > header
{
  display: grid;
  position: sticky;
  top: 0;
  z-index: 1;
}

.cli_expanded #l.expanded
{
  padding-bottom: var(--line);
}

#l.expanded > header .butt::before
{
  color: rgb(var(--color-f));
  content: "//";
  font-size: var(--font-size-s);
}

html:not(.cli_expanded) .l.is_new
{
  position: absolute;
  transform: translateY(calc(var(--pad)*-1));
}

html:not(.cli_expanded) .l:not(.is_new),
#l:not(.expanded) .l:not(.is_new)
{
  display: none;
}

/* @end */

@media screen and (min-width: 1025px) 
{

  #caralho:hover::before 
  {
    background: rgb(var(--color-b));
    content: "|<=";
    position: absolute;
  }

  details > summary:hover
  {
    color:rgb(var(--color-f));
  }
  
  .item:hover
  {
    background-color: rgba(var(--color-b),.6);
  }
  
  .profile .item:hover
  {
    background-color: rgba(var(--color-c),1);
  }
  
  #view > section.expanded > header,
  #view > details[open] > summary
  {
    position: sticky;
    top: 0;
    line-height: 1.5rem;
  }

  #view > section.expanded > header:hover
  {
    z-index: 2;
  }
  
  #l > header .butt:hover
  {
    background: rgba(var(--color-a));
  }

  .mod .item:hover
  {
    border-bottom: 1px dotted rgb(var(--color-c));
    border-top: 1px dotted rgb(var(--color-c));
    /*background-color: rgb(var(--color-c));*/
    /*color: rgb(var(--color-a));*/
  }
  
  html:not(.cli_expanded) .l.is_new:hover
  {
    background: rgb(var(--color-a));
    z-index: 9;
  }

  
}

@media screen and (max-width: 768px) 
{
  :root {
    --pad: .68rem;
  }
  
  html:not(.cli_expanded) .l.is_new
  {
    position: absolute;
    transform: translateY(calc(calc(var(--line) + var(--padm))*-1));
  }
}
