#l
{
  grid-area: l;
  /*padding-bottom: var(--line);*/
  position: relative;
  scrollbar-width: none;
  transition: max-height 1s cubic-bezier(0.87, 0, 0.13, 1);
}

:focus + #l
{
  /*max-height: 40vh;*/
}

#l > header
{
  display: none;
}

#l > header .butt
{
  background: rgba(var(--color-b));
  font-size: 0;
  padding: var(--pad);
  text-align: center;
}

#l > header .butt::before
{
  color: rgb(var(--color-f));
  content: "/* logs */";
  font-size: var(--font-size-s);
}

#logs
{
  position: relative;
}

.l
{
  font-size: var(--font-size-s);
  grid-gap: var(--pad);
  grid-template-areas: "bef k";
  grid-template-columns: auto 1fr;
  padding-left: 0;
}

.l a
{
  text-decoration: none;
  cursor: pointer;
}

.l .list
{
  position: relative;
}

.l .list .item
{
  box-sizing: border-box;
  overflow-y: scroll;
  white-space: pre;
  width: calc(100vw - calc(var(--pad-l)*2));
  word-break: keep-all;
}

.l::before
{
  content: "//";
  opacity: .5;
  padding-left: var(--pad);
}

.l.is_new
{
  background-color: rgb(var(--color-a));
  box-shadow: var(--pad) 0px var(--pad) rgb(var(--color-b));
}

.l > p 
{
  margin: 0;
  line-height: 1.5;
}

.l > .list > li
{
  padding: 0;
}

.l > .butt,
.l > p > .butt
{
  color: rgb(var(--color-d));
  /*border-bottom: 1px dashed rgb(var(--color-d));*/
  /*font-size: var(--font-size-xs);*/
  padding: 0;
  text-decoration: underline;
}

.l .butt.clkd::after
{
  content: " …nope";
}

.l ul::before,
.l dl::before 
{
  display: block;
  grid-column: span 2;
  margin-right: var(--pad);
  white-space: pre;
}

.item:not(.server)[data-sets]::after
{
  color: rgb(var(--color-f));
  content: attr(data-sets);
  grid-area: aft;
  margin-right: var(--pad);
}



.cli_expanded #l
{
  overflow: hidden;
  overflow-y: scroll;
}

.cli_expanded #l > header
{
  display: grid;
  position: sticky;
  top: 0;
  z-index: 1;
}

#l.expanded > header .butt::before
{
  color: rgb(var(--color-f));
  content: "//";
  font-size: var(--font-size-s);
}

html:not(.cli_expanded) .l.is_new
{
  position: absolute;
  transform: translateY(calc(var(--pad)*-1));
}



html:not(.cli_expanded) .l:not(.is_new):not(:hover),
#l:not(.expanded) .l:not(.is_new)
{
  display: none;
}

@media screen and (min-width: 1025px) 
{
  html:not(.cli_expanded) .l.is_new:hover
  {
    z-index: 9;
  }
  
  #l > header .butt:hover
  {
    background: rgba(var(--color-a));
  }

  .l .item:hover
  {
    background-color: rgb(var(--color-b));
  }
  
  .l .item:hover .butt
  {
    
    /*color: rgb(var(--color-c));*/
  }
  
  .l .item .butt:hover
  {
    color: rgb(var(--color-a));
  }

}

@media screen and (max-width: 769px) 
{
  .l 
  {
    /*padding: var(--pad) var(--padm);*/
  }
  
  .l .list .item
  {
    /*padding: var(--pad) 0;*/
  }
  
  .l::before
  {
    /*padding-left: 0;*/
  }
  
  html:not(.cli_expanded) .l.is_new
  {
    position: absolute;
    transform: translateY(calc(calc(var(--line) + var(--padm))*-1));
  }
}