.list
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: var(--trans-quart);
}

.item
{
  display: grid;
  grid-template-areas: "bef k v s aft";
  grid-template-columns: auto auto 1fr auto;
  padding: 0 var(--pad);
  overflow-x:  scroll;
}

.item[data-before]::before 
{
  content: attr(data-before);
  grid-area: bef;
}

.item[data-after]::after 
{
  color: rgb(var(--color-c));
  content: attr(data-after);
  grid-area: s;
}

.item > .key
{
  color: rgb(var(--color-e));
  grid-area: k;
  margin: 0 var(--pad);
}

.item > .val
{
  color: rgb(var(--color-d));
  grid-area: v;
  margin: 0 var(--pad);
  overflow-x: scroll;
  white-space: pre;
}

.item .sets
{
  grid-area: s;
}

.item .del
{
  color: rgb(var(--color-no));
  /* color: rgb(var(--color-a)); */
  /* margin-left: var(--pad); */
}

.item > details
{
  overflow: hidden;
}

.item > details[open]
{
  padding-bottom: var(--pad);
}

.item > details > summary
{
  color: rgb(var(--color-e));
}

.item > details[open] > summary
{
  padding: var(--pad) 0;
}

.item > details > summary[data-count]::after,
.item.ls_arr > details > summary[data-count]::after 
{
  content: " [" attr(data-count) "]";
}

.item.ls_arr > details,
.item.ls_obj > details
{
  grid-column: 1 / -1;
}

.item.ls_obj > details > summary[data-count]::after 
{
  content: " {" attr(data-count) "}";
}

.item.ls_obj > details[open] > summary::after 
{
  font-size: var(--font-size-s);
}

.item > details > summary::after
{
  opacity: .6;
}

.item > details.empty > summary::after 
{
  content: " empty";
}

.item.empty
{
  text-decoration: line-through;
  pointer-events: none;
}

.item.sifted_out
{
  display: none;
}

.ls_arr > details > .list > .item > .key
{
  min-width: 2rem;
  text-align: right;
  user-select: none;
}

.ls_arr .list .item
{
  display: inline-block;
}

.list_filter
{
  background: none;
  border: none;
  font-family: var(--font-main);

  padding: 0 var(--pad);
}

.mod .list_filter
{
  font-size: var(--font-size);
  margin-bottom: var(--pad);
  text-align: center;
}

.list_filter::placeholder
{
  font-size: inherit;
  font-family: var(--font-main);
}

.list_filter:focus::placeholder
{
  opacity: 0;
}

.list_filter:focus
{
  background: rgb(var(--color-a));
  outline: none;
}

.list_details details:not([open])
{
  display: inline-block;
}

@media screen and (min-width: 1025px) 
{
  .list_filter:hover
  {
    background: rgb(var(--color-a));
  }
}