#l
{
  grid-area: l;
  max-height: 40vh;
  position: relative;
  scrollbar-width: none;
  transition: var(--trans-fast);
}

#cli.expanded #l
{
  max-height: unset;
}

#l > header
{
  display: none;
}

#l > header .butt
{
  background: rgba(var(--color-b));
  font-size: 0;
  padding: var(--pad);
  text-align: center;
}

#l > header .butt::before
{
  color: rgb(var(--color-f));
  content: "/* logs */";
  font-size: var(--font-size-s);
}

#logs
{
  position: relative;
  counter-reset: log -1;
}

.l
{
  /*background: red;*/
  border-top: 1px solid rgba(var(--color-b),1);
  border-bottom: 1px solid rgba(var(--color-b),0);
  font-size: var(--font-size-s);
  /*grid-gap: var(--pad);*/
  grid-template-areas: "bef k aft";
  grid-template-columns: auto 1fr auto;
  line-height: 1.2rem;
  overflow-x: unset;
  padding: 0 var(--pad);
}

.l::before
{
  align-content: start;
  content: counter(log) "·";
  counter-increment: log;
  display: grid;
  font-size: var(--font-size-s);
  line-height: 1.32rem;
  margin-left: var(--pad);
  margin-right: var(--padm);
  opacity: .6;
  overflow: hidden;
  text-align: right;
  width: calc(var(--padm)*4);/*calc(var(--padm)*4);*/
}

.l.is_new
{
  background-color: rgb(var(--color-a));
  box-shadow: var(--shadow);
}

.l.is_new::before
{
  content: "/*";
}

.l.is_new::after
{
  content: " */";
  margin-left: var(--padm);
  opacity: .6;
}

.l .item
{
  overflow-x: unset;
}

.l p
{
  border-bottom: 1px solid rgba(var(--color-b),1);
  border-top: 1px solid rgba(var(--color-b),1);
}

.l a
{
  cursor: pointer;
  text-decoration: none;
}

.l > .butt.plug
{
  justify-self: start
}

.l .list
{
  position: relative;
}

.l .list .item
{
  box-sizing: border-box;
  /*overflow-y: scroll;*/
  white-space: pre;
  /*width: calc(100vw - calc(var(--pad-l)*2));*/
  word-break: keep-all;
}

details.base,
.l details
{
  box-sizing: border-box;
  /*border-left: 1px solid rgba(var(--color-c));*/
  overflow: unset;
  position: relative;
  
  /*width: 100%;*/
}

details.base[open],
.l details[open]
{
  background: rgb(var(--color-b));
  border-left: 1px solid rgba(var(--color-d));
/*  border: var(--padm) solid rgba(var(--color-d));
  border-width: 1px 1px var(--padm) var(--padm);*/
  /*padding: 1px 1px var(--padm) var(--padm);*/
  padding-left: var(--padm);
  padding-bottom: var(--padm);
}

/*.l details[open]::after
{
  content: "_";
}*/


.l details > summary
{
  padding: 0 var(--padm);
  background: rgb(var(--color-b));
  border-bottom: 1px dotted rgba(var(--color-d),1);
}

details.base[open] > summary,
.l details[open] > summary
{
  border-bottom: 1px dotted rgba(var(--color-c),1);
  margin-bottom:  var(--pad);
  position: sticky;
  top: var(--line);
  z-index: 2;
}

.l > p,
.l > details p 
{
  margin: 0;
  white-space: pre-wrap;
  line-height: inherit;
  word-break: break-word;
}

.l > details > article.content.parsed
{
  font-size: var(--font-size);
  line-height: calc(var(--font-size-m));
  max-width: 80vw;
}

.l details[open] > p,
.l details[open] > button
{
  margin: var(--padm);
}

.l > .list > li
{
  padding: 0;
}

.l .butt.clkd::after
{
  content: " …nope";
}

.l ul::before,
.l dl::before 
{
  display: block;
  grid-column: span 2;
  margin-right: var(--pad);
  white-space: pre;
}

.cli_expanded #l
{
  overflow: hidden;
  overflow-y: scroll;
}

.cli_expanded #l > header
{
  display: grid;
  position: sticky;
  top: 0;
  z-index: 1;
}

#l.expanded > header .butt::before
{
  color: rgb(var(--color-f));
  content: "//";
  font-size: var(--font-size-s);
}

.cli_expanded .l.is_new
{
  position: sticky;
  bottom: 0;
  /*opacity: .2;*/
}

html:not(.cli_expanded) .l.is_new
{
  margin-left: 0;
  max-height: calc(var(--font-size)*1.5);
  overflow-y: scroll;
  padding-left: 0;
  position: absolute;
  transform: translateX(var(--pad-l)) translateY(calc(var(--line)*-1));
}

html:not(.cli_expanded) .l.is_new summary
{
  top: 0;
  position: relative;
}

html:not(.cli_expanded) .l.is_new::before
{
  /*padding-left: 0;*/
  width: auto;
}

html:not(.cli_expanded) .l:not(.is_new),
#l:not(.expanded) .l:not(.is_new)
{
  display: none;
}


@media screen and (min-width: 1025px) 
{
  #l > header .butt:hover
  {
    background: rgba(var(--color-a));
  }

  .l.is_new:hover
  {
    background: rgb(var(--color-c));
    z-index: 9;
  }
  
  .l details > summary:hover
  {
    background: rgb(var(--color-a));
    color: rgb(var(--color-main));
  }
  
  .l:hover
  {
    border-bottom: 1px dotted rgba(var(--color-d),.5);
    border-top: 1px dotted rgba(var(--color-d),.5);
  }
}

/* @media screen and (max-width: 768px) 
{

} */

/* #region    notice */

.notice
{
  align-items: center;
  display: grid;
  grid-gap: 0 var(--pad);
  grid-auto-flow: column;
  justify-content: start;
  padding: 0 var(--padm);
}

.notice .title
{
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

.notice .description
{
  grid-column: 1 / -1;
  grid-row: 2;
}

.notice .butt
{
  line-height: 1rem;
  padding: 0;
  margin: 0;
}

.notice .butt.slap
{
  color: rgb(var(--color-c));
  pointer-events: none;
}

/* #endregion notice */