.section_l
{
  display: grid;
  grid-area: l;
  max-height: 40vh;
  position: relative;
  scrollbar-width: none;
  transition: var(--trans-fast);
}

#cli.expanded .section_l
{
  max-height: unset;
}

.section_l > header
{
  display: none;
}

.section_l > header .butt
{
  background: rgba(var(--color-b));
  font-size: 0;
  padding: var(--pad);
  text-align: center;
}

.section_l > header .butt::before
{
  color: rgb(var(--color-f));
  content: "/* logs */";
  font-size: var(--font-size-s);
}

#logs
{
  position: relative;
  counter-reset: log -1;
  z-index: 0;
}

#logs + button
{
  display: none;
}

#logs.has_new + button
{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  line-height: 1.5;
  padding: 0 var(--padm);
  position: absolute;
  text-align: right;
  transform: translateY(-2rem);
  z-index: -1;
  width: 100%;
}

.cli_expanded #logs + button
{
  position: relative;
  transform: unset;
  text-align: left;
  z-index: inherit;
}

#logs.has_new + button::before
{
  content: "x ";
  white-space: pre;
  
}

.log
{
  border-top: 1px solid rgba(var(--color-b),1);
  border-bottom: 1px solid rgba(var(--color-b),0);
  font-size: var(--font-size-s);
  grid-template-areas: "bef k aft";
  grid-template-columns: auto 1fr auto;
  line-height: 1.2rem;
  overflow-x: unset;
  padding: 0 var(--pad);
}

.log::before
{
  align-content: start;
  content: counter(log) "·";
  counter-increment: log;
  display: grid;
  font-size: var(--font-size-s);
  line-height: 1.32rem;
  margin-left: var(--pad);
  margin-right: var(--padm);
  opacity: .6;
  overflow: hidden;
  text-align: right;
  width: calc(var(--padm)*4);
}

.log.is_new
{
  background-color: rgb(var(--color-a));
  box-shadow: var(--shadow);
}

.log.is_new::before
{
  content: "/*";
}

.log.is_new::after
{
  content: " */";
  margin-left: var(--padm);
  opacity: .6;
}

.log .item
{
  overflow-x: unset;
}

.log p
{
  border-bottom: 1px solid rgba(var(--color-b),1);
  border-top: 1px solid rgba(var(--color-b),1);
}

.log a
{
  cursor: pointer;
  text-decoration: none;
}

.log > .butt.plug
{
  justify-self: start
}

.log .list
{
  position: relative;
}

.log .list .item
{
  box-sizing: border-box;
  white-space: pre;
  word-break: keep-all;
}

details.base,
.log details
{
  box-sizing: border-box;
  overflow: unset;
  position: relative;
}

details.base[open],
.log details[open]
{
  background: rgb(var(--color-b));
  border-left: 1px solid rgba(var(--color-d));
  padding-left: var(--padm);
  padding-bottom: var(--padm);
}


.log details > summary
{
  padding: 0 var(--padm);
  background: rgb(var(--color-b));
  border-bottom: 1px dotted rgba(var(--color-d),1);
}

details.base[open] > summary,
.log details[open] > summary
{
  border-bottom: 1px dotted rgba(var(--color-c),1);
  margin-bottom:  var(--pad);
  position: sticky;
  top: var(--line);
  z-index: 2;
}

.log > details[open] > summary
{
  top: calc(var(--line) - 2px);
  z-index: 3;
}

.log > p,
.log > details p 
{
  margin: 0;
  white-space: pre-wrap;
  line-height: inherit;
  word-break: break-word;
}

.log > details > article.content.parsed
{
  font-size: var(--font-size);
  line-height: calc(var(--font-size-m));
  max-width: 80vw;
}

.log details[open] > p,
.log details[open] > button
{
  margin: var(--padm);
}

.log > .list > li
{
  padding: 0;
}

.log .butt.clkd::after
{
  content: " …nope";
}

.log ul::before,
.log dl::before 
{
  display: block;
  grid-column: span 2;
  margin-right: var(--pad);
  white-space: pre;
}

.cli_expanded .section_l
{
  overflow: hidden;
  overflow-y: scroll;
}

.cli_expanded .section_l > header
{
  display: grid;
  position: sticky;
  top: 0;
  z-index: 1;
}

.section_l.expanded > header .butt::before
{
  color: rgb(var(--color-f));
  content: "//";
  font-size: var(--font-size-s);
}

.cli_expanded .log.is_new
{
  position: sticky;
  bottom: 0;
  /*opacity: .2;*/
}

html:not(.cli_expanded) .log.is_new
{
  margin-left: 0;
  max-height: calc(var(--font-size)*1.5);
  overflow-y: scroll;
  padding-left: 0;
  position: absolute;
  transform: translateX(var(--pad-l)) translateY(calc(var(--line)*-1));
}

html:not(.cli_expanded) .log.is_new summary
{
  top: 0;
  position: relative;
}

html:not(.cli_expanded) .log.is_new::before
{
  /*padding-left: 0;*/
  width: auto;
}

html:not(.cli_expanded) .log:not(.is_new),
.section_l:not(.expanded) .log:not(.is_new)
{
  display: none;
}


@media screen and (min-width: 1025px) 
{
  .section_l > header .butt:hover
  {
    background: rgba(var(--color-a));
  }

  .log.is_new:hover
  {
    background: rgb(var(--color-c));
    z-index: 9;
  }
  
  .log details > summary:hover
  {
    background: rgb(var(--color-a));
    color: rgb(var(--color-main));
  }
  
  .log:hover
  {
    border-bottom: 1px dotted rgba(var(--color-d),.5);
    border-top: 1px dotted rgba(var(--color-d),.5);
  }

  #logs + button:hover
  {
    background-color: rgb(var(--color-alt));
    color: rgb(var(--color-b));
  }
}

/* @media screen and (max-width: 768px) 
{

} */

/* #region    notice */

.notice
{
  align-items: center;
  display: grid;
  grid-gap: 0 var(--pad);
  grid-auto-flow: column;
  justify-content: start;
  padding: 0 var(--padm);
}

.notice .title
{
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

.notice .description
{
  grid-column: 1 / -1;
  grid-row: 2;
}

.notice .butt
{
  line-height: 1rem;
  padding: 0;
  margin: 0;
}

.notice .butt.slap
{
  color: rgb(var(--color-c));
  pointer-events: none;
}

/* #endregion notice */