.section_l
{
  align-content: start;
  align-items: start;
  display: grid;
  grid-area: l;
  max-height: 40vh;
  position: relative;
  scrollbar-width: none;
  transition: var(--trans-fast);
}

#cli.expanded .section_l
{
  max-height: unset;

}

.section_l > header
{
  display: grid;
}

.section_l:not(.has_new) > header
{
  display: none;
}

.section_l.has_new > header
{
  position: absolute;
}

.cli_expanded .section_l > header
{
  display: grid;
  position: sticky;
  top: 0;
  z-index: 1;
}

.section_l > header .butt
{
  align-items: center;
  background: rgba(var(--color-b));
  color: rgba(var(--color-e));
  display: grid;
  font-size: var(--font-size-s);
  grid-auto-flow: column;
  grid-gap: var(--padm);
  grid-template-columns: auto;
  justify-content: start;
  line-height: 1.5rem;
  padding-left: var(--line);
  text-align: left;
}

.section_l > header .butt::before
{
  color: inherit;
  content: "/*";
}

.section_l > header .butt::after
{
  color: inherit;
  content: "*/";
}

#logs
{
  position: relative;
  counter-reset: log -1;
  z-index: 0;
}

.log
{
  border-top: 1px solid rgba(var(--color-b),1);
  border-bottom: 1px solid rgba(var(--color-b),0);
  font-size: var(--font-size-s);
  grid-template-areas: "bef k aft";
  grid-template-columns: auto 1fr auto;
  line-height: 1.2rem;
  overflow-x: unset;
  padding: 0 var(--pad);
}

.log::before
{
  align-content: start;
  align-self: start;
  content: counter(log) "·";
  counter-increment: log;
  display: grid;
  font-size: var(--font-size-s);
  grid-area: bef;
  line-height: 1.32rem;
  margin-left: var(--pad);
  margin-right: var(--padm);
  opacity: .6;
  overflow: hidden;
  position: sticky;
  text-align: right;
  top: 1.5rem;
  width: calc(var(--padm)*4);
}

.log.is_new
{
  background-color: rgb(var(--color-a));
  box-shadow: var(--shadow);
}

.log.is_new::before
{
  content: "/*";
}

.log.is_new::after
{
  content: " */";
  margin-left: var(--padm);
  opacity: .6;
}

.log .item
{
  overflow-x: unset;
}

.log p
{
  border-bottom: 1px solid rgba(var(--color-b),1);
  border-top: 1px solid rgba(var(--color-b),1);
}

.log a
{
  cursor: pointer;
  text-decoration: none;
}

.log > .butt.plug
{
  justify-self: start
}

.log .list
{
  position: relative;
}

.log .list .item
{
  box-sizing: border-box;
  white-space: pre;
  word-break: keep-all;
}

details.base,
.log details
{
  box-sizing: border-box;
  overflow: unset;
  position: relative;
}

details.base[open],
.log details[open]
{
  background: rgb(var(--color-b));
  border-left: 1px solid rgba(var(--color-c));
  padding-left: var(--padm);
  padding-bottom: var(--padm);
}


.log details > summary
{
  padding: 0 var(--padm);
  background: rgb(var(--color-b));
  border-bottom: 1px dotted rgba(var(--color-d),1);
}

details.base[open] > summary,
.log details[open] > summary
{
  border-bottom: 1px dotted rgba(var(--color-c),1);
  margin-bottom:  var(--pad);
  padding: 0;
  position: sticky;
  top: var(--line);
  z-index: 2;
}

.log > details[open] > summary
{
  top: 2em;
  z-index: 3;
}

.log > p,
.log > details p 
{
  margin: 0;
  white-space: pre-wrap;
  line-height: inherit;
  word-break: break-word;
}

.log > details > article.content.parsed
{
  font-size: var(--font-size);
  line-height: calc(var(--font-size-m));
  max-width: 80vw;
}

.log details[open] > p,
.log details[open] > button
{
  margin: var(--padm);
}

.log > .list > li
{
  padding: 0;
}

.log .butt.clkd::after
{
  content: " …nope";
}

.log > .clip 
{
  align-self: start;
  background: rgba(var(--color-yes),0);
  grid-area: bef;
  font-size: 0;
  justify-self: stretch;
  cursor: pointer;
  z-index: 1;
  transition: var(--trans);
  position: sticky;
  top: 1.5rem;
}

/* .log > .butt.clip::before, */
.log > .butt.clip.copied:focus::before
{
  display: block;
  background: rgba(var(--color-yes),1);
  color: rgb(var(--color-b));
  content: "copied!";
  font-size: var(--font-size-s);
  left: 3rem;
  padding: 0 var(--padm);
  position: absolute;
  pointer-events: none;
  transition: var(--trans);
}

.log.is_new > .clip
{
  display: none;
}

.log ul::before,
.log dl::before 
{
  display: block;
  grid-column: span 2;
  margin-right: var(--pad);
  white-space: pre;
}

.cli_expanded .section_l
{
  overflow: hidden;
  overflow-y: scroll;
}



.section_l.expanded > header .butt::before
{
  content: "//";
}

.section_l.expanded > header .butt::after
{
  content: "";
}

.cli_expanded .log.is_new
{
  position: sticky;
  bottom: 0;
}

.aa:not(.cli_expanded) .section_l > header
{
  justify-self: stretch;
  position: absolute;
  transform: translateY(-1.5rem);
  
  width: 100%;
}

.aa:not(.cli_expanded) .section_l > header .butt
{
  color: rgb(var(--color-a));
  line-height: 1.5rem;
  padding-left: .2rem;
  padding-right: var(--padm);
  grid-template-columns: 1fr auto;
}

.aa:not(.cli_expanded) .log.is_new
{
  margin-left: 0;
  max-height: calc(var(--font-size)*1.5);
  overflow-y: scroll;
  padding-left: 0;
  position: absolute;
  transform: translateX(var(--pad-l)) translateY(-1.5rem);
}

.aa:not(.cli_expanded) .log.is_new summary
{
  top: 0;
  position: relative;
}

.aa:not(.cli_expanded) .log.is_new::before
{
  /*padding-left: 0;*/
  width: auto;
}

.aa:not(.cli_expanded) .log:not(.is_new),
.section_l:not(.expanded) .log:not(.is_new)
{
  display: none;
}


@media screen and (min-width: 1025px) 
{
  .section_l > header .butt:hover
  {
    background: rgba(var(--color-alt));
    color: rgb(var(--color-b));
  }

  .section_l > header .butt:hover::after
  {
    content: 'mark read';
  }

  .log.is_new:hover
  {
    background: rgb(var(--color-c));
    z-index: 9;
  }
  
  .log details > summary:hover
  {
    background: rgb(var(--color-a));
    color: rgb(var(--color-main));
  }
  
  .log:hover
  {
    border-bottom: 1px dotted rgba(var(--color-d),.5);
    border-top: 1px dotted rgba(var(--color-d),.5);
  }

}

@media screen and (max-width: 768px) 
{
  .log 
  {
    padding-left: 0;
  }

  .log::before
  {
    margin-left: 0;
  }
}

/* #region    notice */

.notice
{
  align-items: center;
  display: grid;
  grid-gap: 0 var(--pad);
  grid-auto-flow: column;
  justify-content: start;
  padding: 0 var(--padm);
}

.notice .title
{
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

.notice .description
{
  grid-column: 1 / -1;
  grid-row: 2;
}

.notice .butt
{
  line-height: 1rem;
  padding: 0;
  margin: 0;
}

.notice .butt.slap
{
  color: rgb(var(--color-c));
  pointer-events: none;
}

/* #endregion notice */