/* #region    mods */

#mods
{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--line);
  padding-left: 0;
  padding-top: calc(var(--line) + var(--font-size));
  width: 100%;
}

.mod
{
  background: rgba(var(--color-b),.8);
  font-size: var(--font-size-s);
  text-align: center;
  max-width: 100%;
  width: auto;
}


.mod.expanded
{
  background: rgb(var(--color-a));
  border-bottom: 1px dashed rgb(var(--color-b));
  border-top: 1px dashed rgb(var(--color-b));
  justify-self: end;
  padding-bottom: var(--line);
  width: 61.8vw;
}

.mod:not(.expanded)
{
  justify-self: end;
}

.mod:not(.expanded) > *:not(header),
.mod:not(.expanded) > header > *:not(.section_butt)
{
  display: none;
}

dialog .mod
{
  font-size: var(--font-size);
  width: unset;
  min-width: 60vw;
}

.mod > header
{  
  background: rgba(var(--color-a),.8);
  display: grid;
  
  grid-template-areas: "pop . ." " about about about" "butts butts butts";
  grid-template-columns: auto 1fr auto;
  padding: var(--pad);
  user-select: none;
}

.mod_info
{
  padding: var(--pad);
}

dialog .mod > header
{
  grid-template-areas: ". . pop";
  pointer-events: none;
}

.mod.expanded > header
{
  position: sticky;
  top: 0;
  z-index: 1;
}

.mod.expanded > header > .section_butt
{
  color: rgb(var(--color-f));
  display: grid;
  font-size: var(--font-size-m);
  grid-auto-flow: column;
  justify-items: end;
  justify-self: stretch;
  padding: var(--pad) 0;
}

.mod:not(.expanded) > header > .section_butt
{
  font-size: 0;
}

.mod .section_butt::before
{
  content: "- ";
}

.mod:not(.expanded) .section_butt::before
{
  content: "- " attr(data-mod);
  font-size: var(--font-size-m);
}

.mod > header .butt.exe
{
  font-size: var(--font-size-s);
  grid-area: pop;
  margin-left: var(--pad);
  pointer-events: auto;
}

/* .mod_name
{
  color: rgb(var(--color-f));
  font-size: var(--font-size-m);
  margin: 0;
  text-align: right;
  position: sticky;
  top: 0;
} */

/* .mod_name::first-letter
{
  
  transform: translateX(8px);
} */

.mod_about
{
  font-size: var(--font-size);
  grid-area: about;
  text-align: right;
}

.mod_butts
{
  grid-area: butts;
  text-align: right;
}

.mod > .list
{
  text-align: left;
}

.mod > .list > .item 
{
  border-bottom: 1px solid rgba(var(--color-c),0);
  border-top: 1px solid rgba(var(--color-c),0);
}

.mod_actions
{
  align-items: start;
  align-self: center;
  display: grid;
  grid-area: actions;
  grid-auto-flow: column;
  grid-gap: var(--padm);
}

.mod .item > .butts
{
  grid-area: s;
}

.mod.expanded .list
{
  background-color: rgb(var(--color-a));
}

.mod.expanded details[open] .list
{
  margin: var(--padm) 0;
}

.mod_details[open],
.item > .mod_details[open]
{
  margin-bottom: var(--pad) 0;
  /* border-top: 1px dashed rgb(var(--color-c)); */
  margin-bottom: var(--line) 0;
}

.mod_details[open] > summary,
.item > .mod_details[open] > summary
{
  font-size: var(--font-size);
  padding: var(--line) 0;
}

.mod details.base[open]
{
  background: rgb(var(--color-a));
}

/* .mod > .butt
{
  font-size: var(--font-size);
} */


@media screen and (min-width: 1025px) 
{
  .mod .item:hover
  {
    border-bottom: 1px dotted rgb(var(--color-c));
    border-top: 1px dotted rgb(var(--color-c));
  }
}

@media screen and (max-width: 768px) 
{ 
  .mod.expanded
  {
    width: calc(100vw - calc(var(--line)*2));
  }

  .mod > .list > .item
  {
    grid-gap: var(--padm) 0;
    grid-template-areas: 
      "k v s"
      "bef bef bef"
      "aft aft aft";
    grid-template-columns: auto auto 1fr auto;
    margin-bottom: var(--line);
  }


}

