#view 
{
  align-content: start;
  align-items: start;
  align-self: start;
  display: grid;  
  grid-area: main;
  grid-template-areas: "p" "e";
  position: relative;
  z-index: 1;
}

#view > section
{
  display: grid;
  z-index: 1;
}

#view > section > header 
{
  align-items: center;
  display: grid;
  /* grid-auto-flow: column;
  grid-template-areas: 
    "button button" 
    "search pagination";
  grid-template-columns: auto 1fr; */
  z-index: 0;
}

#view > section > header > .butt 
{
  background: rgb(var(--color-b));
  color: rgb(var(--color-alt));
  display: block;
  font-size: var(--font-size-s);
  line-height: 1rem;
  padding: var(--padm);
  padding-top: 0;
  text-align: left;  
  justify-self: stretch;
}

#view > section > header > .butt::before
{
  content: "[" ;
}

#view > section > header > .butt::after
{
  content: ":" attr(data-count) "]";
}

#view > section > footer
{
  bottom: calc(var(--size) - var(--pad));
  position: sticky;
  z-index: -1;
}

#view > section.expanded 
{
  padding-bottom: var(--size);
}

#view > section.expanded > header
{
  color: rgb(var(--color-c));
  /* justify-self: start; */
  padding-bottom: var(--line);
}

#view > section.expanded > header > .butt
{
  
  font-size: var(--font-size);
  padding-left: var(--padm);
  padding-top: var(--padm);
}

#view > section.expanded > header > .butt::before
{
  content: "";
}

#view > section.expanded > header > .butt::after
{
  content: ":" attr(data-count) "";
}

#view > details
{
  margin-bottom: var(--pad);
  padding-left: var(--padm);
}

#view > details > summary
{
  font-size: var(--font-size-s);
}

#view > details > summary::before
{
  content: "[";
  font-size: var(--font-size-s);
}

#view > details > summary::after
{
  content: "]";
  font-size: var(--font-size-s);
}

#view > details .content
{
  max-height: unset;
}

#view > details[open] > summary
{
  font-size: 0;
}

#view > details[open] > summary::before
{
  content: "[x";
}

#view > details[open] article
{
  padding: var(--line) 1rem;
}

.viewing #view > section
{
  margin-top: 0;
}

/* #view > section > header > .butt:not([data-count]),
#view > section > header > .butt[data-count="0"],
#view > section > header > .butt:not([data-count]) + .list_filter, */

#view 
  > section:not(.expanded) 
    > header 
      > *:not(.section_butt[data-count]),

#view > section:not(.expanded) > footer,
.viewing #view > section > header,
.viewing #view > section > footer,
.viewing #view > details
{
  display: none;
}


.pagination
{
  align-content: center;
  /* background: rgb(var(--color-b)); */
  display: grid;
  /* font-size: var(--font-size-s); */
  grid-gap: 0 var(--pad);
  grid-template-columns: 1fr auto 1fr;
  justify-items: stretch;
  justify-content: center;

  line-height: 1;
  margin: 0;
  padding: var(--pad) var(--padm);
  padding-bottom: calc(var(--pad) + 1.5rem);
}

.pagination .butt
{
  color: rgb(var(--color-e));
  line-height: 3rem;
}

.pagination input:hover,
.pagination .butt:hover
{
  color: rgb(var(--color-main));
}

.pagination input[type="number"]
{
  /* width: auto; */
  field-sizing: content;
  min-width: var(--pad);
  max-width: 3rem;
  text-align: center;
}

.pagination_previous,
.pagination_next
{
  align-self: center;
  display: inline-grid;
  /* font-size: 0; */
  grid-auto-flow: column;
  grid-template-columns: auto;
  white-space: pre;
}

/* .pagination_previous::after,
.pagination_previous::before,
.pagination_next::after,
.pagination_next::before
{
  font-size: 0;
} */

.pagination_previous
{
  /* justify-items: start; */
  justify-content: start;
  padding-right: var(--padm);
}

.pagination_next
{
  /* justify-items: end; */
  justify-content: end;
  padding-left: var(--padm);
  text-align: right;
}

/* .pagination_previous::after,
.pagination_previous::before,
.pagination_next::after,
.pagination_next::before,
.pagination_previous:hover,
.pagination_next:hover
{
  font-size: var(--font-size);
} */

.pagination_previous:hover,
.pagination_next:hover
{
  grid-template-columns: auto 1fr auto;
}

.pagination_previous::before
{
  content: '< '
}

.pagination_next::after
{
  content: ' >'
}

.pagination_previous::after,
.pagination_next::before
{
  content: ' -- '
}

.pagination .page_controls
{
  padding: 0 var(--padm);
}

/* .pagination_page[value="1"] + .butt
{
  display: none;
} */

@media screen and (min-width: 1025px) 
{
  #view > section.expanded > header,
  #view > details[open] > summary
  {
    position: sticky;
    top: 0;
    line-height: 1.5rem;
  }

  #view > section.expanded > header:hover
  {
    
    z-index: 2;
  }
  
  #view > section > header > .butt:hover
  {
    background: rgba(var(--color-a));
  }

  #view > section > footer:hover
  {
    z-index: 1;
  }

  .pagination:hover > *
  {
    background: rgb(var(--color-a));
  }
}

@media screen and (max-width: 768px) 
{
  .pagination
  {
    align-content: center;

    grid-gap: var(--pad) 0;
    grid-template-columns: 1fr;
    justify-items: stretch;
    justify-content: center;

    line-height: 1;
    margin: 0;
    padding: var(--pad) var(--padm);
    padding-bottom: calc(var(--pad) + 1.5rem);
  }
}
