.av 
{
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "controls" "av";
  margin: var(--line) 0;
  position: relative;
}

.av .mf 
{
  background: black;
  cursor: pointer;
  grid-area: av;
  margin: 0;
}

.av .mf.playin 
{
  opacity: 1;
  z-index: 1;
}

.av .controls 
{
  --data: attr(data-elapsed) "s (" attr(data-percentage) ") "  attr(data-duration) "s";
  --percent: attr(data-percentage);
  --color-front: rgb(var(--color-main));
  --color-back: rgb(var(--color-c));
  align-self: start;
  cursor: pointer;
  font-size: var(--font-size-s);
  grid-area: controls;
  line-height: 2;
  overflow: hidden;
}

.av .controls::after
{
  content: attr(data-duration) "s";
  float: right;
  text-align: right;
  white-space: pre;
}

.av .started + .controls::after 
{
  content: var(--data);
}

.av .controls button
{
  margin-right: 1rem;
  padding: 0;
}

.av .muted + .controls .mute::before
{
  content: "un";
}

.av .url 
{
  box-sizing: border-box;
  cursor: text;
  display: block;
  overflow-x: scroll;
  width: 100%;
  word-break: keep-all;
  hyphens: none;
}

.av .url::before 
{
  content: "<video ";
  white-space: pre;
}

.av.audio .url::before 
{
  content: "<audio ";
}

/* .av .controls progress 
{
  pointer-events: none;
  width: 100%;
}

.av .controls progress[value] 
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 1px;
  margin: 0;
  width: 100%;
}

.av .controls progress[value]::-webkit-progress-bar 
{
  background-color: rgb(var(--color-a));
  background-color: rgb(var(--color-c));
}

.av .controls progress[value]::-webkit-progress-value 
{
  background-color: rgb(var(--color-main));
} */

.av .controls input[type="range"]
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 100% 2px!important;
  background-position: 0 50%!important;
  /* background: 
    linear-gradient(to bottom,
      rgb(var(--color-b)) 42%, transparent, rgba(var(--color-b)) 58%
    ) no-repeat; */
  
  cursor: pointer;
  display: block;
  margin: 0;
  width: 100%;
  overflow: hidden;
  transition: var(--trans);
}

.av .controls input[type="range"]::-webkit-slider-runnable-track 
{
  /* background: 
    linear-gradient(to bottom,
      rgb(var(--color-b)) 42%, transparent, rgba(var(--color-b)) 58%
    ) no-repeat; */
  
  height: 1rem;
  /* cursor: pointer; */
}

.av .controls input[type="range"]::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(var(--color-main));
  border-radius: 50%;
  height: 1rem;
  opacity: 0;
  width: 1rem;
}

.av .url,
.av .controls 
{
  color: rgb(var(--color-d));
}

/* .av audio
{
 display: block!important;
  min-width: 300px;
  min-height: 500px;
} */

@media screen and (min-width: 1025px) 
{
  .av .mf 
  {
    opacity: .5;
  }
  
  .av .mf:hover 
  {
    opacity: 1;
  }
  
  /* .av .mf.started:hover + .controls::before 
  {
    content: "<play " attr(data-remains) "s";
  }
  
  .av .mf.started.playin:hover + .controls::before 
  {
    content: "<pause " attr(data-remains) "s";
  } */
  
  .av .controls button:hover
  {
    color: rgb(var(--color-e));
  }
}