@keyframes u_u 
{
  0%
  {
    opacity:0;
  }
  69%
  {
    opacity:0;
  }
  70%
  {
    opacity:1;
  }
  79%
  {
    opacity:1;
  }
  80%
  {
    opacity:0;
  }
  89%
  {
    opacity:0;
  }
  90%
  {
    opacity:1;
  }
  98%
  {
    opacity:1;
  }
  100%
  {
    opacity:0;
  }
}

.section_side > header img 
{
  opacity: 1;
  pointer-events: none;
  transform: scale(.82);
  transition: 
    transform .4s ease-in-out,
    opacity .4s ease-in-out;
  transform-origin: center center;
}

header.has-picture .section_side_butt
{
  opacity: 0;
}

.section_side.expanded > header img
{
  font-size: var(--font-size-s);
  width: var(--line);
  height: var(--line);
}


.section_side > header:not(.has-picture) .section_side_butt::after
{
  background-color: rgba(var(--c),1);
  align-content: center;
  animation: u_u 4s ease-in-out 0s infinite;
  content: "u_u";
  display: grid;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}


/* @media screen and (min-width: 1025px) 
{

} */


/*@media screen and (max-width: 768px)
{

}*/
