@keyframes u_u 
{
  0%
  {
    opacity:0;
  }
  69%
  {
    opacity:0;
  }
  70%
  {
    opacity:1;
  }
  79%
  {
    opacity:1;
  }
  80%
  {
    opacity:0;
  }
  89%
  {
    opacity:0;
  }
  90%
  {
    opacity:1;
  }
  98%
  {
    opacity:1;
  }
  100%
  {
    opacity:0;
  }
}


#u_u 
{
  bottom: 0;
  box-sizing: border-box;
  min-width: var(--size);
  
  position: fixed;
  right: 0;
  z-index: 12;
}

#butt_u_u
{
  align-items: center;
  background-color: rgb(var(--c));
  border: none;
  border-radius: 0;
  bottom: 0;
  box-sizing: border-box;
  color: rgb(var(--color-dark));
  display: grid;
  height: var(--size);
  justify-items: center;
  object-fit: cover;
  padding: 0;
  position: fixed;
  right: 0;
  text-align: center;
  width: var(--size);
  z-index: 1;
}

#butt_u_u[data-luma="dark"]
{
  color: rgb(var(--color-light));
}

#butt_u_u img 
{
  opacity: 0;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  transform: scale(.82);
  transition: 
    transform .4s ease-in-out,
    opacity .4s ease-in-out;
  transform-origin: center center;
}

#butt_u_u.has-picture img[src]
{
  opacity: 1;
}

#u_u.expanded
{
  max-height: calc(100vh - var(--line));
  overflow-y: scroll;
}

#u_u.expanded #butt_u_u,
#u_u.expanded #butt_u_u img
{
  font-size: var(--font-size-s);
  width: var(--line);
  height: var(--line);
}

#u_u:not(.expanded) > *:not(#butt_u_u)
{
  display: none;
}

#u_u #butt_u_u:not(.has-picture)::after
{
  background-color: rgba(var(--c),1);
  align-content: center;
  animation: u_u 4s ease-in-out 0s infinite;
  content: "u_u";
  display: grid;
  justify-content: center;
  position: absolute;
}

.cli_expanded #u_u
{
  align-content: start;
  align-items: start;
  bottom: unset;
  z-index: 8;
}

.cli_expanded #u_u.expanded
{
  padding-bottom: calc(90vh - var(--size) - var(--line) - var(--size));
}

.cli_expanded #butt_u_u
{
  bottom: unset;
  top: 0;

}


@media screen and (min-width: 1025px) 
{
  #u_u:hover,
  .cli_expanded #u_u:hover
  {
    z-index: 99;
  }
}


/*@media screen and (max-width: 768px)
{

}*/
