@keyframes u_u 
{
  69%
  {
    background-color: rgba(var(--c),0);
    content: "";
  }
  70%
  {
    background-color: rgba(var(--c),1);
    content: "u_u";
  }
  78%
  {
    background-color: rgba(var(--c),1);
    content: "u_u";
  }
  79%
  {
    background-color: rgba(var(--c),0);
    content: "";
  }
  90%
  {
    background-color: rgba(var(--c),1);
    content: "u_u";
  }
  98%
  {
    background-color: rgba(var(--c),1);
    content: "u_u";
  }
  100%
  {
    background-color: rgba(var(--c),0);
    content: "";
  }
}

#u_u 
{
  align-items: center;
  bottom: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-areas: "i u_u";
  min-width: var(--size);
  position: fixed;
  right: 0;
  z-index: 12;
} 

#butt_u_u
{
  align-items: center;
  background-color: rgb(var(--c));
  border: none;
  border-radius: 0;
  bottom: 0;
  box-sizing: border-box;
  color: rgb(var(--color-b));
  display: grid;
  grid-area: u_u;
  height: var(--size);
  padding: 0;
  position: relative;
  right: 0;
  text-align: center;
  width: var(--size);
  z-index: 1;
}

#butt_u_u[data-luma="dark"]
{
  color: rgb(var(--color-f));
}

#butt_u_u.has-picture
{
  font-size: 0;
}

#butt_u_u img 
{
  height: 100%;
  object-fit: cover;
  object-position: 50% 61.8%;
  overflow: hidden;
  pointer-events: none;
  transform: scale(.82);
  transition: var(--trans-quart);
  width: 100%;
}

#butt_u_u img:not([src])
{
  opacity: 0;
}

#u_u.expanded
{
  height: 100vh;
  overflow: hidden;
}

#u_u.expanded:not([style]) #butt_u_u:not(.has-picture)::after
{
  content: "u_u";
}

#u_u.expanded #butt_u_u.has-picture img
{
  position: relative;
  transform: scale(.618);
  z-index: 1;
}

#u_u:not(.expanded) > *:not(#butt_u_u)
{
  display: none;
}

#u_u #butt_u_u:not(.has-picture)::after
{
  align-content: center;
  animation: u_u 4s ease-in-out 0s infinite;
  content: "";
  display: grid;
  font-size: var(--font-size);
  height: 100%;
  position: absolute;
  width: 100%;
}

.cli_expanded #u_u
{
  align-items: start;
  bottom: unset;
  top: calc(var(--line) + 2px);
  z-index: 8;
}

.cli_expanded #butt_u_u
{
  bottom: unset;
  top: 0;
}