header
{
  padding: var(--pad);
}

main
{
  align-self: start;
  align-items:  start;
  box-sizing: border-box;
  display: grid;
  grid-gap: var(--pad);
  grid-template-columns: repeat(3,1fr);
  overflow: hidden;
  padding: var(--pad);
  position: relative;
  width: 100vw;
}

section
{
  border-top: 1px dotted rgb(var(--color-c));
  display: grid;
  padding-top: var(--pad);
}

#authors_wrapper,
#ids_wrapper,
#kinds_wrapper,
#tags_wrapper
{
  grid-column: 1 / -1;
}

#tags li
{
  align-items: center;
  display: grid;
  font-size: var(--font-size-s);
  grid-template-columns: 1fr auto;
  margin: var(--pad) 0;
}

#tags li span
{
  display: grid;
  grid-gap: var(--pad);
  grid-template-columns: 3em 1fr;
}

#butt
{
  font-size: var(--font-size-m);
  grid-column: 1 / -1;
  justify-self: center;
}

#output
{
  line-height: 2;
  padding: var(--pad-l);
  text-align: center;
}