header
{
  padding: var(--pad);
}

main
{
  align-self: start;
  align-items:  start;
  box-sizing: border-box;
  display: grid;
  grid-gap: var(--pad);
  grid-template-columns: repeat(2,1fr);
  overflow: hidden;
  padding: var(--pad);
  position: relative;
  width: 100vw;
}

section
{
  border-top: 1px dotted rgb(var(--color-c));
  display: grid;
  padding-top: var(--pad);
}

#reply_to_wrapper,
#pubkey_wrapper,
#content_wrapper,
#tags_wrapper
{
  grid-column: 1/-1;
}

#content
{
  box-sizing: border-box;
  min-height: var(--size);
  width: 100%;
  resize: vertical;
}

#tags
{
  list-style-position: inside;
  counter-reset: tags -1;
}

#tags li::before
{
  counter-increment: tags;
  content: counter(tags);
  margin-right: var(--pad);
}

#tags li
{
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: var(--pad) 0;
}

#butt
{
  font-size: var(--font-size-m);
  grid-column: 1/-1;
  justify-self: center;
}

#output
{
  line-height: 2;
  padding: var(--pad-l);
  text-align: center;
  white-space: pre-wrap;
  word-break: break-word;
}