@font-face { 
   font-family: fu; 
   src:  url('aa--fu.otf') format("opentype"),
	      url('aa--fu.ttf') format("truetype"); 
}

:root { 
/* 
     grays                colors              */
   --c-a-a:  23, 23, 23;--c-b-a: 204,102,102; /* red */
   --c-a-b:  55, 55, 55;--c-b-b: 222,147, 95; /* orange */
   --c-a-c:  82, 82, 82;--c-b-c: 240,198,116; /* yellow */
   --c-a-d: 123,123,123;--c-b-d: 181,189,104; /* green */
   --c-a-e: 180,180,180;--c-b-e: 138,190,183; /* cyan */
   --c-a-f: 223,223,223;--c-b-f: 129,162,190; /* blue */
                        --c-b-g: 178,148,187; /* violet */
   
   --bezier-quart: cubic-bezier(0.25, 1, 0.5, 1);
   --trans: all .3s ease-in-out 0s;
   --trans-quart: all .4s cubic-bezier(0.25, 1, 0.5, 1) 0s;
   --trans-quart-io: all .3s cubic-bezier(0.76, 0, 0.24, 1) 0s;
   
   --font-size: 16px;
   --font-size-s: .69420rem;
   --line: 2rem;
   --pad: .4rem;
   --size: 4rem;
   --media-height: 50vh; /* calc(1rem * 4); */
   --media-max-height: calc(100vh - 8rem - var(--line));    
   --top: 0;
}

html,
body {
   width: 100%;
   min-height: 100%;
   padding: 0;   
   margin: 0;
   font-size: var(--font-size);
   font-family: fu, monospace;
   letter-spacing: .023em;
   background-color: rgb(var(--c-a-a));	
   -webkit-text-size-adjust: 100%;
   line-height: var(--line);
}

#aa {
   color: rgb(var(--c-a-d));
   position: relative;
   display: grid;
   grid-template-rows: auto auto 1fr auto;
   grid-template-columns: 1fr;
   grid-template-areas:
      "h1"
      "main"
      "aside"
      "footer";
   align-items: start;   
   min-height: 100vh;
   box-sizing: border-box;
   padding-bottom: var(--size);
}

*::-webkit-scrollbar {
   width: 0px;
   height: 0px;
}

/* @group default */

h1, h2, h3 ,h4, h5, h6, p, ul, ol, li, span, a, button, textarea {
   margin: 0;
   padding: 0;
   font-size: inherit;
   font-weight: normal;
   font-family: inherit;
   color: inherit; 
   text-decoration: none;
   list-style-type: none;
   -webkit-appearance: none;
           appearance: none;
   border-radius: 0;
   border: none;
   background: none;
   box-shadow: none;
}

button {
   /*color: rgb(var(--c-a-a));*/
   display: grid;
   line-height: normal;
   cursor: pointer;
}

button:hover {
   color: rgb(var(--c-a-f));
}

::selection{
   background: white;
}

/* @end */
/* @group animations */

@keyframes foo-in {
   
   0% {
      opacity: 0;
   }
   
   100% {
      opacity: 1;
   }
}

/* @end */
/* @group a */

#a {
   color: rgb(var(--c-a-d));
   background: rgb(var(--c-a-a));
   grid-area: h1;
   margin: 0;
   padding: var(--pad);
}

#a::before {
   content: attr(data-id-a);
   color: rgb(var(--c-a-c));
   padding-right: var(--pad);
}

/* @end */
/* @group whatever the fuck you want */

#wtfyw {
   background: rgb(var(--c-a-a));
   position: fixed;
   bottom: 0;
   display: grid;
   grid-template-columns: 1fr var(--size);
   grid-template-rows: min-content;
   grid-template-areas:
      "helper helper"
	   "i u";
   width: 100vw;
   box-shadow: 0px -1rem 2rem 0 rgb(var(--c-a-a));
   z-index: 8;
}

#u {
   align-self: end;
   grid-area: u;
   display: grid;
   width: var(--size);
   height: var(--size);
   background-size: cover;
   background-position: 50% 50%;
   object-fit: cover;
   font-size: 0;
   text-align: center;
   background-color: rgb(var(--c));
}

#iot {
   color: rgb(var(--c-b-c));
   background: rgb(var(--c-a-a));
   grid-area: i;
   display: grid;
   padding: 0 var(--line);
   padding-top: 1rem;
   font-size: 1rem;
   transition: var(--trans-quart);
   resize: none;
   box-sizing: border-box;
   -webkit-line-break: normal;
   line-height: 1.5rem;   
   max-height: 100vh;
}

#iot:focus {
   outline: none;
   color: rgb(var(--c-a-a));
   background: rgb(var(--c-b-b));
   padding: var(--line);
}

#iot::placeholder {
   color: rgb(var(--c-b-c));
}

#iot:focus::placeholder {
   color: rgb(var(--c-a-c));
}

#wtfyw::after {
   content: attr(data-content) " ";
   white-space: pre-wrap;
   grid-area: i;
   pointer-events: none;
   padding: 0 var(--line);
   padding-top: 1rem;
   display: grid;
   font-size: 1rem;
   transition: var(--trans-quart);
   box-sizing: border-box;
   -webkit-line-break: normal;
   align-items: start;
   line-height: 1.5rem;
   letter-spacing: 0;
   visibility: hidden;
   max-height: 100vh;
}

.mode-input #wtfyw::after {
   padding: var(--line);
}

#helper {
   
}

/* @end */
/* @group options */

#options {
   grid-area: options;
   background: rgb(var(--c-a-a));
   display: grid;
   justify-self: end;
   justify-content: start;
   align-content: end;
   align-self: end;
   padding-bottom: 1rem;
   transform: translateY(-100%);
   box-sizing: border-box;
}

.option {
   color: rgb(var(--c-b-g));
   position: sticky;
   position: -webkit-sticky;
   bottom: 0;
   display: grid;
   grid-template-columns:  1fr auto auto;
   justify-self: end;
   height: auto;
   transition:  var(--trans-quart);
}

.mode-input .option {
   color: rgb(var(--c-a-a));
}

.option.active  {
   color: rgb(var(--c-a-f));
   background: rgb(var(--c-a-a));
   grid-template-columns: auto auto 1fr;
   padding-left: 0;
   word-break: keep-all;
}

.option::before {
   content: "--";
}

.option.active::after {
   content: attr(data-tog);
}

/* @end */
/* @group messages */

#messages {
   grid-area: main;
   position: relative;
   display: grid;
   grid-gap: var(--pad) 0;
   grid-template-columns: 1fr auto;
   grid-template-areas:
      "knd1 knd0"
      "knd1 knd0"
      "ama ama";
   grid-gap: var(--pad);
   z-index: 1;
}

#notifications {
   grid-area: notif;
}

.anykind {
   color: rgb(var(--c));
   display: grid;
   grid-template-areas:
      "kind note";
   word-break: break-all;
   overflow: hidden;
}

.anykind::before {
   content: attr(data-kind);
}

.anykind .l-id,
.anykind .l-tags {
   display: none;
}

/* @end */

/* @group draft */

.event.draft {
   
}

.event.draft > .heading > .id::before{
   content: "draft";
   color: rgb(var(--c-b-a));
   align-self: center;
   padding: calc(1rem / 6);
   border-bottom: 1px solid transparent;
}

.actions {
   grid-area: actions;
   display: grid;
   grid-template-columns: auto;
   grid-auto-flow: column;
   grid-gap: var(--line);
   padding: var(--pad);
   justify-items: start;
   justify-self: start;
}

.actions button {
   
}

.actions .cancel {
   color: rgb(var(--c-b-a));
}

.actions .post {
   color: rgb(var(--c-b-d));
}

.actions .edit {
   color: rgb(var(--c-b-b));
}

/* @end */

/* @group kind0 */

#kind-0 {
   grid-area: knd0;
   display: grid;
   grid-template-columns: 1fr;
   align-items: start;
   align-self: start;
   max-height: 50vh;
   overflow-y: scroll;
}

.p-k #kind-0 {
   max-height: unset;
   position: sticky;
   position: -webkit-sticky;
   top: 0;
}

.fren {
   display: grid;
   position: relative;
   grid-template-rows: auto 1fr auto;
   grid-template-columns: max-content 1fr;
   grid-template-areas:
      "pubkey pubkey"
      "header follows-u"
      "header follows"
      "header relays"
      "header dms"
      "header interactions"
      "active active";
   align-items: end;
}

.ffs .fren{
   margin-bottom: var(--line);
   border: 1px solid rgb(var(--c));
   border-bottom: 0;
}

.fren .metadata {
   grid-area: header;
   display: grid;
   grid-template-columns: auto auto 1fr;
   grid-template-rows: auto 1fr;
   grid-template-areas:
      "picture logo name"
      "picture about about";
   align-self: start;
   align-items: start;
}

.fren .picture {
   grid-area: picture;
   align-self: start;
   max-height: var(--media-height);
   height: unset;
   transition: var(--trans-quart);
   object-fit: contain;
   object-position: 0% 0%;
   cursor: pointer;
}

.fren .id {
   color: rgb(var(--c-b-a));
}

.fren .pubkey {
   grid-area: pubkey;
   margin: 0;
   align-self: start;
   padding: var(--pad);
   max-width: 100%;
   word-break: break-all;
   box-sizing: border-box;
   z-index: 4;
   background: rgb(var(--c-a-a));
   color: rgb(var(--c));
}

.fren .pubkey::selection {
   color: rgb(var(--c-a-a));
   background: rgb(var(--c-a-f));
}

.fren .pubkey::after {
   transform: translateX(-100%) translateY(.6rem);
}

.fren .logo {
   grid-area: logo;
   width: var(--line);
   height: var(--line);
   /*make your own filter: 
   https://codepen.io/sosuke/pen/Pjoqqp */
   filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
   padding: var(--pad);
   z-index: 23;
   box-sizing: border-box;
   align-self: end;
   border-top: 0;
   align-self: start;
}

.metadata .text {
   padding-top: 0;
   padding-bottom: 0;
   grid-area: name;
}

.petname {
   color: rgb(var(--c-a-f));
   background: rgb(var(--c-a-a));
   position: relative;
   grid-area: petname;
   z-index: 1;
   justify-self: start;
   padding: var(--pad);
   padding-top: 0;
}

.text[data-nip05] .petname {
   /*color: rgb(var(--c));*/
}

.text::before {
   grid-area: nip05;
   content: attr(data-nip05);
   font-size: var(--font-size-s);
   background: rgb(var(--c-a-a));
}

.about {
   color: rgb(var(--c-a-d));
   background-color: rgb(var(--c-a-a));
   margin: 0;
   transform-origin: bottom left;
   line-height: 1.4;
   word-break: break-all;
   hyphens: auto;
   -webkit-hyphens: auto;
   white-space: pre-wrap;  
   padding: var(--pad);
   padding-top: 0;
   grid-area: about;
}

.about::before {
   content: "\\";
   display: block;
}

.solo .section {
   padding: 0 var(--pad);
   color: rgb(var(--c-a-c));
   display: grid;
   justify-self: end;
   cursor: pointer;
   background: rgb(var(--c-a-a));
   margin: 1px;
}

.solo .section::before {
   content: attr(data-label);
   grid-column: 1 / -1;
   text-align: right;
   justify-self: end;
   background: rgb(var(--c-a-a));
}

.section .section-item {
   display: none;
}

.solo .section.active {
   width: 100%;
   box-sizing: border-box;
   grid-area: active;
   padding-bottom: var(--line);
}

.solo .section.active::before {
   content: "--" attr(data-label);
   color: rgb(var(--c-a-e));
}

.solo .section.active .section-item {
   display: grid;
}

.relays {
   grid-area: relays;
   display: grid;
   align-items: start;
   justify-self: end;
}

.relay {
   padding-left: calc(var(--line) + var(--pad));
   text-indent: calc(var(--line)*-1);
   align-self: start;
}

.relay::before {
   content: "-" attr(data-read) attr(data-write);
   margin-right: var(--pad);
   word-break: keep-all;
}

.solo .follows.active,
.solo .follows-u.active {
   align-items: center;
   grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
   grid-gap: var(--pad);
}

.follows-u {
   grid-area: follows-u;
}

.follows {
   grid-area: follows;
} 


.follow {
   padding-bottom: 1px;
   margin-right: var(--pad);
   max-width: 8rem;
   overflow: hidden;
}

.follow a.has-picture {
   padding: 0!important;
}

.interactions {
   grid-area: interactions;   
}

.interaction.unread {
   display: grid!important;
}

.interaction {
   grid-template-columns: auto;
   grid-auto-flow: column;
   justify-items: start;
   justify-content: center;
   grid-gap: var(--pad);
   padding: var(--pad);
   color: rgb(var(--c-a-c));
}

.interaction a {
   color: rgb(var(--cc));
}

.interaction.read {
   opacity: .5;
   display: none;
}

.inbox-state {
   margin-left: var(--pad);
   display: grid;
   align-content: center;
   color: rgb(var(--c-a-d));
}

.interaction.read .inbox-state {
   display: none;
}

.p-k .fren:not(.solo) {
   display: none!important;
}

.fren.solo {
   padding-bottom: 1px;
   margin-bottom: calc(var(--line) + calc(var(--pad)*2));
   background: linear-gradient(to left, rgb(var(--c-a-a)) 0%, rgb(var(--c)) 100%);
}

body:not(.ffs) .fren:not(.solo) > *:not(.interactions) {
   display: none;
}

.dms {
   grid-area: dms;
   overflow-y: scroll;
   max-height: var(--media-max-height);
}

.dm {
   /*display: none;*/
}

.own.dm {
   justify-self: end;
}

/* @end */
/* @group kind1 */

#kind-1 {
   --top: calc(var(--line) + calc(var(--pad)*2));
   position: relative;
   display: grid;	
   grid-area: knd1;
   z-index: 2;
   background: rgb(var(--c-a-a));
   align-self: start;
}

.event {
   position: relative;
   box-sizing: border-box;
   border-top: 1px dotted rgba(var(--c-a-c),1);
}

.event,
.event.root:not(.mom):not(.interesting).hidden {
   background: linear-gradient(to bottom, rgba(var(--cc),1) 0%, rgba(var(--c-a-a),1) 50%);
   background: rgba(var(--c-a-a));
   display: grid;
   grid-template-columns: var(--pad) auto 1fr;
   grid-template-rows: auto auto auto 1fr;
   grid-template-areas: 
      "h h h"
      "src src src"
      "content content content"
      "actions actions actions"
      "replies replies replies";
   box-sizing: border-box;
   border-left: 1px dotted rgba(var(--c-a-c), 1);
   padding-bottom: var(--pad);
}

.event .heading {
   grid-area: h;
   color: rgb(var(--c-a-f));
   align-self: center;
   align-content: center;
   display: grid;
   grid-template-areas: 
      "name tags id";
   grid-template-columns: auto 1fr;
   font-size: var(--font-size-s);
   line-height: 1;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
}

.heading > .id {
   grid-area: id;
   color: rgb(var(--c-a-a));
   word-break: keep-all;
   align-self: start;
}

.heading > .id .text {
   border-bottom: 1px dotted rgba(var(--cc), 0);
}

.heading > .id::before{
   content: "";
}

.view-source > .heading > .id,
.heading > .id:hover::before,
.view-source > .heading > .id::before,
.heading > .id:hover::after,
.view-source > .heading > .id::after {
   color: rgb(var(--c-a-f));
}

.heading > .author {   
   z-index: 10;
   grid-area: name;
}

.heading > .author .text {
   border-bottom: 1px dotted rgba(var(--c), 0);
}

.event.mom > .heading {
   min-height: 6px;
}

.root.mom > .heading,
.mom:not(.interesting) > .heading {
   position: relative;
   top: 0;
}

.content {
   color: rgb(var(--c-a-d));
   background: rgb(var(--c-a-a));
   grid-area: content;
   display: grid;
   padding-left: var(--pad);
   padding-right: var(--pad);
   
   border: 1px solid transparent;
   border-left: none;
   box-sizing: border-box;
   overflow: hidden;   
}

.event.root:not(.mom):not(.interesting) > .replies .content,
.event.interesting .replies .content{
   max-width: 60vw;
   justify-self: stretch;
}

.replies {
   grid-area: replies;
   z-index: 2;
   padding-bottom: 1rem;
   padding-left: var(--pad);
   padding-top: .7rem;
   background-color: rgb(var(--c-a-a));
}

.event.root:not(.mom):not(.interesting) > .replies {
   position: sticky;
   top: 1.2rem;
   align-self: start;
}

.created-at {
   color: rgb(var(--c-a-d));
   background-color: rgb(var(--c-a-a));
}

.event .created-at {
   display: none;
   grid-area: ca;
}

.created-at::before {
   content: "~";
}

button.view-source {
   display: none;
   grid-area: btn;
   font-size: var(--font-size-s);
   line-height: calc(var(--line) + calc(var(--pad)*2));
   line-height: calc(var(--pad)*2);
   background-color: rgb(var(--cc));
}

.event > .source {
   grid-area: src;
   display: none;
   cursor: auto;
   background-color: rgb(var(--c-a-a));
}

.event .source::before {
   content: "{";
   grid-column: 1/-1;
   color: rgb(var(--c-a-f));
}

.event .source::after {
   content: "}";
   grid-column: 1/-1;
   color: rgb(var(--c-a-f));
}

.raw {
   grid-template-columns: 1fr auto;
   white-space: pre-wrap;
   
   padding: var(--pad);
   margin: 0;
}

.raw dt {
   text-align: right;
   opacity: .6;
}

.raw dd {
   padding: 0 var(--line);
   margin: 0;
   margin-bottom: var(--pad);
   hyphens: auto;
   -webkit-hyphens: auto;
   overflow: hidden;
}

.event.view-source > .source {
   display: grid!important;
}

.event.view-source > .content,
.event.view-source > .replies,
.event.view-source > .created-at {
   display: none!important;
}

.event:not(.mom).hidden {
   margin: 0!important;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
}

.event.interesting .hidden {
   margin: 0!important;
   -webkit-user-select: auto;
      -moz-user-select: auto;
       -ms-user-select: auto;
           user-select: auto;
   pointer-events: auto;
}

.event.hidden > .content,
.event.hidden > .heading,
.event.hidden > .tags {
   display: none;
}

.event:not(.mom).hidden > .replies {
   border: none;
   border-top: none;
   border-bottom: none;
}

.event.mom > .content,
.event.mom > .heading,
.event.mom > .tags,
.event.interesting .event.hidden > .content,
.event.interesting .event.hidden > .heading,
.event.interesting .event.hidden > .tags
{
   display: grid;
}

.event.interesting.mom > .heading {
   font-size: var(--font-size);
   padding: var(--pad);
}

.event.interesting.mom > .heading,
.event.interesting.mom > .created-at,
.event.interesting.mom > .content {
   background-color: black;
}

/* @end */

/* @group tags */

.tags {
   grid-area: tags;
   overflow-x: scroll;
   display: grid;
   grid-template-areas: unset;
   grid-auto-flow: column;
   justify-items: start;
}

.a {
   
   display: inline-grid;
   grid-template-areas: "before and after";
   grid-template-columns: auto 1fr auto;
   font-size: var(--font-size-s);
   align-items: center;
}

.a:hover {
   color: rgb(var(--c-a-f));
}

.a.has-picture {
   padding-top: 0;
}



.a.has-picture::before {
   content: "";
   width: calc(1rem ); /*calc(1rem + calc(1rem/3));*/
   height: calc(1rem ); /*calc(1rem + calc(1rem/3));*/
   padding: 0;
   background-image: var(--picture);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.content .a.mention {
   align-items: center!important;
   font-size: var(--font-size);
   padding: 0;
}

.content .a.mention .text {
   border-bottom: none;
}

.a.has-picture.mention::before {
   background-image: none!important;
   height: unset;
   width: unset;
}

.content .a.mention:not(.a-p):not(.a-e)::before {
   content: "";
}

.a-p.mention::before {
   content: "@";
   width: auto;
}

.a-e.mention::before {
   content: "/";
}

.a-e.mention::after {
   content: "";
}

.a .text {
   border-bottom: 1px dotted rgba(var(--c-a-c), 1);
}

.a:hover .text {
   color: rgba(var(--c-a-f),1);
   border-bottom: 1px dotted rgba(var(--c), 1);
}

.text {
   grid-area: and;
   display: grid;
   word-break: keep-all;
   grid-template-areas: "petname""nip05";
   z-index: 4;
   padding: calc(1rem / 6);
   line-height: 1;
   pointer-events: none;
   color: rgb(var(--c-a-c));
}

.tags .a {
   display: none;
   line-height: inherit;
}

.interesting > .heading > .tags .a {
   display: inline-grid;
}

.a::before {
   content: attr(data-before);
   grid-area: before;
   color: rgba(var(--c));
}

.a::after {
   content: attr(data-after);
   grid-area: after;
}


/* @end */

/* @group over */

.event.over {
   cursor: pointer;
   border-color: rgb(var(--c));
}

.event.over:not(.more-over) > .heading > .author .text{
  color: rgba(var(--c-a-f),1); 
}

.more-over > .content {
   color: rgb(var(--c-a-d));
}

.over:not(.more-over) > .content {
   color: rgb(var(--c-a-e));
}

/* @end */

/* @group interesting */

.has-interesting #anykind,
.has-interesting #kind-0 {
   display: none;
}

.has-interesting .event,
.has-interesting .event.root:not(.mom):not(.interesting).hidden{
   display: none;
}

.has-interesting .event.mom,
.has-interesting .event.interesting,
.has-interesting .event.interesting .event{
   display: grid;
}

.event.interesting {
   grid-template-columns: auto 1fr auto auto;
   grid-template-rows:  repeat(3, auto) 1fr;
   grid-template-areas: 
      "h h h h"
      "src src src src"
      "ca content content content"
      ". actions actions actions"
      ". replies replies replies";
   position: relative;
   border-top: calc(var(--top)) solid rgba(var(--c), .2);
   border-bottom: var(--top) solid rgba(var(--c), .2);
   background-color: rgba(var(--c),1);
   padding-left: 0;
   padding-top: 0;
   transition: var(--trans-quart-io);
}


.event.root:not(.mom):not(.interesting),
.event.interesting > .replies > .reply {
   grid-template-columns: auto 1fr auto 2fr;
   grid-template-columns: minmax(33vw, auto) 1fr;
   grid-template-rows: auto 1fr;
   grid-template-areas: 
      "h h"
      "content replies"
      "actions replies"
      "src src";
   grid-gap: 0;
   margin-bottom: var(--pad);
   --c-root: var(--cc)
}

.p-k .event.root:not(.mom):not(.interesting),
.p-k .event.interesting .reply {
   grid-template-columns: auto 1fr;
   grid-template-rows: auto auto 1fr;
   grid-template-areas: 
      "h h"
      "content content"
      "actions actions"
      ". replies";
}

.event.root:not(.mom):not(.interesting) {
   margin-bottom: var(--line);
}

.event:last-child {
   margin-bottom: 0!important;
}

.event.interesting > .content.has-media {
   padding: 0!important;
}

.event.root:not(.interesting):not(.mom) > .heading,
.event.interesting .event .heading {
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   z-index: 7;
   background: rgb(var(--c-a-a));
}

.event.root:not(.interesting):not(.mom) > .content,
.event.interesting .event.reply > .content {
   align-self: start;
   position: sticky;
   position: -webkit-sticky;
   top: 1rem;
   max-width: 40vw;
}

.event.interesting > .content {
   color: rgb(var(--c-a-f));
   position: relative;
   padding-bottom: 1.5rem;
   padding-left: var(--pad);
   top: 0;
   max-height: unset;
   hyphens: auto;
   -webkit-hyphens: auto;
   max-width: unset!important;
}

.event.interesting > .replies {
   align-self: start;
}

.has-interesting .replies {
   z-index: unset;
}

.interesting > .created-at {
   display: block;
}

.interesting .tags {
   line-height: unset;
   justify-content: start;
   justify-items: start;
   align-items: end;
}

/* @end */

/* @group alphaama */

#alphaama {
   grid-area: footer;
   padding: 1rem;
   padding-bottom: var(--line);
   box-sizing: border-box;
}

.ffs #alphaama,
.has-interesting #alphaama {
   display: none;
}

#alphaama p {
   hyphens: auto;
   -webkit-hyphens: auto;
}

#alphaama p::before {
   content: "/* ";
}

#alphaama p::after {
   content: " */";
}

#alphaama em {
   color: rgb(var(--c-b-c));
}

#alphaama a {
   color: rgb(var(--c-b-g));
   box-sizing: border-box;
   display: inline-block;
}

#alphaama a::before {
   content: " */ ";
}

#alphaama a::after {
   content: " /* ";
}

#alphaama a:hover {
   text-decoration: underline;
}

/* @end */

/* @group relaytionship */

/* @end */
/* @group content */

.content p {
   margin-bottom: 1.4rem;
   overflow: hidden;
   max-width: 100%;
   white-space: pre-wrap;
}

.content p:last-child {
   padding-bottom: 0;
   margin-bottom: 0;
}

.interesting > .content p {
   cursor: auto;
   hyphens: auto;
   overflow: hidden;
   margin: 0;
}

.content-video,
.content-img {
   justify-self: start;
   align-self: start;
   max-width: 100%;
   max-height: var(--media-height);
   object-fit: contain;
   box-sizing: border-box;
   position: relative;
   padding: .5rem 0;
   margin: 0;
   display: block;
}

.interesting > .content .content-video {
   height: var(--media-max-height);
   max-height: unset;
}

.interesting > .content .content-img {
   height: auto;
   max-height: unset;
}

.content-link {
   color: rgba(var(--c-b-f), .7);
   word-break: break-all;
}

.content-link:hover {
   color: rgba(var(--c-b-f), 1);
}

.about .content-link {
   vertical-align: bottom;
}

.content iframe {
   background: rgb(var(--c-b-a));
   border: none;
   border: 1px dotted rgb(var(--c-a-a));
   font-family: "fu", monospace;
}

.yt { 
   margin: 0;
   z-index: 6;
}

.yt iframe, .yt object, .yt embed { 
   border: none;
}

.interesting > .content .yt {
   z-index: 5;
}

.interesting > .content .yt iframe, .interesting > .content .yt object, .interesting > .content .yt embed {
   height: var(--media-max-height);
   width: 100%;
}

/* @end */
/* @group yo */

.yo{
   color: rgb(var(--c-a-e));
   display: grid;
   position: relative;
   justify-self: start;
   grid-template-rows: 1fr auto;
   grid-template-areas:
      "yo";
   margin: 0; 
   padding-top: var(--line);
}

.yo video.started {
   
}

.yo.is-over {
   color: rgb(var(--c-a-f));
}

.yo video {
   grid-area: yo;
   background: black;
   opacity: .5;
   margin: 0;
}

.yo video.over{
   cursor: pointer;
   opacity: 1;
}

.yo video.playin {
   opacity: 1;
   z-index: 1;
}

.yo figcaption{
   grid-area: yo;
   display: grid;
   grid-template-columns: 1fr auto;
   grid-template-areas:
      "progress progress"
      "before before"
      "vhs vhs"
      ". after";
   padding: .5rem;
   align-self: start;
   align-items: start;
   align-content: start;
   text-align: right;
   transform: translateY(-2rem);
   cursor: pointer;
}

.yo figcaption.over {
   z-index: 2;
}

.yo figcaption:hover::before {
   content: "<video rewind";
}

.yo figcaption::before {
   content: "<video " attr(data-duration)"s";
   grid-area: before;
   white-space: pre;
}

.yo video.over + figcaption::before {
   content: "<video play " attr(data-duration)"s";
}

.yo .started + figcaption::before {
   content: "<video " attr(data-remains)"s";
}

.yo .started + figcaption.over::before {
   content: "<video rewind";
}

.yo video.started.over + figcaption::before {
   content: "<video play " attr(data-remains)"s";
}

.yo video.started.playin.over + figcaption::before {
   content: "<video pause " attr(data-remains)"s";
}

.yo .vhs {
   width: 100%;
   grid-area: vhs;
   word-break: break-all;
   justify-self: start;
   mix-blend-mode: color-dodge;
   top: 0rem;
   box-sizing: border-box;
   cursor: text;
}

.over .vhs {
   opacity: 1;
}

.yo .vhs::after {
   content: ">";
}

.yo figcaption progress {
   grid-area: progress;
   align-self: center;
   pointer-events: none;
   width: 100%;
}

.yo figcaption progress[value] {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: 100%;
   height: 1px;
   margin: 0;  
}

.yo figcaption progress[value]::-webkit-progress-bar{
   background-color: rgba(var(--c-a-e), .2);
}

.yo figcaption progress[value]::-webkit-progress-value{
   background-color: rgb(var(--c-a-a));     
}

/* @end */

@media screen and (max-width: 769px) {
   :root {
      --font-size: 14px;
   }
   
   #messages {
      grid-template-columns: 1fr;
      grid-template-areas:
         "knd0"
         "knd1"
         "ama";
   }
   
   .p-k #kind-0 {
      position: relative;
   }
   
   .event.root:not(.mom):not(.interesting),
   .event.interesting .event.reply {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto 1fr;
      grid-template-areas: 
         "h h"
         "content content"
         "actions actions"
         ". replies";
      grid-gap: 0;
      margin-bottom: var(--top);
   }
   
   .event.root:not(.interesting):not(.mom) > .heading,
   .event.interesting .event > .heading,
   .event.root:not(.interesting):not(.mom) > .content,
   .event.interesting .event > .content,
   .over:not(.more-over) > .content {
      top: 0;
      position: relative;
   }
   
   .fren {
      grid-template-rows: repeat(7, auto) 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
         "pubkey"
         "header"
         "follows-u"
         "follows"
         "relays"
         "dms"
         "interactions"
         "active";
   }
   
   .solo .follows.active,
   .solo .follows-u.active {
      align-items: center;
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
      grid-gap: var(--pad);
   }
   
   .event.interesting {
      grid-template-columns: var(--pad) 1fr auto auto;
      grid-template-rows:  repeat(3, auto) 1fr;
      grid-template-areas: 
         "btn btn btn btn"
         "h h h h"
         "ca ca ca ca"
         "src src src src"
         "content content content content"
         ". replies replies replies";
      position: relative;
   }
   
   .raw {
      grid-template-columns: 1fr;
   }
   
   .raw dt {
      text-align: left;
   }
   
   .raw dd {
      padding: 0 var(--pad);
   }
   
   .content {
      color: rgb(var(--c-a-e));
   }
   
   .event.root:not(.mom):not(.interesting) > .replies .content,
   .event.interesting .replies .content {
      max-width: unset;
      justify-self: stretch;
   }
   
   .event.root:not(.interesting):not(.mom) > .content,
   .event.interesting .replies .content {
      max-width: unset;
   }
   

}
