@font-face { 
   font-family: fu; 
   src:  url('aa--fu.otf') format("opentype"),
	      url('aa--fu.ttf') format("truetype"); 
}

:root { 
/* 
     grays                colors              */
   --c-a-a:  23, 23, 23;--c-b-a: 204,102,102; /* red */
   --c-a-b:  55, 55, 55;--c-b-b: 222,147, 95; /* orange */
   --c-a-c:  82, 82, 82;--c-b-c: 240,198,116; /* yellow */
   --c-a-d: 123,123,123;--c-b-d: 181,189,104; /* green */
   --c-a-e: 180,180,180;--c-b-e: 138,190,183; /* cyan */
   --c-a-f: 223,223,223;--c-b-f: 129,162,190; /* blue */
                        --c-b-g: 178,148,187; /* violet */
   
   --bezier-quart: cubic-bezier(0.25, 1, 0.5, 1);
   --trans: all .3s ease-in-out 0s;
   --trans-quart: all .4s cubic-bezier(0.25, 1, 0.5, 1) 0s;
   --trans-quart-io: all .3s cubic-bezier(0.76, 0, 0.24, 1) 0s;
   
   --font-size: 16px;
   --font-size-s: .69420rem;
   --line: 2rem;
   --pad: .4rem;
   --size: 4rem;
   --media-height: 50vh; /* calc(1rem * 4); */
   --media-max-height: calc(100vh - 8rem - var(--line));    
   --top: 0;
}

html,
body {
   width: 100%;
   min-height: 100%;
   padding: 0;   
   margin: 0;
   font-size: var(--font-size);
   font-family: fu, monospace;
   letter-spacing: .023em;
   background-color: rgb(var(--c-a-a));	
   -webkit-text-size-adjust: 100%;
   line-height: var(--line);
}

#aa {
   color: rgb(var(--c-a-d));
   position: relative;
   display: grid;
   grid-template-rows: auto auto 1fr auto;
   grid-template-columns: 1fr;
   grid-template-areas:
      "h1"
      "header"
      "main"
      "aside"
      "footer";
   align-items: start;   
   min-height: 100vh;
   box-sizing: border-box;
   padding-bottom: var(--size);
}

*::-webkit-scrollbar {
   width: 0px;
   height: 0px;
}

/* @group default */

h1, h2, h3 ,h4, h5, h6, p, ul, ol, li, span, a, button, textarea {
   margin: 0;
   padding: 0;
   font-size: inherit;
   font-weight: normal;
   font-family: inherit;
   color: inherit; 
   text-decoration: none;
   list-style-type: none;
   -webkit-appearance: none;
           appearance: none;
   border-radius: 0;
   border: none;
   background: none;
   box-shadow: none;
}

button {
   color: rgb(var(--c-a-a));
   display: grid;
   line-height: normal;
   cursor: pointer;
}

button:hover {
   color: rgb(var(--c-a-f));
}

::selection{
   background: white;
}

/* @end */
/* @group animations */

@keyframes foo-in {
   
   0% {
      opacity: 0;
   }
   
   100% {
      opacity: 1;
   }
}

/* @end */
/* @group a */

#a {
   color: rgb(var(--c-a-d));
   background: rgb(var(--c-a-a));
   grid-area: h1;
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   margin: 0;
   padding: var(--pad);
   z-index: 23;
}

#a::before {
   content: attr(data-id-a);
   color: rgb(var(--c-a-c));
   padding-right: var(--pad);
}

/* @end */
/* @group whatever the fuck you want */

#wtfyw {
   background: rgb(var(--c-a-a));
   grid-area: footer;
   position: fixed;
   bottom: 0;
   display: grid;
   grid-template-columns: 1fr var(--size);
   grid-template-areas:
      "story story"
	   "i     u";
   width: 100vw;
   box-shadow: 0px -1rem 2rem 0 rgb(var(--c-a-a));
   z-index: 8;
}

#u {
   align-self: end;
   grid-area: u;
   display: grid;
   width: var(--size);
   height: var(--size);
   background-size: cover;
   background-position: 50% 50%;
   object-fit: cover;
   font-size: 0;
   text-align: center;
}

#iot {
   color: rgb(var(--c-b-c));
   background: rgb(var(--c-a-a));
   grid-area: i;
   display: grid;
   padding: 0 var(--line);
   padding-top: 1rem;
   font-size: 1rem;
   transition: var(--trans-quart);
   resize: none;
   box-sizing: border-box;
   -webkit-line-break: normal;
}

#iot:focus {
   outline: none;
   color: rgb(var(--c-a-a));
   background: rgb(var(--c-b-b));
   padding: var(--line);
}

#iot::placeholder {
   color: rgb(var(--c-b-c));
}

#iot:focus::placeholder {
   color: rgb(var(--c-a-c));
}

/* @end */
/* @group options */

#options {
   grid-area: options;
   background: rgb(var(--c-a-a));
   display: grid;
   justify-self: end;
   justify-content: start;
   align-content: end;
   align-self: end;
   padding-bottom: 1rem;
   transform: translateY(-100%);
   box-sizing: border-box;
}

.option {
   color: rgb(var(--c-b-g));
   position: sticky;
   position: -webkit-sticky;
   bottom: 0;
   display: grid;
   grid-template-columns:  1fr auto auto;
   justify-self: end;
   height: auto;
   transition:  var(--trans-quart);
}

.mode-input .option {
   color: rgb(var(--c-a-a));
}

.option.active  {
   color: rgb(var(--c-a-f));
   background: rgb(var(--c-a-a));
   grid-template-columns: auto auto 1fr;
   padding-left: 0;
   word-break: keep-all;
}

.option::before {
   content: "--";
}

.option.active::after {
   content: attr(data-tog);
}

/* @end */
/* @group messages */

#messages {
   grid-area: main;
   position: relative;
   display: grid;
   grid-gap: var(--pad) 0;
   grid-template-columns: auto 1fr;
   grid-template-areas:
      "notif knd0 knd0"
      "notif knd1 knd1"
      "notif ama ama";
   grid-gap: var(--pad);
   z-index: 1;
}

#notifications {
   grid-area: notif;
}

.anykind {
   color: rgb(var(--c));
   display: grid;
   grid-template-areas:
      "kind note";
   word-break: break-all;
   overflow: hidden;
}

.anykind::before {
   content: attr(data-kind);
}

.anykind .l-id,
.anykind .l-tags {
   display: none;
}

/* @end */
/* @group kind0 */

#kind-0 {
   grid-area: knd0;
   display: grid;
   grid-template-columns: 1fr;
   align-items: start;
   align-self: start;
}

.fren {
   display: grid;
   position: relative;
   grid-template-rows: auto 1fr auto;
   grid-template-columns: max-content 1fr;
   grid-template-areas:
      "pubkey pubkey"
      "header follows-u"
      "header follows"
      "header relays"
      "header dms"
      "header interactions"
      "active active";
   align-items: end;
}

.ffs .fren{
   margin-bottom: var(--line);
   border: 1px solid rgb(var(--c));
   border-bottom: 0;
}

.fren .metadata {
   grid-area: header;
   display: grid;
   grid-template-columns: auto 1fr;
   grid-template-rows: 1fr auto;
   grid-template-areas:
      "picture logo"
      "picture name"
      "about about";
   align-self: start;
   align-items: start;
}

.fren .picture {
   grid-area: picture;
   align-self: start;
   max-height: 10.6rem;
   height: unset;
   transition: var(--trans-quart);
   object-fit: contain;
   object-position: 0% 0%;
   cursor: pointer;
}

.fren .id {
   color: rgb(var(--c-b-a));
}

.fren .pubkey {
   grid-area: pubkey;
   margin: 0;
   align-self: start;
   padding: var(--pad);
   max-width: 100%;
   word-break: break-all;
   box-sizing: border-box;
   z-index: 4;
   background: rgb(var(--c-a-a));
   color: rgb(var(--c));
}

.fren .pubkey::selection {
   color: rgb(var(--c-a-a));
   background: rgb(var(--c-a-f));
}

/*.fren .pubkey::before,
.fren .pubkey::after {
   content: "---";
   position: absolute;
   width: 1.9em;
   overflow: visible;
   word-break: keep-all;
   transform: translateX(-.14rem) translateY(.6rem);
   pointer-events: none;
   color: rgb(var(--c));
}*/

.fren .pubkey::after {
   transform: translateX(-100%) translateY(.6rem);
}

.fren .logo {
   grid-area: logo;
   width: var(--line);
   height: var(--line);
   /*make your own filter: 
   https://codepen.io/sosuke/pen/Pjoqqp */
   filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
   padding: var(--pad);
   z-index: 23;
   box-sizing: border-box;
   align-self: end;
}

.name {
   grid-area: name;
   display: grid;
   word-break: keep-all;
   grid-template-areas: "petname""nip05";
   justify-self: start;
   align-self: start;
   align-self: end;
   z-index: 4;
   padding: 0 var(--pad);
   background: rgb(var(--c-a-a));
}

.petname {
   color: rgb(var(--c-a-f));
   position: relative;
   grid-area: petname;
   z-index: 1;
   justify-self: start;
}

.name[data-nip05] .petname {
   /*color: rgb(var(--c));*/
}

.name::before {
   grid-area: nip05;
   content: attr(data-nip05) "";
   justify-self: start;
   align-self: end;
   font-size: var(--font-size-s);
   line-height: 1;
}

.about {
   color: rgb(var(--c-a-d));
   background-color: rgb(var(--c-a-a));
   margin: 0;
   transform-origin: bottom left;
   line-height: 1.4;
   word-break: break-word;
   white-space: pre-wrap;  
   padding: var(--pad);
   grid-area: about;
}

.about::before {
   content: "\\";
   display: block;
}

.solo .section {
   padding: 0 var(--pad);
   color: rgb(var(--c-a-c));
   display: grid;
   justify-self: end;
   cursor: pointer;
   background: rgb(var(--c-a-a));
   margin: 1px;
}

.solo .section::before {
   content: attr(data-label);
   grid-column: 1 / -1;
   text-align: right;
   justify-self: end;
   background: rgb(var(--c-a-a));
}

.section .section-item {
   display: none;
}

.solo .section.active {
   width: 100%;
   box-sizing: border-box;
   grid-area: active;
   padding-bottom: var(--line);
}

.solo .section.active::before {
   content: "--" attr(data-label);
   color: rgb(var(--c-a-e));
}

.solo .section.active .section-item {
   display: grid;
}

.relays {
   grid-area: relays;
   display: grid;
   align-items: start;
   justify-self: end;
}

.relay {
   padding-left: calc(var(--line) + var(--pad));
   text-indent: calc(var(--line)*-1);
   align-self: start;
}

.relay::before {
   content: "-" attr(data-read) attr(data-write);
   margin-right: var(--pad);
   word-break: keep-all;
}

.solo .follows.active,
.solo .follows-u.active {
   align-items: center;
   grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
   grid-gap: var(--pad);
}

.follows-u {
   grid-area: follows-u;
}

.follows {
   grid-area: follows;
} 


.follow {
   padding-bottom: 1px;
   margin-right: var(--pad);
   max-width: 8rem;
   overflow: hidden;
}

.follow a {
   border-bottom: 1px solid rgb(var(--c));
   display: inline-block;
   
}

.interactions {
   grid-area: interactions;   
}

.interaction.unread {
   display: grid!important;
}

.interaction {
   grid-template-columns: auto;
   grid-auto-flow: column;
   justify-items: start;
   justify-content: center;
   grid-gap: var(--pad);
   padding: var(--pad);
   color: rgb(var(--c-a-c));
}

.interaction a {
   color: rgb(var(--cc));
}

.interaction.read {
   opacity: .5;
   display: none;
}

.inbox-state {
   margin-left: var(--pad);
   display: grid;
   align-content: center;
   color: rgb(var(--c-a-d));
}

.interaction.read .inbox-state {
   display: none;
}

.p-k .fren:not(.solo) {
   display: none!important;
}

.fren.solo {
   padding-bottom: 1px;
   margin-bottom: calc(var(--line) + calc(var(--pad)*2));
   background: linear-gradient(to left, rgb(var(--c-a-a)) 0%, rgb(var(--c)) 100%);
}

body:not(.ffs) .fren:not(.solo) > *:not(.interactions)
{
   display: none;
}

.dms {
   grid-area: dms;
   overflow-y: scroll;
   max-height: var(--media-max-height);
}

.dm {
   /*display: none;*/
}

.own.dm {
   justify-self: end;
}

/* @end */
/* @group kind1 */

#kind-1 {
   --top: calc(var(--line) + calc(var(--pad)*2));
   position: relative;
   display: grid;	
   grid-area: knd1;
   z-index: 2;
   background: rgb(var(--c-a-a));
   align-self: start;
}

.event {
   position: relative;
   box-sizing: border-box;
}

.event,
#kind-1 > .event:not(.mom):not(.interesting).hidden {
   background: linear-gradient(to bottom, rgba(var(--cc),1) 0%, rgba(var(--c-a-a),1) 50%);
   background: rgba(var(--c-a-a));
   display: grid;
   grid-template-columns: var(--pad) auto 1fr;
   grid-template-rows: auto auto 1fr;
   grid-template-areas: 
      "h h h"
      "src src src"
      "content content content"
      "replies replies replies";
   box-sizing: border-box;
   border-left: 1px dotted rgba(var(--c), .666);
   padding-left: var(--pad);
}

.event .heading {
   grid-area: h;
   min-height: var(--line);
   color: rgb(var(--c-a-f));
   align-self: center;
   align-content: center;
   display: grid;
   grid-template-areas: 
      "name id tags";
   grid-template-columns: auto 1fr;
   font-size: var(--font-size-s);
   
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
}

.heading .id {
   grid-area: id;
   color: rgb(var(--c-a-d));
   padding: 0 var(--pad);
   word-break: keep-all;
   border-bottom: 1px dotted rgba(var(--cc),.6);
   text-align: right;
}

.heading .author {
   color: rgb(var(--c-a-c));
   background-color: rgb(var(--c-a-a));
   padding: 0 var(--pad);
   padding-left: var(--pad);
   z-index: 10;
   grid-area: name;
   justify-self: start;
   align-self: end;
   border-bottom: 1px dotted rgba(var(--c), .6);
}

.heading .author.has-picture {
   background-size: var(--line);
   background-position: 0 center;
   background-repeat: no-repeat;
   padding-left: calc(var(--line) + var(--pad));
}

.event.mom > .heading {
   min-height: 6px;
}

#kind-1 > .mom > .heading,
.mom:not(.interesting) > .heading {
   position: relative;
   top: 0;
}

.content {
   color: rgb(var(--c-a-d));
   background: rgb(var(--c-a-a));
   grid-area: content;
   display: grid;
   padding-left: var(--pad);
   padding-right: var(--pad);
   
   border: 1px solid transparent;
   border-left: none;
   box-sizing: border-box;
}

.replies {
   grid-area: replies;
   z-index: 2;
}

.created-at {
   color: rgb(var(--c-a-d));
   background-color: rgb(var(--c-a-a));
   padding-left: var(--pad);
}

.event .created-at {
   display: none;
   grid-area: ca;
}

.created-at::before {
   content: "~";
}

button.view-source {
   display: none;
   grid-area: btn;
   font-size: var(--font-size-s);
   line-height: calc(var(--line) + calc(var(--pad)*2));
   line-height: calc(var(--pad)*2);
   background-color: rgb(var(--cc));
   
}

.event > .source {
   grid-area: src;
   display: none;
   cursor: auto;
   background-color: rgb(var(--c-a-a));
}

.event .source::before {
   content: "{";
   grid-column: 1/-1;
}

.event .source::after {
   content: "}";
   grid-column: 1/-1;
   justify-self: end;
}

.raw {
   grid-template-columns: auto 1fr;
   white-space: pre-wrap;
   word-break: break-all;
   hyphens: auto;
   -webkit-hyphens: auto;
   padding: var(--pad);
   margin: 0;
}

.raw dt {
   text-align: right;
   opacity: .6;
}

.raw dd {
   padding: 0 var(--line);
   margin: 0;
   margin-bottom: var(--pad);
}

.event.view-source > .source {
   display: grid!important;
}

.event.view-source > .content,
.event.view-source > .replies,
.event.view-source > .created-at {
   display: none!important;
}

.event:not(.mom).hidden {
   margin: 0!important;
   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
}

.event.interesting .hidden {
   margin: 0!important;
   -webkit-user-select: auto;
      -moz-user-select: auto;
       -ms-user-select: auto;
           user-select: auto;
   pointer-events: auto;
}

.event.hidden > .content,
.event.hidden > .heading,
.event.hidden > .tags {
   display: none;
}

.event:not(.mom).hidden > .replies {
   border: none;
   border-top: none;
   border-bottom: none;
}

.event.mom > .content,
.event.mom > .heading,
.event.mom > .tags,
.event.interesting .event.hidden > .content,
.event.interesting .event.hidden > .heading,
.event.interesting .event.hidden > .tags
{
   display: grid;
}

/* @end */

/* @group tags */

.tags {
   grid-area: tags;
   overflow-x: scroll;
   display: grid;
   grid-auto-flow: column;
   grid-auto-flow: dense;
   grid-template-areas: "p-reply e-reply p-root e-root . . . . . . . . . . .";
   grid-template-columns: auto;
   justify-content: start;
   font-size: var(--font-size-s);
   height: min-content;
   padding-bottom: 0;
   align-self: center;
   /*line-height: 1;*/
}

.tag {
   word-break: keep-all;
   /*color: rgb(var(--c-a-a));*/
   /*background: rgb(var(--c));*/
   padding: 0 var(--pad);
   border-bottom: 1px solid rgb(var(--c));
}

.tag:hover {
   background: rgb(var(--c-a-f));
   color: rgb(var(--c-a-a));
}

.tags .tag {
   /*display: none;*/
}

.event:not(.orphan) > .heading .tags .tag-p-reply,
.event:not(.orphan) > .heading .tags .tag-e-reply,
.event:not(.orphan) > .heading .tags .tag-p-root,
.event:not(.orphan) > .heading .tags .tag-e-root {
   display: none;
}

/*.orphan > .tags > .tag-e-parent,*/
.orphan > .heading .tags .tag-p-reply,
.orphan > .heading .tags .tag-e-reply,
.orphan > .heading .tags .tag-p-root,
.orphan > .heading .tags .tag-e-root,
.tags .tag-nonce,
.interesting > .heading .tags .tag {
   display: block;
}

.tag-p {
   text-decoration-style: dotted;
   /*grid-row: 1;*/
}

.tag-e {
   text-decoration-style: dotted;
   /*grid-row: 2;*/
}

.tag-p-root {
   grid-area: p-root;
}

.tag-p-reply {
   grid-area: p-reply;
}

.tag-e-root {
   grid-area: e-root;
}

.tag-e-reply {
   grid-area: e-reply;
}

.tag-e-root::before {
   content: "//";
}

.tag-e-reply::before,
.tag-e-reply.tag-e-root::before {
   content: "/";
}

.tag-p-root::before {
   content: "=>";
}

.tag-p-reply::before, 
.tag-p-reply.tag-p-root::before {
   content: "->";
}

.tag-nonce {
   font-size: var(--font-size-s);
   border: none;
   color: rgb(var(--c));
   text-decoration: none;
   grid-column: -1;
   background: none;
}

.tag-nonce::before,
.tag-nonce a::after {
   content: "";
}

.tag-hashtag {

}

.tag-hashtag::before {
   content: "#";
   /*color: rgb(var(--c));*/
}

/* @end */

/* @group over */

.event.over {
   cursor: pointer;
}

.event.over:not(.more-over) {
/*   border-left-color: rgba(var(--c), 1);
   border-left-style: solid;*/
}

/*.over:not(.more-over) > .heading,
#kind-1 > .event:not(.mom) > .heading,
#kind-1 > .event.mom.over:not(.more-over) > .heading {
   position: sticky;
   position: -webkit-sticky;
   top: calc(var(--line) + calc(var(--pad)*2));
   top: var(--top);
   /*top:  calc(var(--pad)*2);*!/
}*/

.more-over > .content {
   color: rgb(var(--c-a-d));
}

.over:not(.more-over) > .content {
   z-index: 3;
   color: rgb(var(--c-a-e));
   background: rgb(var(--c-a-a));
   position: sticky;
   position: -webkit-sticky;
   top: var(--top);
   top: calc(var(--line) + calc(var(--pad)*2));
}

.over:not(.more-over) > .content img {
   /*max-height: var(--line);*/
}

/* @end */

/* @group interesting */

.k-e #anykind,
.k-e #kind-0 {
   display: none;
}

.k-e .event,
.k-e #kind-1 > .event:not(.mom):not(.interesting).hidden{
   display: none;
}

.k-e .event.mom,
.k-e .event.interesting,
.k-e .event.interesting .event{
   display: grid;
}

.event.interesting {
   grid-template-columns: var(--line) 1fr auto auto;
   grid-template-rows:  repeat(3, auto) 1fr;
   grid-template-areas: 
      "btn btn btn btn"
      "h h h h"
      "ca ca ca ca"
      "src src src src"
      "content content content content"
      ". replies replies replies";
   position: relative;
}

.event.interesting.mom {
   border: var(--line) solid rgba(var(--c), 1);
   padding-left: 0;
}

#kind-1 > .event:not(.mom):not(.interesting),
.event.interesting > .replies > .event {
   grid-template-columns: auto 1fr auto 2fr;
   grid-template-rows: auto 1fr;
   grid-template-areas: 
      "h h h h"
      "src src src src"
      "content content replies replies";
   grid-gap: 0;
   margin-bottom: var(--pad);
   --c-root: var(--cc)
}

.event:last-child {
   margin-bottom: 0!important;
}

.event.interesting > .content.has-media {
   padding: 0!important;
}

#kind-1 > .event:not(.interesting):not(.mom) > .heading,
.event.interesting > .replies > .event > .heading {
   position: sticky;
   position: -webkit-sticky;
   top: calc(var(--top));
}

#kind-1 > .event:not(.interesting):not(.mom) > .content,
.event.interesting > .replies > .event > .content {
   align-self: start;
   position: sticky;
   position: -webkit-sticky;
   top: calc(var(--top) + var(--line));
}

.event.interesting > .content {
   color: rgb(var(--c-a-f));
   position: relative;
   padding-bottom: 1.5rem;
   top: 0;
   max-height: unset;
}

.event.interesting > .replies {
   box-shadow: -1rem 1rem 2rem rgb(var(--c-a-a));
   align-self: start;
}

.k-e .replies {
   z-index: unset;
}


/*.interesting > .view-source*/
.interesting > .created-at {
   display: block;
}

.interesting .tags {
   line-height: unset;
   justify-content: start;
   justify-items: start;
}

/* @end */

/* @group alphaama */

#alphaama {
   grid-area: ama;
   padding: 1rem;
   box-sizing: border-box;
}

.ffs #alphaama,
.k-e #alphaama {
   display: none;
}

#alphaama p {
   hyphens: auto;
   -webkit-hyphens: auto;
}

#alphaama p::before {
   content: "/* ";
}

#alphaama p::after {
   content: " */";
}

#alphaama p em {
   color: rgb(var(--c-b-c));
}

#alphaama a {
   color: rgb(var(--c-b-g));
   box-sizing: border-box;
   display: inline-block;
}

#alphaama a::before {
   content: " */ ";
}

#alphaama a::after {
   content: " /* ";
}

#alphaama a:hover {
   text-decoration: underline;
}

/* @end */

/* @group f */

#story {
   grid-area: story;
   position: sticky;
   position: -webkit-sticky;
   width: 100%;
   bottom: 3.6rem;
   
   z-index: 6;
   
   background: rgb(var(--c-a-a));
   display: grid;
   align-items: end;
   max-height: 3rem;
   position: relative;
   box-sizing: border-box;
   counter-reset: fool -1;
   overflow: scroll;
}

#story::before {
   content: attr(data-log);
   background: black;
   position: absolute;
   transform: translateY(-100%);
}

.mode-input #story,
#story:hover  {
   max-height: 23rem;
}

.mode-input #story li{
   border-bottom: 1px dotted rgb(var(--c-a-a));
}

#story li {
   color: rgb(var(--c-a-c));
   background: black;
   display: grid;
   grid-template-columns: 3.6rem auto 1fr;
   grid-gap: 1rem;
   grid-template-areas: 
      "before and after";
   width: calc(100%);
   position: sticky;
   position: -webkit-sticky;
   left: 0;
   bottom: 0;
   line-height: var(--line);
   text-align: baseline;
   transform-origin: top center;
   counter-increment: fool;
   white-space: pre;
}

#story li:nth-child(n+3):not(:nth-last-child(-n+3)) {
   top: 0;
   bottom: unset;
}

.mode-input #story li {
   color: rgb(var(--c-a-c));
}

.mode-input #story li:nth-last-child(-n+3),
#story:hover li:nth-last-child(-n+3) {
   color: rgb(var(--c-a-e));
   opacity: 1;
}

#story li::before {
   content: "[" counter(fool) "] \"";
   grid-area: before;
   text-align: right;
   opacity: .5;
}

.mode-input #story li::before {
   align-self: start;
}

#story li::after {
   content: attr(data-tip);
   grid-area: after;
   width: 100%;
   opacity: .5;
   word-break: break-all;
}

/* @end */
/* @group content */

.content p {
   margin-bottom: 1.4rem;
   overflow: hidden;
   max-width: 100%;
/*   hyphens: auto;
   -webkit-hyphens: auto;*/
}

.content p:last-child {
   padding-bottom: 0;
}

.interesting > .content p {
   margin: var(--line);
   cursor: auto;
}

.content-video,
.content-img {
   justify-self: start;
   align-self: start;
   max-width: 100%;
   max-height: var(--media-height);
   object-fit: contain;
   box-sizing: border-box;
   position: relative;
   padding: .5rem 0;
   margin: 0;
   display: block;
}

.interesting > .content .content-video {
   height: var(--media-max-height);
   max-height: unset;
}

.interesting > .content .content-img {
   /*height: var(--media-max-height);*/
   height: auto;
   max-height: unset;
}

.content-link {
   color: rgba(var(--c-b-f), .7);
   word-break: break-all;
}

.content-link:hover {
   color: rgba(var(--c-b-f), 1);
}

.about .content-link {
   vertical-align: bottom;
}

.content iframe {
   background: rgb(var(--c-b-a));
   border: none;
   border: 1px dotted rgb(var(--c-a-a));
   font-family: "fu", monospace;
}

.yt { 
   margin: 0;
   z-index: 6;
}

.yt iframe, .yt object, .yt embed { 
   border: none;
}

.interesting > .content .yt {
   z-index: 5;
}

.interesting > .content .yt iframe, .interesting > .content .yt object, .interesting > .content .yt embed {
   height: var(--media-max-height);
   width: 100%;
}

.mention {
   background: none;
   color: inherit;
   display: inline-block;
   border-bottom: 1px solid rgb(var(--c));
   padding: 0;
}

.mention:hover {
   background: none;
   color: rgb(var(--c-a-f));
}


/* @end */
/* @group yo */

.yo{
   color: rgb(var(--c-a-e));
   display: grid;
   position: relative;
   justify-self: start;
   grid-template-rows: 1fr auto;
   grid-template-areas:
      "yo";
   margin: 0; 
   padding-top: var(--line);
}

.yo video.started {
   
}

.yo.is-over {
   color: rgb(var(--c-a-f));
}

.yo video {
   grid-area: yo;
   background: black;
   opacity: .5;
   margin: 0;
}

.yo video.over{
   cursor: pointer;
   opacity: 1;
}

.yo video.playin {
   opacity: 1;
   z-index: 1;
}

.yo figcaption{
   grid-area: yo;
   display: grid;
   grid-template-columns: 1fr auto;
   grid-template-areas:
      "progress progress"
      "before before"
      "vhs vhs"
      ". after";
   padding: .5rem;
   align-self: start;
   align-items: start;
   align-content: start;
   text-align: right;
   transform: translateY(-2rem);
   cursor: pointer;
}

.yo figcaption.over {
   z-index: 2;
}

.yo figcaption:hover::before {
   content: "<video rewind";
}

.yo figcaption::before {
   content: "<video " attr(data-duration)"s";
   grid-area: before;
   white-space: pre;
}

.yo video.over + figcaption::before {
   content: "<video play " attr(data-duration)"s";
}

.yo .started + figcaption::before {
   content: "<video " attr(data-remains)"s";
}

.yo .started + figcaption.over::before {
   content: "<video rewind";
}

.yo video.started.over + figcaption::before {
   content: "<video play " attr(data-remains)"s";
}

.yo video.started.playin.over + figcaption::before {
   content: "<video pause " attr(data-remains)"s";
}

.yo .vhs {
   width: 100%;
   grid-area: vhs;
   word-break: break-all;
   justify-self: start;
   mix-blend-mode: color-dodge;
   top: 0rem;
   box-sizing: border-box;
   cursor: text;
}

.over .vhs {
   opacity: 1;
}

.yo .vhs::after {
   content: ">";
}

.yo figcaption progress {
   grid-area: progress;
   align-self: center;
   pointer-events: none;
   width: 100%;
}

.yo figcaption progress[value] {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: 100%;
   height: 1px;
   margin: 0;  
}

.yo figcaption progress[value]::-webkit-progress-bar{
   background-color: rgba(var(--c-a-e), .2);
}

.yo figcaption progress[value]::-webkit-progress-value{
   background-color: rgb(var(--c-a-a));     
}

/* @end */

@media screen and (max-width: 769px) {
   :root {
      --font-size: 14px;
      /*--top: 5rem;*/
   }
   
   #kind-1 > .event:not(.mom):not(.interesting),
   .event.interesting > .replies > .event {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: 
         "h h"
         "content content"
         ". replies";
      grid-gap: 0;
      margin-bottom: var(--top);
   }
   
   #kind-1 > .event:not(.interesting):not(.mom) > .heading,
   .event.interesting > .replies > .event > .heading,
   #kind-1 > .event:not(.interesting):not(.mom) > .content,
   .event.interesting > .replies > .event > .content,
   .over:not(.more-over) > .content {
      top: 0;
      position: relative;
   }
   
   .fren {
      grid-template-rows: repeat(7, auto) 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
         "pubkey"
         "header"
         "follows-u"
         "follows"
         "relays"
         "dms"
         "interactions"
         "active";
   }
   
   .solo .follows.active,
   .solo .follows-u.active {
      align-items: center;
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
      grid-gap: var(--pad);
   }
   
   .event.interesting {
      grid-template-columns: var(--pad) 1fr auto auto;
      grid-template-rows:  repeat(3, auto) 1fr;
      grid-template-areas: 
         "btn btn btn btn"
         "h h h h"
         "ca ca ca ca"
         "src src src src"
         "content content content content"
         ". replies replies replies";
      position: relative;
   }
   
   .event.interesting.mom {
      border: var(--pad) solid rgba(var(--c), 1);
   }
   
   .raw {
      grid-template-columns: 1fr;
   }
   
   .raw dt {
      text-align: left;
   }
   
   .raw dd {
      padding: 0 var(--pad);
   }
   

}
